<div class="modal fade" id="regLaborales" tabindex="-1" role="dialog" aria-labelledby="titleReg" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleReg">Registros laborales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <div class="row">
                        <div class="col"><i class="fa fa-id-card" aria-hidden="true"></i> 79413933</div>
                        <div class="col"><i class="fa fa-user" aria-hidden="true"></i> Maldonado Diaz Pierre David</div>
                    </div>
                </div>
                <p>Seleccione el registro</p>
                <table class="table table-responsive table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Fecha inicio</th>
                            <th>Empleador</th>
                            <th>Ultima atención</th>
                            <th>Motivo de atención</th>
                            <th>Pase</th>
                            <th>Motivo del pase</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>16/10/2017</td>
                            <td>Coca-Cola</td>
                            <td>Módulo de consultas</td>
                            <td>Solicita informes <br> Solicita oficna policial</td>
                            <td>Si</td>
                            <td>Calculo de beneficio sociales & liquidaciones</td>
                        </tr>
                        <tr>
                            <td>17/10/2017</td>
                            <td>Aceros Arequipa</td>
                            <td>Módulo de consultas</td>
                            <td>Solicita informes</td>
                            <td>No</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</a>
                <a href="#" class="btn btn-sm btn-warning"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</a>
                <a href="#" class="btn btn-sm btn-success"><i class="fa fa-cloud-download" aria-hidden="true"></i> Cargar</a>
            </div>
        </div>
    </div>
</div>