
<div *ngIf="empleador">
    <h2><span jhiTranslate="gatewayApp.empleador.detail.title">Empleador</span> {{empleador.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.empleador.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{empleador.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.empleador.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{empleador.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.empleador.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{empleador.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.empleador.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{empleador.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.empleador.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{empleador.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.empleador.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{empleador.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.empleador.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{empleador.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.empleador.perjuridica">Perjuridica</span></dt>
        <dd>
            <div *ngIf="empleador.perjuridica">
                <a [routerLink]="['/perjuridica', empleador.perjuridica?.id]">{{empleador.perjuridica?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.empleador.pernatural">Pernatural</span></dt>
        <dd>
            <div *ngIf="empleador.pernatural">
                <a [routerLink]="['/pernatural', empleador.pernatural?.id]">{{empleador.pernatural?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.empleador.tippersona">Tippersona</span></dt>
        <dd>
            <div *ngIf="empleador.tippersona">
                <a [routerLink]="['/tippersona', empleador.tippersona?.id]">{{empleador.tippersona?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'empleador/'+ empleador.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
