<div>
    <h2>
        <span jhiTranslate="gatewayApp.atencionpj.home.title">Atencionpjs</span>
        <button class="btn btn-primary float-right jh-create-entity create-atencionpj" [routerLink]="['/', { outlets: { popup: ['atencionpj-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.atencionpj.home.createLabel">
            Create new Atencionpj
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.atencionpj.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="atencionpjs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.vCodreg">V Codreg</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.vCodzon">V Codzon</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.vCodleg">V Codleg</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.nCorrel">N Correl</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.vCodusuaten">V Codusuaten</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.dFecaten">D Fecaten</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.vObsaten">V Obsaten</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.vFlgtel">V Flgtel</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.vFlgadm">V Flgadm</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.vFlgtelr">V Flgtelr</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.vFlgaten">V Flgaten</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.vCodloc">V Codloc</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.atencionpj.legajo">Legajo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let atencionpj of atencionpjs ;trackBy: trackId">
                <td><a [routerLink]="['../atencionpj', atencionpj.id ]">{{atencionpj.id}}</a></td>
                <td>{{atencionpj.vCodreg}}</td>
                <td>{{atencionpj.vCodzon}}</td>
                <td>{{atencionpj.vCodleg}}</td>
                <td>{{atencionpj.nCorrel}}</td>
                <td>{{atencionpj.vCodusuaten}}</td>
                <td>{{atencionpj.dFecaten | date:'mediumDate'}}</td>
                <td>{{atencionpj.vObsaten}}</td>
                <td>{{atencionpj.vFlgtel}}</td>
                <td>{{atencionpj.vFlgadm}}</td>
                <td>{{atencionpj.vFlgtelr}}</td>
                <td>{{atencionpj.vFlgaten}}</td>
                <td>{{atencionpj.vCodloc}}</td>
                <td>{{atencionpj.nUsuareg}}</td>
                <td>{{atencionpj.tFecreg | date:'medium'}}</td>
                <td>{{atencionpj.nFlgactivo}}</td>
                <td>{{atencionpj.nSedereg}}</td>
                <td>{{atencionpj.nUsuaupd}}</td>
                <td>{{atencionpj.tFecupd | date:'medium'}}</td>
                <td>{{atencionpj.nSedeupd}}</td>
                <td>
                    <div *ngIf="atencionpj.legajo">
                        <a [routerLink]="['../legajo', atencionpj.legajo?.id ]" >{{atencionpj.legajo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../atencionpj', atencionpj.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'atencionpj/'+ atencionpj.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'atencionpj/'+ atencionpj.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
