<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTrabajadorLabel" jhiTranslate="gatewayApp.trabajador.home.createOrEditLabel">Create or edit a Trabajador</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!trabajador.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="trabajador.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.trabajador.vNumdocumento" for="field_vNumdocumento">V Numdocumento</label>
            <input type="text" class="form-control" name="vNumdocumento" id="field_vNumdocumento"
                [(ngModel)]="trabajador.vNumdocumento" required maxlength="15" />
            <div [hidden]="!(editForm.controls.vNumdocumento?.dirty && editForm.controls.vNumdocumento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumdocumento?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumdocumento?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 15 }">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.trabajador.vFlgsucesor" for="field_vFlgsucesor">V Flgsucesor</label>
            <input type="text" class="form-control" name="vFlgsucesor" id="field_vFlgsucesor"
                [(ngModel)]="trabajador.vFlgsucesor" required maxlength="1" />
            <div [hidden]="!(editForm.controls.vFlgsucesor?.dirty && editForm.controls.vFlgsucesor?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vFlgsucesor?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vFlgsucesor?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                   This field cannot be longer than 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.trabajador.vUsuarioreg" for="field_vUsuarioreg">V Usuarioreg</label>
            <input type="text" class="form-control" name="vUsuarioreg" id="field_vUsuarioreg"
                [(ngModel)]="trabajador.vUsuarioreg" required maxlength="20" />
            <div [hidden]="!(editForm.controls.vUsuarioreg?.dirty && editForm.controls.vUsuarioreg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuarioreg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuarioreg?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.trabajador.dFechareg" for="field_dFechareg">D Fechareg</label>
            <div class="d-flex">
                <input id="field_dFechareg" type="datetime-local" class="form-control" name="dFechareg" [(ngModel)]="trabajador.dFechareg"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.dFechareg?.dirty && editForm.controls.dFechareg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dFechareg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dFechareg?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.trabajador.nEliminar" for="field_nEliminar">N Eliminar</label>
            <input type="number" class="form-control" name="nEliminar" id="field_nEliminar"
                [(ngModel)]="trabajador.nEliminar" required min="0" max="1" />
            <div [hidden]="!(editForm.controls.nEliminar?.dirty && editForm.controls.nEliminar?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nEliminar?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nEliminar?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nEliminar?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 1 }">
                    This field cannot be more than 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nEliminar?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.trabajador.nSedereg" for="field_nSedereg">N Sedereg</label>
            <input type="number" class="form-control" name="nSedereg" id="field_nSedereg"
                [(ngModel)]="trabajador.nSedereg" required />
            <div [hidden]="!(editForm.controls.nSedereg?.dirty && editForm.controls.nSedereg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nSedereg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nSedereg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.trabajador.vUsuarioupd" for="field_vUsuarioupd">V Usuarioupd</label>
            <input type="text" class="form-control" name="vUsuarioupd" id="field_vUsuarioupd"
                [(ngModel)]="trabajador.vUsuarioupd" maxlength="20" />
            <div [hidden]="!(editForm.controls.vUsuarioupd?.dirty && editForm.controls.vUsuarioupd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuarioupd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.trabajador.dFechaupd" for="field_dFechaupd">D Fechaupd</label>
            <div class="d-flex">
                <input id="field_dFechaupd" type="datetime-local" class="form-control" name="dFechaupd" [(ngModel)]="trabajador.dFechaupd"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.trabajador.nSedeupd" for="field_nSedeupd">N Sedeupd</label>
            <input type="number" class="form-control" name="nSedeupd" id="field_nSedeupd"
                [(ngModel)]="trabajador.nSedeupd"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
