
<div *ngIf="trabajador">
    <h2><span jhiTranslate="gatewayApp.trabajador.detail.title">Trabajador</span> {{trabajador.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.trabajador.nFlgsuces">N Flgsuces</span></dt>
        <dd>
            <span>{{trabajador.nFlgsuces}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.trabajador.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{trabajador.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.trabajador.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{trabajador.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.trabajador.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{trabajador.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.trabajador.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{trabajador.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.trabajador.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{trabajador.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.trabajador.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{trabajador.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.trabajador.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{trabajador.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.trabajador.cartrab">Cartrab</span></dt>
        <dd>
            <div *ngIf="trabajador.cartrab">
                <a [routerLink]="['/cartrab', trabajador.cartrab?.id]">{{trabajador.cartrab?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.trabajador.pernatural">Pernatural</span></dt>
        <dd>
            <div *ngIf="trabajador.pernatural">
                <a [routerLink]="['/pernatural', trabajador.pernatural?.id]">{{trabajador.pernatural?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trabajador/'+ trabajador.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
