<div class="card card-panel mb-3">
    <div class="card-body">
        <div class="row no-gutters y-steps">
            <div class="col d-flex justify-content-center y-step active">
                <div class="y-progress">
                    <div class="y-progress-line"></div>
                </div>
                <div class="y-content">
                    <a href="registro-atencion.html" class="btn-y">
                        <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </a>
                    <p class="text-center mb-0">Datos del trabajador</p>
                    <div class="y-content-descrip">
                        <p class="text-muted text-center mb-0"><small>Busca y completa los datos del empleador que viene a consultar</small></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center y-step">
                <div class="y-progress">
                    <div class="y-progress-line"></div>
                </div>
                <div class="y-content">
                    <a href="registro-atencion2.html" class="btn-y btn-y-disabled">
                        <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </div>
                    </a>
                    <p class="text-center mb-0">Datos del Empleador</p>
                    <div class="y-content-descrip">
                        <p class="text-muted text-center mb-0"><small>Ingreso los principales datos del empleador del trabajador en cuestion</small></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center y-step">
                <div class="y-progress">
                    <div class="y-progress-line"></div>
                </div>
                <div class="y-content">
                    <a href="registro-atencion3.html" class="btn-y btn-y-disabled">
                        <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        </div>
                    </a>
                    <p class="text-center mb-0">Datos laborales</p>
                    <div class="y-content-descrip">
                        <p class="text-muted text-center mb-0"><small>Detalla los vínculos laborales que existen entre el empleador y el trabajador</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>