<div>
    <h4 class="title my-3">
        <span jhiTranslate="gatewayApp.menu.home.title">Menus</span>
        <button class="btn btn-primary float-right jh-create-entity create-menu" [routerLink]="['/', { outlets: { popup: ['menu-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.menu.home.createLabel">
            Create new Menu
            </span>
        </button>
    </h4>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.menu.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="menus">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="varNomMenu"><span jhiTranslate="gatewayApp.menu.varNomMenu">Var Nom Menu</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numOrdenItem"><span jhiTranslate="gatewayApp.menu.numOrdenItem">Num Orden Item</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="varUrlMenu"><span jhiTranslate="gatewayApp.menu.varUrlMenu">Var Url Menu</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numOpcion"><span jhiTranslate="gatewayApp.menu.numOpcion">Num Opcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="varUsuarioLog"><span jhiTranslate="gatewayApp.menu.varUsuarioLog">Var Usuario Log</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datFechaLog"><span jhiTranslate="gatewayApp.menu.datFechaLog">Dat Fecha Log</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numEliminar"><span jhiTranslate="gatewayApp.menu.numEliminar">Num Eliminar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modulo.id"><span jhiTranslate="gatewayApp.menu.modulo">Modulo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="menu.id"><span jhiTranslate="gatewayApp.menu.menu">Menu</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let menu of menus ;trackBy: trackId">
                <td><a [routerLink]="['../menu', menu.id ]">{{menu.id}}</a></td>
                <td>{{menu.varNomMenu}}</td>
                <td>{{menu.numOrdenItem}}</td>
                <td>{{menu.varUrlMenu}}</td>
                <td>{{menu.numOpcion}}</td>
                <td>{{menu.varUsuarioLog}}</td>
                <td>{{menu.datFechaLog | date:'medium'}}</td>
                <td>{{menu.numEliminar}}</td>
                <td>
                    <div *ngIf="menu.modulo">
                        <a [routerLink]="['../modulo', menu.modulo?.id ]" >{{menu.modulo?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="menu.menu">
                        <a [routerLink]="['../menu', menu.menu?.id ]" >{{menu.menu?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../menu', menu.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'menu/'+ menu.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'menu/'+ menu.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="menus && menus.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
