
<div *ngIf="documento">
    <h2><span jhiTranslate="gatewayApp.documento.detail.title">Documento</span> {{documento.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.documento.vDesdoc">V Desdoc</span></dt>
        <dd>
            <span>{{documento.vDesdoc}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.documento.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{documento.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.documento.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{documento.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.documento.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{documento.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.documento.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{documento.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.documento.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{documento.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.documento.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{documento.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.documento.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{documento.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.documento.tipdoc">Tipdoc</span></dt>
        <dd>
            <div *ngIf="documento.tipdoc">
                <a [routerLink]="['/tipdoc', documento.tipdoc?.id]">{{documento.tipdoc?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'documento/'+ documento.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
