<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTipoUsuarioLabel" jhiTranslate="gatewayApp.tipoUsuario.home.createOrEditLabel">Create or edit a Tipo Usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tipoUsuario.varNomTpusuario" for="field_varNomTpusuario">Var Nom Tpusuario</label>
            <input type="text" class="form-control" name="varNomTpusuario" id="field_varNomTpusuario"
                [(ngModel)]="tipoUsuario.varNomTpusuario" maxlength="100" />
            <div [hidden]="!(editForm.controls.varNomTpusuario?.dirty && editForm.controls.varNomTpusuario?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.varNomTpusuario?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tipoUsuario.varDescTpusuario" for="field_varDescTpusuario">Var Desc Tpusuario</label>
            <input type="text" class="form-control" name="varDescTpusuario" id="field_varDescTpusuario"
                [(ngModel)]="tipoUsuario.varDescTpusuario" maxlength="300" />
            <div [hidden]="!(editForm.controls.varDescTpusuario?.dirty && editForm.controls.varDescTpusuario?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.varDescTpusuario?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                   This field cannot be longer than 300 characters.
                </small>
            </div>
        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
