
<div *ngIf="docinperdlb">
    <h2><span jhiTranslate="gatewayApp.docinperdlb.detail.title">Docinperdlb</span> {{docinperdlb.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.docinperdlb.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{docinperdlb.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docinperdlb.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{docinperdlb.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docinperdlb.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{docinperdlb.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docinperdlb.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{docinperdlb.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docinperdlb.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{docinperdlb.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docinperdlb.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{docinperdlb.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docinperdlb.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{docinperdlb.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docinperdlb.datlab">Datlab</span></dt>
        <dd>
            <div *ngIf="docinperdlb.datlab">
                <a [routerLink]="['/datlab', docinperdlb.datlab?.id]">{{docinperdlb.datlab?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docinperdlb.docingrper">Docingrper</span></dt>
        <dd>
            <div *ngIf="docinperdlb.docingrper">
                <a [routerLink]="['/docingrper', docinperdlb.docingrper?.id]">{{docinperdlb.docingrper?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'docinperdlb/'+ docinperdlb.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
