
<div *ngIf="szonal">
    <h2><span jhiTranslate="gatewayApp.szonal.detail.title">Szonal</span> {{szonal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.szonal.vDesszonal">V Desszonal</span></dt>
        <dd>
            <span>{{szonal.vDesszonal}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.szonal.vEstado">V Estado</span></dt>
        <dd>
            <span>{{szonal.vEstado}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.szonal.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{szonal.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.szonal.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{szonal.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.szonal.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{szonal.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.szonal.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{szonal.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.szonal.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{szonal.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.szonal.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{szonal.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.szonal.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{szonal.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'szonal/'+ szonal.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
