<style>
        fieldset {
        border: 1px solid #d6d6d6 !important;
        margin: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #fbfbfb;
        padding-left: 10px !important;
        }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
        }
</style>

<div>
    <br/>
    <h4 class="title my-3" align="center">
        <span>Consulta de Delegados</span>
    </h4>

    <fieldset class="col">
        <legend>Criterios de Búsqueda</legend>

        <div class="panel">
            <div class="panel-body">
                <form>
                        <div align="center">
                            <p-radioButton name="group1" value="Option2" label="R.U.C." [(ngModel)]="val1" inputId="opt2"></p-radioButton>
                            <p-radioButton name="group1" value="Option3" label="Razón Social" [(ngModel)]="val1" inputId="opt3"></p-radioButton>
                            <p-radioButton name="group1" value="Option1" label="Nro. Expediente" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
                        </div>
                            <div align="center">
                                <table border="0" style="width: 250px;">
                                    <tr>
                                        <td><label for="inpNumero" class="col-sm-3 col-form-label">Ingrese Dato:</label></td>
                                        <td><input id="input" type="text" size="30" pInputText /></td>
                                        <td><a class="btn btn-sm btn-secondary"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a></td>
                                    </tr>
                                </table>                
                            </div>
                </form>
            </div>
        </div>

    </fieldset>
            
    <br/>    

    <button type="button" [routerLink]="['/sindicatos/consulta-delegados', { outlets:  { popupexp: 'registro-delegados' } }]" class="btn btn-primary jh-create-entity create-accionadop">Nuevo Registro</button>
    
    <br/>

    <div class="table-responsive">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <p-dataTable [value]="listaConsulta" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                        <p-column field="expediente" header="Num. Expediente" [sortable]="true"></p-column>
                        <p-column field="nombre" header="Organización Sindical" [sortable]="true"></p-column>
                        <p-column field="estado" header="Estado" [sortable]="true"></p-column>
                        <p-column styleClass="col-button">
                                <ng-template let-car="rowData" pTemplate="body">
                                        <button [routerLink]="['/sindicatos/principal', {outlets: { wizard: 'nuevo-delegados' } } ]" class="btn btn-primary jh-create-entity create-accionadop">Ver Detalle</button>
                                </ng-template>
                            </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>

    <router-outlet name="popupexp"></router-outlet>
    