<div>
    <br/>
    <h4 class="title my-3" align="center">
        <span>Consulta de Delegados</span>
    </h4>

<table align="center" border="0">
    <tr>
        <td>
            Razón Social:
        </td>
        <td>
            <label>razooooonnnnn</label>
        </td>
    </tr>
    <tr><td></td></tr>
</table>    
        
<br/>    

<button class="btn btn-primary jh-create-entity create-accionadop" (click)="open()">Agregar Delegado</button>
<button [routerLink]="['/sindicatos/principal', {outlets: { wizard: 'consulta-delegados' } } ]" class="btn btn-primary jh-create-entity create-accionadop">Atras</button>

<br/>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
            <th><span >Tipo Doc.</span></th>
            <th><span >Num. Documento</span></th>
            <th><span >Nombre Completo</span></th>
            <th><span >Fecha Registro</span></th>
            <th><span >Estado</span></th>
            <th><span ></span></th>
            <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

</div>