<style>
    .table tr td:nth-last-child(1) {
        text-align: left;
    }
</style>
<div>
        <div class="form-row">
            <div class="col-md">
                <div class="row">
                        <div class="col-12">
                                <br/>
                                <h4 class="title my-3" align="center">
                                <span>Nuevo Registro</span>
                                </h4>
                                    
                                <table align="center" class="table table-striped" border="0">
                                <tr>
                                    <td>
                                        Nro. Expediente
                                    </td>
                                    <td colspan="3">
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        R.U.C.
                                    </td>
                                    <td colspan="2">
                                        <input type="text" class="form-control" id="currentSearch"/>    
                                    </td>
                                    <td colspan="1">
                                        <button class="input-group-addon btn btn-info">
                                        <span class="fa fa-search"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Razón Social 
                                    </td>
                                    <td colspan="3" align="left">
                                        <input type="text" size="150" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Nombre 
                                    </td>
                                    <td colspan="3" align="left">
                                        <input type="text" size="150" />
                                    </td>
                                </tr>
                                </table>
                                <br/>
                                <div align="center">
                                    <button class="btn mx-1 btn-dark float-center">Atras</button>
                                    <button class="btn mx-1 btn-dark float-center">Guardar</button>
                                </div>
                            </div>
                </div>
            </div>
        </div>
</div>