
<div *ngIf="atenmotiaten">
    <h2><span jhiTranslate="gatewayApp.atenmotiaten.detail.title">Atenmotiaten</span> {{atenmotiaten.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.atenmotiaten.vUsuarioreg">V Usuarioreg</span></dt>
        <dd>
            <span>{{atenmotiaten.vUsuarioreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atenmotiaten.dFechareg">D Fechareg</span></dt>
        <dd>
            <span>{{atenmotiaten.dFechareg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atenmotiaten.nEliminar">N Eliminar</span></dt>
        <dd>
            <span>{{atenmotiaten.nEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atenmotiaten.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{atenmotiaten.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atenmotiaten.vUsuarioupd">V Usuarioupd</span></dt>
        <dd>
            <span>{{atenmotiaten.vUsuarioupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atenmotiaten.dFechaupd">D Fechaupd</span></dt>
        <dd>
            <span>{{atenmotiaten.dFechaupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atenmotiaten.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{atenmotiaten.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atenmotiaten.atencion">Atencion</span></dt>
        <dd>
            <div *ngIf="atenmotiaten.atencion">
                <a [routerLink]="['/atencion', atenmotiaten.atencion?.id]">{{atenmotiaten.atencion?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atenmotiaten.direcalter">Direcalter</span></dt>
        <dd>
            <div *ngIf="atenmotiaten.direcalter">
                <a [routerLink]="['/direcalter', atenmotiaten.direcalter?.id]">{{atenmotiaten.direcalter?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atenmotiaten.motatenofic">Motatenofic</span></dt>
        <dd>
            <div *ngIf="atenmotiaten.motatenofic">
                <a [routerLink]="['/motatenofic', atenmotiaten.motatenofic?.id]">{{atenmotiaten.motatenofic?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'atenmotiaten/'+ atenmotiaten.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
