<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 p-2">
    <div class="row">
        <div class="col">
            <h4 class="title">Cálculo de Beneficios Sociales y Liquidaciones</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-panel mb-3">
                <div class="card-body">
                    <div class="row no-gutters y-steps">
                        <div class="col d-flex justify-content-center y-step active">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="calculo-beneficios.html" class="btn-y">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-calculator" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">CTS</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Cálculo la compensación por tiempos de servicio</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step active">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="gratificaciones.html" class="btn-y">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-tree" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Gratificaciones</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Calcula las gratificaciones de Navidad y Fiestas Patrias</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step active">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="vacaciones.html" class="btn-y">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Vacaciones</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Calcula las remuneraciones vacacionales, simples y truncos</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="indemnizaciones.html" class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Indemnizaciones</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Calcula las imdemnizaciones por despido arbitrario</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="remuneraciones.html" class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Remuneraciones Insolutas</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Calcula las remuneraciones que no han sido pagados</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="resumen.html" class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Resumen</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Lista todos los beneficios sociales calculados</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                    <h5 class="mb-0"><small><i class="fa fa-percent" aria-hidden="true"></i> Cálculo de Beneficios Sociales & Liquidaciones</small></h5>
                    <h5 class="mb-0"><small>Paso 3 de 6</small></h5>
                </div>
                <div class="card-body">
                    <div class="calculo-beneficios mb-2">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="text-calculo"><b>Trabajador: </b>Pierre David Maldonado Diaz</p>
                                <p class="text-calculo"><b>Empleador: </b>Minist de Trabajo y Promoción del Empleo</p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-calculo"><b>Régimen: </b>General</p>
                                <p class="text-calculo"><b>Categoria: </b>Empleado</p>
                            </div>
                            <div class="col-md-3">
                                <p class="text-calculo"><b>Banco: </b>Banco de Crédito del Perú</p>
                                <p class="text-calculo"><b>Moneda: </b>Nacional</p>
                            </div>
                            <div class="col-md-3">
                                <p class="text-calculo"><b>Fecha de ingreso: </b>10/06/1986</p>
                                <p class="text-calculo"><b>Fecha de Cese: </b>11/05/2009</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                                    <h5 class="mb-0"><small><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Periodos Vacaciones</small></h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>Fec.Inicio</th>
                                                <th>Fec. Final</th>
                                                <th>Vacaciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>002</td>
                                                <td>10/05/1987</td>
                                                <td>10/05/1987</td>
                                                <td><input type="checkbox" class="form-check-input"></td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>10/05/1986</td>
                                                <td>10/05/1987</td>
                                                <td><input type="checkbox" class="form-check-input"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                                    <h5 class="mb-0"><small><i class="fa fa-calendar" aria-hidden="true"></i> Periodo N°001</small></h5>
                                    <h5 class="mb-0"><small>10/06/1986 - 09/06/1987</small></h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3 mb-2">
                                            <label for="inpAP" class="col-form-label col-form-label-sm">Apellido Paterno:</label>
                                            <input type="text" class="form-control form-control-sm" id="inpAP" placeholder="" value="Maldonado">
                                        </div>
                                        <div class="col-md-3 mb-2">
                                            <label for="inpAM" class="col-form-label col-form-label-sm">Apellido Materno:</label>
                                            <input type="text" class="form-control form-control-sm" id="inpAM" placeholder="" value="Diaz">
                                        </div>
                                        <div class="col-md-3 mb-2">
                                            <a href="#" class="btn btn-sm btn-warning mt-4" data-toggle="modal" data-target="#modalcts"><i class="fa fa-calculator" aria-hidden="true"></i> Calcular vacaciones</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-6">

                                                </div>
                                                <div class="col-2 pl-0">
                                                    Años
                                                </div>
                                                <div class="col-2 pl-0">
                                                    Meses
                                                </div>
                                                <div class="col-2 pl-0">
                                                    Dias
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Tiempo Computable</label>
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" class="form-control form-control-sm" value="">
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" class="form-control form-control-sm" value="">
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" class="form-control form-control-sm" value="">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Tiempo no computable</label>
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" class="form-control form-control-sm" value="">
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" class="form-control form-control-sm" value="">
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" class="form-control form-control-sm" value="">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Tiempo efectivo</label>
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" class="form-control form-control-sm" value="">
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" class="form-control form-control-sm" value="">
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" class="form-control form-control-sm" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="Vacaciones" class="col-form-label col-form-label-sm">Vacaciones:</label>
                                            <input type="text" class="form-control form-control-sm" id="Vacaciones" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-sm-flex justify-content-between">
                            <a href="gratificaciones.html" class="btn btn-sm m-1 btn-success"><i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                            <a href="indemnizaciones.html" class="btn btn-sm m-1 btn-success"><i class="fa fa-chevron-right" aria-hidden="true"></i> Siguiente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>