
<div *ngIf="perfil">
    <h2><span jhiTranslate="gatewayApp.perfil.detail.title">Perfil</span> {{perfil.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.perfil.varNomPerfil">Var Nom Perfil</span></dt>
        <dd>
            <span>{{perfil.varNomPerfil}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.perfil.varDescPerfil">Var Desc Perfil</span></dt>
        <dd>
            <span>{{perfil.varDescPerfil}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.perfil.numEstPerfil">Num Est Perfil</span></dt>
        <dd>
            <span>{{perfil.numEstPerfil}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.perfil.varUsuarioLog">Var Usuario Log</span></dt>
        <dd>
            <span>{{perfil.varUsuarioLog}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.perfil.datFechaLog">Dat Fecha Log</span></dt>
        <dd>
            <span>{{perfil.datFechaLog | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.perfil.numEliminar">Num Eliminar</span></dt>
        <dd>
            <span>{{perfil.numEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.perfil.modulo">Modulo</span></dt>
        <dd>
            <div *ngIf="perfil.modulo">
                <a [routerLink]="['/modulo', perfil.modulo?.id]">{{perfil.modulo?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'perfil/'+ perfil.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
