<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPerfilLabel" jhiTranslate="gatewayApp.perfil.home.createOrEditLabel">Create or edit a Perfil</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!perfil.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="perfil.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.perfil.varNomPerfil" for="field_varNomPerfil">Var Nom Perfil</label>
            <input type="text" class="form-control" name="varNomPerfil" id="field_varNomPerfil"
                [(ngModel)]="perfil.varNomPerfil" maxlength="100" />
            <div [hidden]="!(editForm.controls.varNomPerfil?.dirty && editForm.controls.varNomPerfil?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.varNomPerfil?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.perfil.varDescPerfil" for="field_varDescPerfil">Var Desc Perfil</label>
            <input type="text" class="form-control" name="varDescPerfil" id="field_varDescPerfil"
                [(ngModel)]="perfil.varDescPerfil" maxlength="300" />
            <div [hidden]="!(editForm.controls.varDescPerfil?.dirty && editForm.controls.varDescPerfil?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.varDescPerfil?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                   This field cannot be longer than 300 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.perfil.numEstPerfil" for="field_numEstPerfil">Num Est Perfil</label>
            <input type="number" class="form-control" name="numEstPerfil" id="field_numEstPerfil"
                [(ngModel)]="perfil.numEstPerfil"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.perfil.varUsuarioLog" for="field_varUsuarioLog">Var Usuario Log</label>
            <input type="text" class="form-control" name="varUsuarioLog" id="field_varUsuarioLog"
                [(ngModel)]="perfil.varUsuarioLog" required maxlength="20" />
            <div [hidden]="!(editForm.controls.varUsuarioLog?.dirty && editForm.controls.varUsuarioLog?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.varUsuarioLog?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.varUsuarioLog?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.perfil.datFechaLog" for="field_datFechaLog">Dat Fecha Log</label>
            <div class="d-flex">
                <input id="field_datFechaLog" type="datetime-local" class="form-control" name="datFechaLog" [(ngModel)]="perfil.datFechaLog"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.datFechaLog?.dirty && editForm.controls.datFechaLog?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.datFechaLog?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.datFechaLog?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.perfil.numEliminar" for="field_numEliminar">Num Eliminar</label>
            <input type="number" class="form-control" name="numEliminar" id="field_numEliminar"
                [(ngModel)]="perfil.numEliminar" required min="0" max="1" />
            <div [hidden]="!(editForm.controls.numEliminar?.dirty && editForm.controls.numEliminar?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numEliminar?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numEliminar?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numEliminar?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 1 }">
                    This field cannot be more than 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numEliminar?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.perfil.modulo" for="field_modulo">Modulo</label>
            <select class="form-control" id="field_modulo" name="modulo" [(ngModel)]="perfil.modulo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="moduloOption.id === perfil.modulo?.id ? perfil.modulo : moduloOption" *ngFor="let moduloOption of modulos; trackBy: trackModuloById">{{moduloOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
