<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPerfilLabel" jhiTranslate="gatewayApp.perfil.home.createOrEditLabel">Create or edit a Perfil</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" hidden>
            <label for="id" jhiTranslate="global.field.id">Nro</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="perfil.id" readonly />
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.perfil.modulo" for="field_modulo">Modulo</label>
            <div class="col-sm-10">
                <select required class="form-control" id="field_modulo" name="modulo" [(ngModel)]="perfil.modulo" >
                    <option [ngValue]="moduloOption.id === perfil.modulo?.id ? perfil.modulo : moduloOption" *ngFor="let moduloOption of modulos; trackBy: trackModuloById">{{moduloOption.varNomModulo}}</option>
                </select>
            </div>
                
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.perfil.varDescPerfil" for="field_varDescPerfil">Var Desc Perfil</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" name="varDescPerfil" id="field_varDescPerfil"
                    [(ngModel)]="perfil.varDescPerfil" maxlength="300" rows="3" ></textarea>
                <div [hidden]="!(editForm.controls.varDescPerfil?.dirty && editForm.controls.varDescPerfil?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.varDescPerfil?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                       This field cannot be longer than 300 characters.
                    </small>
                </div>
            </div>            
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.perfil.numEstPerfil" for="field_numEstPerfil">Num Est Perfil</label>
            <div class="col-sm-10">
                <select required class="form-control" name="numEstPerfil" id="field_numEstPerfil" [(ngModel)]="perfil.numEstPerfil">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
            
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
