<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myResolucrdLabel" jhiTranslate="gatewayApp.resolucrd.home.createOrEditLabel">Create or edit a Resolucrd</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!resolucrd.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="resolucrd.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.vNumresosd" for="field_vNumresosd">V Numresosd</label>
            <input type="text" class="form-control" name="vNumresosd" id="field_vNumresosd"
                [(ngModel)]="resolucrd.vNumresosd" maxlength="20" />
            <div [hidden]="!(editForm.controls.vNumresosd?.dirty && editForm.controls.vNumresosd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumresosd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.dFecresosd" for="field_dFecresosd">D Fecresosd</label>
            <div class="input-group">
                <input id="field_dFecresosd" type="text" class="form-control" name="dFecresosd" ngbDatepicker  #dFecresosdDp="ngbDatepicker" [(ngModel)]="resolucrd.dFecresosd"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dFecresosdDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.vNomemplea" for="field_vNomemplea">V Nomemplea</label>
            <input type="text" class="form-control" name="vNomemplea" id="field_vNomemplea"
                [(ngModel)]="resolucrd.vNomemplea" maxlength="250" />
            <div [hidden]="!(editForm.controls.vNomemplea?.dirty && editForm.controls.vNomemplea?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNomemplea?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                   This field cannot be longer than 250 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.vNomtrabaj" for="field_vNomtrabaj">V Nomtrabaj</label>
            <input type="text" class="form-control" name="vNomtrabaj" id="field_vNomtrabaj"
                [(ngModel)]="resolucrd.vNomtrabaj" maxlength="250" />
            <div [hidden]="!(editForm.controls.vNomtrabaj?.dirty && editForm.controls.vNomtrabaj?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNomtrabaj?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                   This field cannot be longer than 250 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.vDireccion" for="field_vDireccion">V Direccion</label>
            <input type="text" class="form-control" name="vDireccion" id="field_vDireccion"
                [(ngModel)]="resolucrd.vDireccion" maxlength="250" />
            <div [hidden]="!(editForm.controls.vDireccion?.dirty && editForm.controls.vDireccion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vDireccion?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                   This field cannot be longer than 250 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.vTelefono" for="field_vTelefono">V Telefono</label>
            <input type="text" class="form-control" name="vTelefono" id="field_vTelefono"
                [(ngModel)]="resolucrd.vTelefono" maxlength="250" />
            <div [hidden]="!(editForm.controls.vTelefono?.dirty && editForm.controls.vTelefono?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vTelefono?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                   This field cannot be longer than 250 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.dFecconcil" for="field_dFecconcil">D Fecconcil</label>
            <div class="input-group">
                <input id="field_dFecconcil" type="text" class="form-control" name="dFecconcil" ngbDatepicker  #dFecconcilDp="ngbDatepicker" [(ngModel)]="resolucrd.dFecconcil"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dFecconcilDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.vHorconcil" for="field_vHorconcil">V Horconcil</label>
            <input type="text" class="form-control" name="vHorconcil" id="field_vHorconcil"
                [(ngModel)]="resolucrd.vHorconcil" maxlength="20" />
            <div [hidden]="!(editForm.controls.vHorconcil?.dirty && editForm.controls.vHorconcil?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vHorconcil?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.dFechanoti" for="field_dFechanoti">D Fechanoti</label>
            <div class="input-group">
                <input id="field_dFechanoti" type="text" class="form-control" name="dFechanoti" ngbDatepicker  #dFechanotiDp="ngbDatepicker" [(ngModel)]="resolucrd.dFechanoti"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dFechanotiDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.vNumnotifi" for="field_vNumnotifi">V Numnotifi</label>
            <input type="text" class="form-control" name="vNumnotifi" id="field_vNumnotifi"
                [(ngModel)]="resolucrd.vNumnotifi" maxlength="20" />
            <div [hidden]="!(editForm.controls.vNumnotifi?.dirty && editForm.controls.vNumnotifi?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumnotifi?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.fMonmulta" for="field_fMonmulta">F Monmulta</label>
            <input type="number" class="form-control" name="fMonmulta" id="field_fMonmulta"
                [(ngModel)]="resolucrd.fMonmulta"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.nUsuareg" for="field_nUsuareg">N Usuareg</label>
            <input type="number" class="form-control" name="nUsuareg" id="field_nUsuareg"
                [(ngModel)]="resolucrd.nUsuareg" required />
            <div [hidden]="!(editForm.controls.nUsuareg?.dirty && editForm.controls.nUsuareg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nUsuareg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nUsuareg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.tFecreg" for="field_tFecreg">T Fecreg</label>
            <div class="d-flex">
                <input id="field_tFecreg" type="datetime-local" class="form-control" name="tFecreg" [(ngModel)]="resolucrd.tFecreg"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.tFecreg?.dirty && editForm.controls.tFecreg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tFecreg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tFecreg?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.nFlgactivo" for="field_nFlgactivo">N Flgactivo</label>
            <input type="checkbox" class="form-control" name="nFlgactivo" id="field_nFlgactivo"
                [(ngModel)]="resolucrd.nFlgactivo"  />
            <div [hidden]="!(editForm.controls.nFlgactivo?.dirty && editForm.controls.nFlgactivo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nFlgactivo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.nSedereg" for="field_nSedereg">N Sedereg</label>
            <input type="number" class="form-control" name="nSedereg" id="field_nSedereg"
                [(ngModel)]="resolucrd.nSedereg" required />
            <div [hidden]="!(editForm.controls.nSedereg?.dirty && editForm.controls.nSedereg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nSedereg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nSedereg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.nUsuaupd" for="field_nUsuaupd">N Usuaupd</label>
            <input type="number" class="form-control" name="nUsuaupd" id="field_nUsuaupd"
                [(ngModel)]="resolucrd.nUsuaupd"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.tFecupd" for="field_tFecupd">T Fecupd</label>
            <div class="d-flex">
                <input id="field_tFecupd" type="datetime-local" class="form-control" name="tFecupd" [(ngModel)]="resolucrd.tFecupd"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.nSedeupd" for="field_nSedeupd">N Sedeupd</label>
            <input type="number" class="form-control" name="nSedeupd" id="field_nSedeupd"
                [(ngModel)]="resolucrd.nSedeupd"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.tippersona" for="field_tippersona">Tippersona</label>
            <select class="form-control" id="field_tippersona" name="tippersona" [(ngModel)]="resolucrd.tippersona" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tippersonaOption.id === resolucrd.tippersona?.id ? resolucrd.tippersona : tippersonaOption" *ngFor="let tippersonaOption of tippersonas; trackBy: trackTippersonaById">{{tippersonaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.resolucrd.expediente" for="field_expediente">Expediente</label>
            <select class="form-control" id="field_expediente" name="expediente" [(ngModel)]="resolucrd.expediente" >
                <option [ngValue]="null"></option>
                <option [ngValue]="expedienteOption.id === resolucrd.expediente?.id ? resolucrd.expediente : expedienteOption" *ngFor="let expedienteOption of expedientes; trackBy: trackExpedienteById">{{expedienteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
