<div>
    <h2>
        <span jhiTranslate="gatewayApp.resolucrd.home.title">Resolucrds</span>
        <button class="btn btn-primary float-right jh-create-entity create-resolucrd" [routerLink]="['/', { outlets: { popup: ['resolucrd-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.resolucrd.home.createLabel">
            Create new Resolucrd
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.resolucrd.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="resolucrds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.vNumresosd">V Numresosd</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.dFecresosd">D Fecresosd</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.vNomemplea">V Nomemplea</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.vNomtrabaj">V Nomtrabaj</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.vDireccion">V Direccion</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.vTelefono">V Telefono</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.dFecconcil">D Fecconcil</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.vHorconcil">V Horconcil</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.dFechanoti">D Fechanoti</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.vNumnotifi">V Numnotifi</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.fMonMulta">F Mon Multa</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.tippersona">Tippersona</span></th>
            <th><span jhiTranslate="gatewayApp.resolucrd.expediente">Expediente</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resolucrd of resolucrds ;trackBy: trackId">
                <td><a [routerLink]="['../resolucrd', resolucrd.id ]">{{resolucrd.id}}</a></td>
                <td>{{resolucrd.vNumresosd}}</td>
                <td>{{resolucrd.dFecresosd | date:'mediumDate'}}</td>
                <td>{{resolucrd.vNomemplea}}</td>
                <td>{{resolucrd.vNomtrabaj}}</td>
                <td>{{resolucrd.vDireccion}}</td>
                <td>{{resolucrd.vTelefono}}</td>
                <td>{{resolucrd.dFecconcil | date:'mediumDate'}}</td>
                <td>{{resolucrd.vHorconcil}}</td>
                <td>{{resolucrd.dFechanoti | date:'mediumDate'}}</td>
                <td>{{resolucrd.vNumnotifi}}</td>
                <td>{{resolucrd.fMonMulta}}</td>
                <td>{{resolucrd.nUsuareg}}</td>
                <td>{{resolucrd.tFecreg | date:'medium'}}</td>
                <td>{{resolucrd.nFlgactivo}}</td>
                <td>{{resolucrd.nSedereg}}</td>
                <td>{{resolucrd.nUsuaupd}}</td>
                <td>{{resolucrd.tFecupd | date:'medium'}}</td>
                <td>{{resolucrd.nSedeupd}}</td>
                <td>
                    <div *ngIf="resolucrd.tippersona">
                        <a [routerLink]="['../tippersona', resolucrd.tippersona?.id ]" >{{resolucrd.tippersona?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="resolucrd.expediente">
                        <a [routerLink]="['../expediente', resolucrd.expediente?.id ]" >{{resolucrd.expediente?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../resolucrd', resolucrd.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resolucrd/'+ resolucrd.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resolucrd/'+ resolucrd.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
