
<div *ngIf="resolucrd">
    <h2><span jhiTranslate="gatewayApp.resolucrd.detail.title">Resolucrd</span> {{resolucrd.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.resolucrd.vNumresosd">V Numresosd</span></dt>
        <dd>
            <span>{{resolucrd.vNumresosd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.dFecresosd">D Fecresosd</span></dt>
        <dd>
            <span>{{resolucrd.dFecresosd | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.vNomemplea">V Nomemplea</span></dt>
        <dd>
            <span>{{resolucrd.vNomemplea}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.vNomtrabaj">V Nomtrabaj</span></dt>
        <dd>
            <span>{{resolucrd.vNomtrabaj}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.vDireccion">V Direccion</span></dt>
        <dd>
            <span>{{resolucrd.vDireccion}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.vTelefono">V Telefono</span></dt>
        <dd>
            <span>{{resolucrd.vTelefono}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.dFecconcil">D Fecconcil</span></dt>
        <dd>
            <span>{{resolucrd.dFecconcil | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.vHorconcil">V Horconcil</span></dt>
        <dd>
            <span>{{resolucrd.vHorconcil}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.dFechanoti">D Fechanoti</span></dt>
        <dd>
            <span>{{resolucrd.dFechanoti | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.vNumnotifi">V Numnotifi</span></dt>
        <dd>
            <span>{{resolucrd.vNumnotifi}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.fMonMulta">F Mon Multa</span></dt>
        <dd>
            <span>{{resolucrd.fMonMulta}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{resolucrd.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{resolucrd.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{resolucrd.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{resolucrd.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{resolucrd.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{resolucrd.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{resolucrd.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.tippersona">Tippersona</span></dt>
        <dd>
            <div *ngIf="resolucrd.tippersona">
                <a [routerLink]="['/tippersona', resolucrd.tippersona?.id]">{{resolucrd.tippersona?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolucrd.expediente">Expediente</span></dt>
        <dd>
            <div *ngIf="resolucrd.expediente">
                <a [routerLink]="['/expediente', resolucrd.expediente?.id]">{{resolucrd.expediente?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'resolucrd/'+ resolucrd.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
