      <div class="row">
        <div class="col">
            <div class="card-header d-sm-flex justify-content-between">
              <h5>Reportes</h5>
            </div>
            <div class="card-body">
         
              <fieldset class="col">                    
                <div class="panel">
                  <div class="panel-body">
                    <form>
                      <div class="form-row">
                        <div class="col-md">
                          <div class="form-group row">
                            <label for="inpTipo" class="col-sm-5 col-form-label">Estadisticas por rago de fecha</label>
                              <input type="radio" name="radio" id="inpnumdoc" >
                          </div>
                          <div class="form-group row">
                            <label for="inpTipo" class="col-sm-5 col-form-label">Demandas por rago de fecha</label>
                              <input type="radio" name="radio" id="inpnumdoc" >
                          </div>
                          <div class="form-group row">
                            <label for="inpTipo" class="col-sm-5 col-form-label">Notificaciones diarias por rago de fecha</label>
                              <input type="radio" name="radio" id="inpnumdoc" >
                          </div>
                          <div class="form-group row">
                            <label for="inpTipo" class="col-sm-5 col-form-label">Carta de Servicios</label>
                              <input type="radio" name="radio" id="inpnumdoc" >
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-group row">
                            <label for="inpNumero" class="col-sm-3 col-form-label">Fecha</label>
                            <div class="col-sm-9">
                              <input type="date" class="form-control form-control-sm" id="inpNumero" placeholder="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <form>                         
                      <div class="row">
                        <div class="col-12 mb-3">
                          <a href="#" class="btn btn-sm btn-warning "><i class="fa fa-eye" aria-hidden="true"></i> Previsualizar</a>
                          <a href="#" class="btn btn-sm btn-primary "><i class="fa fa-print" aria-hidden="true"></i> Imprimir</a>
                        </div>
                        
                      </div>
                    </form>
                  </div>
                </div> 
              </fieldset>
             </div>
        </div>
      </div>