<div class="row mt-3">
    <div class="col">
        <div class="card card-panel mb-3">
            <div class="card-header d-sm-flex justify-content-between">
                <h5>Mantenimiento de Resultado</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary jh-create-entity create-resulconci" [routerLink]="['/conciliaciones/mantenimiento/resultados', { outlets: { popupexp: ['registrar'] } }]">
                            <span class="fa fa-plus"></span>
                            <span class="hidden-sm-down"> Añadir Resultado</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form name="searchForm" class="form-inline">
                            <div class="input-group w-100 mt-3">
                                <!-- <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Buscar Resultados por Descripción"> -->
                                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                                    <span class="fa fa-search"></span>
                                </button>
                                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                    <span class="fa fa-trash-o"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <p-dataTable selectionMode="single" [value]="resulconcis" dataKey="id">
                            <p-header>Resultados</p-header>
                            <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                <ng-template let-i="rowIndex" pTemplate="body">
                                    <span style="text-align:center">{{i+1}}</span>
                                </ng-template>
                            </p-column>
                            <p-column field="vDescrip" header="Descripción"></p-column>
                            <p-column field="tipresconc.vDescrip" header="Tipo"></p-column>
                            <p-column >
                                <ng-template let-res="rowData" pTemplate="body">
                                    <button type="submit"
                                        [routerLink]="['/conciliaciones/mantenimiento/resultados', { outlets: { popupexp: res.id + '/editar'} }]"
                                        replaceUrl="true"
                                        class="btn btn-dark btn-sm">
                                        <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline" >Editar</span>
                                    </button>
                                    <button type="submit"
                                        [routerLink]="['/conciliaciones/mantenimiento/resultados', { outlets: { popupexp:  res.id + '/eliminar'} }]"
                                        replaceUrl="true"
                                        class="btn btn-danger btn-sm">
                                        <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline" >Eliminar</span>
                                    </button>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet name="popupexp"></router-outlet>

