<div>
    <h2>
        <span jhiTranslate="gatewayApp.pasegl.home.title">Pasegls</span>
        <button class="btn btn-primary float-right jh-create-entity create-pasegl" [routerLink]="['/', { outlets: { popup: ['pasegl-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.pasegl.home.createLabel">
            Create new Pasegl
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.pasegl.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pasegls">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.vObspase">V Obspase</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.vEstado">V Estado</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.oficina">Oficina</span></th>
            <th><span jhiTranslate="gatewayApp.pasegl.atencion">Atencion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pasegl of pasegls ;trackBy: trackId">
                <td><a [routerLink]="['../pasegl', pasegl.id ]">{{pasegl.id}}</a></td>
                <td>{{pasegl.vObspase}}</td>
                <td>{{pasegl.vEstado}}</td>
                <td>{{pasegl.nUsuareg}}</td>
                <td>{{pasegl.tFecreg | date:'medium'}}</td>
                <td>{{pasegl.nFlgactivo}}</td>
                <td>{{pasegl.nSedereg}}</td>
                <td>{{pasegl.nUsuaupd}}</td>
                <td>{{pasegl.tFecupd | date:'medium'}}</td>
                <td>{{pasegl.nSedeupd}}</td>
                <td>
                    <div *ngIf="pasegl.oficina">
                        <a [routerLink]="['../oficina', pasegl.oficina?.id ]" >{{pasegl.oficina?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pasegl.atencion">
                        <a [routerLink]="['../atencion', pasegl.atencion?.id ]" >{{pasegl.atencion?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pasegl', pasegl.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pasegl/'+ pasegl.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pasegl/'+ pasegl.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
