<div>
    <h2>
        <span jhiTranslate="gatewayApp.dettipprov.home.title">Dettipprovs</span>
        <button class="btn btn-primary float-right jh-create-entity create-dettipprov" [routerLink]="['/', { outlets: { popup: ['dettipprov-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.dettipprov.home.createLabel">
            Create new Dettipprov
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.dettipprov.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dettipprovs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.dettipprov.vDescripcion">V Descripcion</span></th>
            <th><span jhiTranslate="gatewayApp.dettipprov.vUsuarioreg">V Usuarioreg</span></th>
            <th><span jhiTranslate="gatewayApp.dettipprov.dFechareg">D Fechareg</span></th>
            <th><span jhiTranslate="gatewayApp.dettipprov.nEliminar">N Eliminar</span></th>
            <th><span jhiTranslate="gatewayApp.dettipprov.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.dettipprov.vUsuarioupd">V Usuarioupd</span></th>
            <th><span jhiTranslate="gatewayApp.dettipprov.dFechaupd">D Fechaupd</span></th>
            <th><span jhiTranslate="gatewayApp.dettipprov.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.dettipprov.tipproveid">Tipproveid</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dettipprov of dettipprovs ;trackBy: trackId">
                <td><a [routerLink]="['../dettipprov', dettipprov.id ]">{{dettipprov.id}}</a></td>
                <td>{{dettipprov.vDescripcion}}</td>
                <td>{{dettipprov.vUsuarioreg}}</td>
                <td>{{dettipprov.dFechareg | date:'medium'}}</td>
                <td>{{dettipprov.nEliminar}}</td>
                <td>{{dettipprov.nSedereg}}</td>
                <td>{{dettipprov.vUsuarioupd}}</td>
                <td>{{dettipprov.dFechaupd | date:'medium'}}</td>
                <td>{{dettipprov.nSedeupd}}</td>
                <td>
                    <div *ngIf="dettipprov.tipproveid">
                        <a [routerLink]="['../tipproveid', dettipprov.tipproveid?.id ]" >{{dettipprov.tipproveid?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dettipprov', dettipprov.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dettipprov/'+ dettipprov.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dettipprov/'+ dettipprov.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
