
<div *ngIf="dettipprov">
    <h2><span jhiTranslate="gatewayApp.dettipprov.detail.title">Dettipprov</span> {{dettipprov.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.dettipprov.vDescrip">V Descrip</span></dt>
        <dd>
            <span>{{dettipprov.vDescrip}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.dettipprov.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{dettipprov.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.dettipprov.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{dettipprov.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.dettipprov.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{dettipprov.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.dettipprov.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{dettipprov.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.dettipprov.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{dettipprov.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.dettipprov.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{dettipprov.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.dettipprov.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{dettipprov.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.dettipprov.tipproveid">Tipproveid</span></dt>
        <dd>
            <div *ngIf="dettipprov.tipproveid">
                <a [routerLink]="['/tipproveid', dettipprov.tipproveid?.id]">{{dettipprov.tipproveid?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dettipprov/'+ dettipprov.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
