
<div *ngIf="direcalter">
    <h2><span jhiTranslate="gatewayApp.direcalter.detail.title">Direcalter</span> {{direcalter.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.direcalter.vRazsocial">V Razsocial</span></dt>
        <dd>
            <span>{{direcalter.vRazsocial}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.direcalter.vDireccion">V Direccion</span></dt>
        <dd>
            <span>{{direcalter.vDireccion}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.direcalter.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{direcalter.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.direcalter.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{direcalter.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.direcalter.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{direcalter.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.direcalter.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{direcalter.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.direcalter.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{direcalter.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.direcalter.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{direcalter.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.direcalter.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{direcalter.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'direcalter/'+ direcalter.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
