<div>
    <h2>
        <span jhiTranslate="gatewayApp.undnegocio.home.title">Undnegocios</span>
        <button class="btn btn-primary float-right jh-create-entity create-undnegocio" [routerLink]="['/', { outlets: { popup: ['undnegocio-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.undnegocio.home.createLabel">
            Create new Undnegocio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.undnegocio.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="undnegocios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.nCodundng">N Codundng</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.nCodfperf">N Codfperf</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.vDesundng">V Desundng</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.vUsuareg">V Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.vUsuaupd">V Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.undnegocio.formperfil">Formperfil</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let undnegocio of undnegocios ;trackBy: trackId">
                <td><a [routerLink]="['../undnegocio', undnegocio.id ]">{{undnegocio.id}}</a></td>
                <td>{{undnegocio.nCodundng}}</td>
                <td>{{undnegocio.nCodfperf}}</td>
                <td>{{undnegocio.vDesundng}}</td>
                <td>{{undnegocio.vUsuareg}}</td>
                <td>{{undnegocio.tFecreg | date:'medium'}}</td>
                <td>{{undnegocio.nFlgactivo}}</td>
                <td>{{undnegocio.nSedereg}}</td>
                <td>{{undnegocio.vUsuaupd}}</td>
                <td>{{undnegocio.tFecupd | date:'medium'}}</td>
                <td>{{undnegocio.nSedeupd}}</td>
                <td>
                    <div *ngIf="undnegocio.formperfil">
                        <a [routerLink]="['../formperfil', undnegocio.formperfil?.id ]" >{{undnegocio.formperfil?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../undnegocio', undnegocio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'undnegocio/'+ undnegocio.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'undnegocio/'+ undnegocio.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
