<div>
    <h2>
        <span jhiTranslate="gatewayApp.atenaccadop.home.title">Atenaccadops</span>
        <button class="btn btn-primary float-right jh-create-entity create-atenaccadop" [routerLink]="['/', { outlets: { popup: ['atenaccadop-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.atenaccadop.home.createLabel">
            Create new Atenaccadop
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.atenaccadop.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="atenaccadops">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.atenaccadop.vUsuarioreg">V Usuarioreg</span></th>
            <th><span jhiTranslate="gatewayApp.atenaccadop.dFechareg">D Fechareg</span></th>
            <th><span jhiTranslate="gatewayApp.atenaccadop.nEliminar">N Eliminar</span></th>
            <th><span jhiTranslate="gatewayApp.atenaccadop.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.atenaccadop.vUsuarioupd">V Usuarioupd</span></th>
            <th><span jhiTranslate="gatewayApp.atenaccadop.dFechaupd">D Fechaupd</span></th>
            <th><span jhiTranslate="gatewayApp.atenaccadop.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.atenaccadop.atencion">Atencion</span></th>
            <th><span jhiTranslate="gatewayApp.atenaccadop.accionadop">Accionadop</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let atenaccadop of atenaccadops ;trackBy: trackId">
                <td><a [routerLink]="['../atenaccadop', atenaccadop.id ]">{{atenaccadop.id}}</a></td>
                <td>{{atenaccadop.vUsuarioreg}}</td>
                <td>{{atenaccadop.dFechareg | date:'medium'}}</td>
                <td>{{atenaccadop.nEliminar}}</td>
                <td>{{atenaccadop.nSedereg}}</td>
                <td>{{atenaccadop.vUsuarioupd}}</td>
                <td>{{atenaccadop.dFechaupd | date:'medium'}}</td>
                <td>{{atenaccadop.nSedeupd}}</td>
                <td>
                    <div *ngIf="atenaccadop.atencion">
                        <a [routerLink]="['../atencion', atenaccadop.atencion?.id ]" >{{atenaccadop.atencion?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="atenaccadop.accionadop">
                        <a [routerLink]="['../accionadop', atenaccadop.accionadop?.id ]" >{{atenaccadop.accionadop?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../atenaccadop', atenaccadop.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'atenaccadop/'+ atenaccadop.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'atenaccadop/'+ atenaccadop.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
