<div class="card mb-3">
    <div class="card-header bg-light d-sm-flex justify-content-between p-2">
        <h5 class="mb-0"><small><i class="fa fa-user-plus px-2" aria-hidden="true"></i> Registro de atención</small></h5>
        <h5 class="mb-0"><small>Paso 1 de 3</small></h5>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="col-lg-5">
                    <div class="form-group row">
                        <label for="inpTipo" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Tipo de documentos</label>
                        <div class="col-sm-7">
                            <select class="form-control form-control-sm" id="inpTipo">
                              <option>DNI</option>
                              <option>Carné de Extrangería</option>
                              <option>Pasaporte</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group row">
                        <label for="inpNumero" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Número</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" id="inpNumero" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group row">
                        <div class="col-sm-9">
                            <a href="#" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#regLaborales"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form>
            <div class="row">
                <div class="col-md-2 mb-2">
                    <label for="inpAP" class="col-form-label col-form-label-sm">Apellido Paterno:</label>
                    <input type="text" class="form-control form-control-sm" id="inpAP" placeholder="" value="Maldonado">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="inpAM" class="col-form-label col-form-label-sm">Apellido Materno:</label>
                    <input type="text" class="form-control form-control-sm" id="inpAM" placeholder="" value="Diaz">
                </div>
                <div class="col-md-3 mb-2">
                    <label for="inpN" class="col-form-label col-form-label-sm">Nombres:</label>
                    <input type="text" class="form-control form-control-sm" id="inpN" placeholder="" value="Pierre David">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="inpN" class="col-form-label col-form-label-sm">Sucesion Intestada:</label>
                    <div class="col-sm-7 col-md-7">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group">
                                <a class="btn btn-dark btn-sm active" data-toggle="happy" data-title="Y">SI</a>
                                <a class="btn btn-dark btn-sm notActive" data-toggle="happy" data-title="N">NO</a>
                            </div>
                            <input type="hidden" name="happy" id="happy">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <label for="inpPartida" class="col-form-label col-form-label-sm">N° Partida de Sucesión Intersada:</label>
                    <input type="text" class="form-control form-control-sm" id="inpPartida" placeholder="" value="123456789">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-2">
                    <label for="inpFec" class="col-form-label col-form-label-sm">Fecha de Nacimiento:</label>
                    <input type="text" class="form-control form-control-sm" id="inpFec" placeholder="" value="Maldonado">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="selectSexo" class="col-form-label col-form-label-sm">Sexo:</label>
                    <select class="form-control form-control-sm" id="selectSexo">
                          <option>Masculino</option>
                          <option>Femenino</option>
                        </select>
                </div>
                <div class="col-md-3 mb-2">
                </div>
                <div class="col-md-5 mb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inpTele" class="col-form-label col-form-label-sm">Telefono:</label>
                            <input type="text" class="form-control form-control-sm" id="inpTele" placeholder="" value="123456789">
                        </div>
                        <div class="col-md-6">
                            <label for="inpCel" class="col-form-label col-form-label-sm">Celular:</label>
                            <input type="text" class="form-control form-control-sm" id="inpCel" placeholder="" value="987654321">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-7">
                    <label for="" class="col-form-label col-form-label-sm">Direcciones:</label>
                    <table class="table table-responsive table-striped table-hover table-hover">
                        <thead>
                            <tr>
                                <th>Departamento</th>
                                <th>Provincia</th>
                                <th>Distrito</th>
                                <th>Dirección</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lima</td>
                                <td>Lima</td>
                                <td>Puente Piedra</td>
                                <td>Mz. D Lt 18 Urb la Capitana</td>
                                <td>
                                    <a href="#" class="text-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a href="#" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Lima</td>
                                <td>Lima</td>
                                <td>Jesus Maria</td>
                                <td>Av. Salaverry</td>
                                <td>
                                    <a href="#" class="text-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a href="#" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#regDirec"><i class="fa fa-plus" aria-hidden="true"></i> Añadir Dirección</a>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col mb-2">
                            <label for="inpCorreo" class="col-form-label col-form-label-sm">Correo Eléctronico:</label>
                            <input type="text" class="form-control form-control-sm" id="inpCorreo" placeholder="" value="pmaldonado@trabajo.gob.pe">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="selectDisca" class="col-form-label col-form-label-sm">Presenta Discapacidad:</label>
                            <select class="form-control form-control-sm" id="selectDisca">
                              <option>Ninguno</option>
                              <option>...</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="selectEmba" class="col-form-label col-form-label-sm">Presenta Embarazo:</label>
                            <select class="form-control form-control-sm" id="selectEmba">
                              <option>Si</option>
                              <option>No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-sm-right">
                    <a href="#" class="btn btn-sm m-1 btn-danger" data-toggle="modal" data-target="#termAtencion"><i class="fa fa-times-circle" aria-hidden="true"></i> Terminar atención</a>
                    <a href="#" class="btn btn-sm m-1 btn-warning" data-toggle="modal" data-target="#generarPase"><i class="fa fa-exchange" aria-hidden="true"></i> Generar pase</a>
                    <a href="registro-atencion2.html" class="btn btn-sm m-1 btn-success"><i class="fa fa-chevron-right" aria-hidden="true"></i> Siguiente</a>
                </div>
            </div>
        </form>
    </div>
</div>