<div class="content-wrapper right-col col-10 col-sm-10 col-md-10 col-lg-10 py-2">
    <div class="row">
      <div class="col">
        <h4 class="title">Perfil del Empleador</h4>
      </div>
    </div>
    <div class="form-row mb-2">
      <div class="col-md-4">
        <div class="form-group row">
          <label for="inpRuc" class="col-sm-3 col-form-label col-form-label-sm text-right">RUC</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="inpRuc" placeholder="">
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group row">
          <label for="inpRsocial" class="col-sm-3 col-form-label col-form-label-sm text-right" value="1047792455654">Razón Social</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="inpRsocial" placeholder="" value="CYH Solutions SAC">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-panel box-shadow mb-3">
          <div class="card-body">
            <div class="row no-gutters y-steps">
              <div class="col d-flex justify-content-center y-step active">
                <div class="y-progress">
                  <div class="y-progress-line"></div>
                </div>
                <div class="y-content">
                  <a href="cts.html" class="btn-y">
                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                      <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                  </a>
                  <p class="text-center mb-0">Datos Generales I</p>
                </div>
              </div>
              <div class="col d-flex justify-content-center y-step">
                <div class="y-progress">
                  <div class="y-progress-line"></div>
                </div>
                <div class="y-content">
                  <a href="gratificaciones.html" class="btn-y btn-y-disabled">
                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                      <i class="fa fa-database" aria-hidden="true"></i>
                    </div>
                  </a>
                  <p class="text-center mb-0">Datos Generales II</p>
                </div>
              </div>
              <div class="col d-flex justify-content-center y-step">
                <div class="y-progress">
                  <div class="y-progress-line"></div>
                </div>
                <div class="y-content">
                  <a href="vacaciones.html" class="btn-y btn-y-disabled">
                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                      <i class="fa fa-plane" aria-hidden="true"></i>
                    </div>
                  </a>
                  <p class="text-center mb-0">Negociación Colectiva (NVC)</p>
                </div>
              </div>
              <div class="col d-flex justify-content-center y-step">
                <div class="y-progress">
                  <div class="y-progress-line"></div>
                </div>
                <div class="y-content">
                  <a href="indemnizaciones.html" class="btn-y btn-y-disabled">
                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                      <i class="fa fa-balance-scale" aria-hidden="true"></i>
                    </div>
                  </a>
                  <p class="text-center mb-0">Resultado de Ultimas NC</p>
                </div>
              </div>
              <div class="col d-flex justify-content-center y-step">
                <div class="y-progress">
                  <div class="y-progress-line"></div>
                </div>
                <div class="y-content">
                  <a href="remuneraciones.html" class="btn-y btn-y-disabled">
                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                      <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>
                  </a>
                  <p class="text-center mb-0">Responsables de Información</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-mtpe mb-3">
          <div class="card-header bg-light d-sm-flex justify-content-between p-1">
            <h5 class="mb-0"><small><i class="fa fa-user" aria-hidden="true"></i> Datos Generales</small></h5>
          </div>
          <div class="card-body">
            <div class="form-group row mb-2">
              <label for="inpComercial" class="col-sm-2 col-form-label col-form-label-sm">Nombre Comercial (*)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="inpComercial" placeholder="" value="CYH Solutions SAC">
              </div>
            </div>
            <div class="form-group mb-2">
              <label for="textActividades" class="col-form-label col-form-label-sm">Breve descripción de las actividades económicas del empleador</label>
              <textarea class="form-control form-control-sm" id="textActividades" rows="3"></textarea>
            </div>
            <div class="form-group row mb-2">
              <label for="selectCIIU" class="col-sm-2 col-form-label col-form-label-sm">CIIU (*)</label>
              <div class="col-sm-10">
                <select class="form-control" id="selectCIIU">
                  <option>Seleccione</option>
                  <option>2</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="inpPartida" class="col-sm-2 col-form-label col-form-label-sm">Nro Partida Registral (*)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="inpPartida" placeholder="" value="">
              </div>
            </div>
            <p>Dirección para not</p>
            <a href="#" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i> Añadir dirección</a>
            <table class="table table-responsive table-bordered table-hover">
              <thead>
                <tr>
                  <th>Departamento</th>
                  <th>Distrito</th>
                  <th>Provincia</th>
                  <th>Dirección</th>
                  <th>Referencia</th>
                  <th>Notificar</th>
                  <th>Opción</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lima</td>
                  <td>Lima</td>
                  <td>Los Olivos</td>
                  <td>Jr. Ica</td>
                  <td>Altura Av. Wilson cuadra 3</td>
                  <td class="text-center"><div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                      </label>
                    </div>
                  </td>
                  <td>
                    <a href="" class="btn btn-sm btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="" class="btn btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-12 text-sm-right">
                <a href="calculo-beneficios.html" class="btn btn-sm m-1 btn-success"><i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                <a href="gratificaciones.html" class="btn btn-sm m-1 btn-success"><i class="fa fa-chevron-right" aria-hidden="true"></i> Siguiente</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>