<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDireccionLabel" jhiTranslate="gatewayApp.direccion.home.createOrEditLabel">Create or edit a Direccion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!direccion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="direccion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.nCoddirec" for="field_nCoddirec">N Coddirec</label>
            <input type="number" class="form-control" name="nCoddirec" id="field_nCoddirec"
                [(ngModel)]="direccion.nCoddirec" required />
            <div [hidden]="!(editForm.controls.nCoddirec?.dirty && editForm.controls.nCoddirec?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nCoddirec?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nCoddirec?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.nCodfperf" for="field_nCodfperf">N Codfperf</label>
            <input type="number" class="form-control" name="nCodfperf" id="field_nCodfperf"
                [(ngModel)]="direccion.nCodfperf" required />
            <div [hidden]="!(editForm.controls.nCodfperf?.dirty && editForm.controls.nCodfperf?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nCodfperf?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nCodfperf?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.vDepart" for="field_vDepart">V Depart</label>
            <input type="text" class="form-control" name="vDepart" id="field_vDepart"
                [(ngModel)]="direccion.vDepart" maxlength="100" />
            <div [hidden]="!(editForm.controls.vDepart?.dirty && editForm.controls.vDepart?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vDepart?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.vProvincia" for="field_vProvincia">V Provincia</label>
            <input type="text" class="form-control" name="vProvincia" id="field_vProvincia"
                [(ngModel)]="direccion.vProvincia" maxlength="100" />
            <div [hidden]="!(editForm.controls.vProvincia?.dirty && editForm.controls.vProvincia?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vProvincia?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.vDistrito" for="field_vDistrito">V Distrito</label>
            <input type="text" class="form-control" name="vDistrito" id="field_vDistrito"
                [(ngModel)]="direccion.vDistrito" maxlength="100" />
            <div [hidden]="!(editForm.controls.vDistrito?.dirty && editForm.controls.vDistrito?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vDistrito?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.vDireccion" for="field_vDireccion">V Direccion</label>
            <input type="text" class="form-control" name="vDireccion" id="field_vDireccion"
                [(ngModel)]="direccion.vDireccion" maxlength="200" />
            <div [hidden]="!(editForm.controls.vDireccion?.dirty && editForm.controls.vDireccion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vDireccion?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.vReferen" for="field_vReferen">V Referen</label>
            <input type="text" class="form-control" name="vReferen" id="field_vReferen"
                [(ngModel)]="direccion.vReferen" maxlength="100" />
            <div [hidden]="!(editForm.controls.vReferen?.dirty && editForm.controls.vReferen?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vReferen?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.nNotifica" for="field_nNotifica">N Notifica</label>
            <input type="number" class="form-control" name="nNotifica" id="field_nNotifica"
                [(ngModel)]="direccion.nNotifica"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.vUsuareg" for="field_vUsuareg">V Usuareg</label>
            <input type="text" class="form-control" name="vUsuareg" id="field_vUsuareg"
                [(ngModel)]="direccion.vUsuareg" required maxlength="20" />
            <div [hidden]="!(editForm.controls.vUsuareg?.dirty && editForm.controls.vUsuareg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuareg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuareg?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.tFecreg" for="field_tFecreg">T Fecreg</label>
            <div class="d-flex">
                <input id="field_tFecreg" type="datetime-local" class="form-control" name="tFecreg" [(ngModel)]="direccion.tFecreg"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.tFecreg?.dirty && editForm.controls.tFecreg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tFecreg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tFecreg?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.nFlgactivo" for="field_nFlgactivo">N Flgactivo</label>
            <input type="checkbox" class="form-control" name="nFlgactivo" id="field_nFlgactivo"
                [(ngModel)]="direccion.nFlgactivo"  />
            <div [hidden]="!(editForm.controls.nFlgactivo?.dirty && editForm.controls.nFlgactivo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nFlgactivo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.nSedereg" for="field_nSedereg">N Sedereg</label>
            <input type="number" class="form-control" name="nSedereg" id="field_nSedereg"
                [(ngModel)]="direccion.nSedereg" required />
            <div [hidden]="!(editForm.controls.nSedereg?.dirty && editForm.controls.nSedereg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nSedereg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nSedereg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.vUsuaupd" for="field_vUsuaupd">V Usuaupd</label>
            <input type="text" class="form-control" name="vUsuaupd" id="field_vUsuaupd"
                [(ngModel)]="direccion.vUsuaupd" maxlength="20" />
            <div [hidden]="!(editForm.controls.vUsuaupd?.dirty && editForm.controls.vUsuaupd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuaupd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.tFecupd" for="field_tFecupd">T Fecupd</label>
            <div class="d-flex">
                <input id="field_tFecupd" type="datetime-local" class="form-control" name="tFecupd" [(ngModel)]="direccion.tFecupd"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.nSedeupd" for="field_nSedeupd">N Sedeupd</label>
            <input type="number" class="form-control" name="nSedeupd" id="field_nSedeupd"
                [(ngModel)]="direccion.nSedeupd"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.direccion.formperfil" for="field_formperfil">Formperfil</label>
            <select class="form-control" id="field_formperfil" name="formperfil" [(ngModel)]="direccion.formperfil" >
                <option [ngValue]="null"></option>
                <option [ngValue]="formperfilOption.id === direccion.formperfil?.id ? direccion.formperfil : formperfilOption" *ngFor="let formperfilOption of formperfils; trackBy: trackFormperfilById">{{formperfilOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
