<div class="row">
	<div class="col">
		<div class="card card-panel mb-2">
			<div class="card-header d-sm-flex justify-content-between">
			  <h5>Registro<small class="ml-3">Atención Empleador</small></h5>
			</div>
			<div class="card-body">
			  <fieldset class="col">     
				<legend>Documentos presentados</legend>
				<div class="panel">
				  <div class="panel-body">
					<table id="myTable" class="table table-reponsive table-striped">
					  <thead>
						<tr>
						  <th>Descripción</th>
						  <th></th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>Beneficios Sociales</td>
						  <td class="text-center">
							<label class="custom-control custom-checkbox">
							  <input type="checkbox" class="custom-control-input" checked>
							  <span class="custom-control-indicator"></span>
							</label>
						  </td>
						</tr>
						<tr>
						  <td>Calculo de CTS</td>
						  <td class="text-center">
							<label class="custom-control custom-checkbox">
							  <input type="checkbox" class="custom-control-input">
							  <span class="custom-control-indicator"></span>
							</label>
						  </td>
						</tr>
						<tr>
						  <td>Despido Abitrario</td>
						  <td class="text-center">
							<label class="custom-control custom-checkbox">
							  <input type="checkbox" class="custom-control-input">
							  <span class="custom-control-indicator"></span>
							</label>
						  </td>
						</tr>
						<tr>
						  <td>Vacaciones periodos</td>
						  <td class="text-center">
							<label class="custom-control custom-checkbox">
							  <input type="checkbox" class="custom-control-input" checked>
							  <span class="custom-control-indicator"></span>
							</label>
						  </td>
						</tr>
					  </tbody>
					</table>
					<div class="col">
					  <form>
						<div class="form-group">
						  <label for="exampleFormControlTextarea1">Observación de la atención</label>
						  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>
					  </form>
					</div>
				  </div>
				</div>
			  </fieldset>
			</div>
			<!-- <div class="card-footer text-center">
			  <a href="consultas-empleador4.html" class="btn mx-1 btn-dark"><i class="fa fa-chevron-left" aria-hidden="true"></i> Anterior</a>
			  <a href="consultas-empleador5.html" class="btn mx-1 btn-warning"  data-toggle="modal" data-target="#exampleModal"><i class="fa fa-random" aria-hidden="true"></i> Generar pase</a>
			  <a href="consultas-empleador5.html" class="btn mx-1 btn-success"><i class="fa fa-archive" aria-hidden="true"></i> Terminar</a>
			</div> -->
		</div>
	</div>
</div>