<div class="row">
	<div class="col">
		<div class="card card-panel mb-2">
			<div class="card-header d-sm-flex justify-content-between">
				<h5>Registro<small class="ml-3">Atención Empleador</small></h5>
			</div>
			<div class="card-body">
				<fieldset class="col">     
				<legend>Motivos de consulta</legend>
				<div class="panel">
					<div class="panel-body">
					<table id="myTable" class="table table-striped">
						<thead>
						<tr>
							<td>Descripción</td>
							<td></td>
							<td>Observación</td>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Beneficios Sociales</td>
							<td class="text-center">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" checked>
								<span class="custom-control-indicator"></span>
							</label>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>Calculo de CTS</td>
							<td class="text-center">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<span class="custom-control-indicator"></span>
							</label>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>Despido Abitrario</td>
							<td class="text-center">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<span class="custom-control-indicator"></span>
							</label>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>Vacaciones periodos</td>
							<td class="text-center">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" checked>
								<span class="custom-control-indicator"></span>
							</label>
							</td>
							<td>Del 01/03/2016</td>
						</tr>
						</tbody>
					</table>
					</div>
				</div>
				</fieldset>
			</div>
			<!-- <div class="card-footer text-center">
				<a href="consultas-empleador2.html" class="btn mx-1 btn-dark"><i class="fa fa-chevron-left" aria-hidden="true"></i> Anterior</a>
				<a href="consultas-empleador5.html" class="btn mx-1 btn-dark">Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
			</div> -->
		</div>
	</div>

</div>