<div>
    <h2>
        <span jhiTranslate="gatewayApp.calificacio.home.title">Calificacios</span>
        <button class="btn btn-primary float-right jh-create-entity create-calificacio" [routerLink]="['/', { outlets: { popup: ['calificacio-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.calificacio.home.createLabel">
            Create new Calificacio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.calificacio.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="calificacios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.vDescalifi">V Descalifi</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.nPresento">N Presento</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.nEnregla">N Enregla</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.vEstado">V Estado</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.calificacio.nSedeupd">N Sedeupd</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calificacio of calificacios ;trackBy: trackId">
                <td><a [routerLink]="['../calificacio', calificacio.id ]">{{calificacio.id}}</a></td>
                <td>{{calificacio.vDescalifi}}</td>
                <td>{{calificacio.nPresento}}</td>
                <td>{{calificacio.nEnregla}}</td>
                <td>{{calificacio.vEstado}}</td>
                <td>{{calificacio.nUsuareg}}</td>
                <td>{{calificacio.tFecreg | date:'medium'}}</td>
                <td>{{calificacio.nFlgactivo}}</td>
                <td>{{calificacio.nSedereg}}</td>
                <td>{{calificacio.nUsuaupd}}</td>
                <td>{{calificacio.tFecupd | date:'medium'}}</td>
                <td>{{calificacio.nSedeupd}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../calificacio', calificacio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'calificacio/'+ calificacio.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'calificacio/'+ calificacio.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
