
<div *ngIf="aplicacion">
    <h4 class="title my-3"><span jhiTranslate="gatewayApp.aplicacion.detail.title">Aplicacion</span></h4>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span class="span-trans-bold" jhiTranslate="gatewayApp.aplicacion.varNomApp">Var Nom App</span><span>:</span></dt>
        <dd>
            <span>{{aplicacion.varNomApp}}</span>
        </dd>
        <dt><span class="span-trans-bold" jhiTranslate="gatewayApp.aplicacion.varDescApp">Var Desc App</span><span>:</span></dt>
        <dd>
            <span>{{aplicacion.varDescApp}}</span>
        </dd>
        <dt><span class="span-trans-bold" jhiTranslate="gatewayApp.aplicacion.varUrlApp">Var Url App</span><span>:</span></dt>
        <dd>
            <span>{{aplicacion.varUrlApp}}</span>
        </dd>
        <dt><span class="span-trans-bold" jhiTranslate="gatewayApp.aplicacion.numEstApp">Num Est App</span><span>:</span></dt>
        <dd>
            <span>{{ aplicacion.numEstApp==1 ? 'Activo':'Inactivo'}}</span>
        </dd>     
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-secondary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'aplicacion/'+ aplicacion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-dark">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
