<style>
        .table tr td:nth-last-child(1) {
            text-align: left;
        }
        .table {
        width: 0%;
        }
        table tr td:nth-last-child(1) {
    text-align: left;
}
</style>
        
    <div>
    <br/>
    <div align="center">
    <div style="border: 1px solid black; width: 300px;">
    <br/>
    <table align="center" style="text-align: center" border="0">
    <tr>
        <td colspan="3">¿A qué sector pertenece?</td>
    </tr>
    <tr><td colspan="3"><br/></td></tr>
    <tr>
        <td></td>
        <td align="center">
            <select>
                <option>Seleccione</option>
                <option>Privado</option>
                <option>Público</option>
            </select>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radioo"/>Empresa</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radioo"/>Grémio</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radioo"/>Actividad</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radioo"/>Oficio varios</td>
    </tr>
    </table>
    <br/>
    <div align="center">
        <button class="btn mx-1 btn-dark float-center">Ingresar</button>
    </div>
    <br/>
    </div>
    </div>
    </div>