<style>
        .table tr td:nth-last-child(1) {
            text-align: left;
        }
        .table {
        width: 0%;
        }
        table tr td:nth-last-child(1) {
    text-align: left;
}
</style>
        
    <div>
    <br/>
    <div align="center">
    <div style="border: 1px solid black; width: 300px;">
    <br/>
    <div>
        <form>
        <div>¿A qué sector pertenece?</div>

        <div>
            <input type="radio" name="radioo" (change)="verAmbito(1);" />Privado
            <input type="radio" name="radioo" (change)="verAmbito(2);" checked/>Público
        </div>

        <div id="divOpciones" style="display: none;">
            <div>Seleccione su sector</div>

            <div class="row">
                <div class="col-md-12">
                    &nbsp;&nbsp;<input type="radio" name="radioo" (change)="verAmbito(4);"/>Empresa
                    &nbsp;&nbsp;<span placement="right" ngbPopover="Empresa" triggers="mouseenter:mouseleave">?</span>
                </div>
                <div class="col-md-12">
                    <input type="radio" name="radioo" (change)="verAmbito(4);"/>Grémio
                    <span placement="right" ngbPopover="Grémio" triggers="mouseenter:mouseleave">?</span>
                </div>
                <div class="col-md-12">
                    &nbsp;&nbsp;&nbsp;<input type="radio" name="radioo" (change)="verAmbito(4);"/>Actividad
                    &nbsp;&nbsp;&nbsp;<span placement="right" ngbPopover="Actividad" triggers="mouseenter:mouseleave">?</span>
                </div>
                <div class="col-md-12">
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radioo" (change)="verAmbito(4);"/>Oficio varios
                    &nbsp;&nbsp;&nbsp;&nbsp;<span placement="right" ngbPopover="Oficio varios" triggers="mouseenter:mouseleave">?</span>
                </div>
                <div class="col-md-12">
                    <input type="radio" name="radioo" (change)="verAmbito(3);"/>Otros
                    <span placement="right" ngbPopover="Otros" triggers="mouseenter:mouseleave">?</span>
                </div>
                <div class="col-md-12" id="divTbOt" style="display: none;">
                    <input type="text" />
                </div>
            </div>
        </div>
        <br/>
        <div align="center">     
            <button class="btn mx-1 btn-dark float-center">Ingresar</button>
        </div>
        </form>
    </div>
    </div>
    </div>
    </div>