<style>
  .table {
    width: 0%;
  }
  .modal-footer {
    display: block;
}
</style>

<div>
        <div class="modal-header">
                <h4 class="modal-title">Aprobar Solicitud de Registro Sindical </h4>
                
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
            </div>
            <div class="modal-body">
                <table align="center" class="table table-striped" border="0">
                    <tr>
                        <td>Org. Sindical </td>
                        <td><label class="form-control form-control-sm">sindicatoooossss</label></td>
                    </tr>
                    <tr>
                        <td>Empresa </td>
                        <td><label class="form-control form-control-sm">nombre empresa</label></td>
                    </tr>
                    <tr>
                        <td>Delegados</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Ingresar número<br/>de expediente</td>
                        <td><input type="text" class="form-control" /></td>
                    </tr>
                </table>
            
            </div>
            <div class="modal-footer" align="center">
                <button type="button" class="btn mx-1 btn-dark float-center" (click)="activeModal.dismiss('Cross click')">Regresar</button>
                <button type="button" class="btn mx-1 btn-dark float-center" (click)="activeModal.dismiss('Cross click')">Aprobar</button>
                <button type="button" class="btn mx-1 btn-dark float-center" (click)="activeModal.dismiss('Cross click')">Rechazar</button>
            </div>
</div>
    
