<style>
  .table {
    width: 0%;
}
</style>
<div>
    <br/>
    <h4 class="title my-3" align="center">
        <span>Aprobar Solicitud de Registro Sindical</span>
    </h4>
    
    <table align="center" class="table table-striped" border="0">
        <tr>
            <td>Org. Sindical </td>
            <td><label class="form-control form-control-sm">sindicatoooossss</label></td>
        </tr>
        <tr>
            <td>Empresa </td>
            <td><label class="form-control form-control-sm">nombre empresa</label></td>
        </tr>
        <tr>
            <td>Delegados</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Ingresar número<br/>de expediente</td>
            <td><input type="text" class="form-control" id="currentSearch"/></td>
        </tr>
    </table>
    <br/>
    <div align="center">
        <button class="btn mx-1 btn-dark float-center">Regresar</button>
        <button class="btn mx-1 btn-dark float-center">Aprobar</button>
        <button class="btn mx-1 btn-dark float-center">Rechazar</button>
    </div>
</div>