<div>
        <br/>
        <h4 class="title my-3" align="center">
            <span>Listado de Organizaciones Sindicales</span>
        </h4>
    
    <table align="center" border="0">
        <tr>
            <td colspan="3" align="right">
                Ingrese Expediente:
            </td>
            <td colspan="4">
                <input type="text" class="form-control" id="currentSearch"/>    
                </td>
            <td colspan="1">
                <button class="input-group-addon btn btn-info">
                    <span class="fa fa-search"></span>
                </button>
            </td>
        </tr>
    </table>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                <th><span >Num. Expediente</span></th>
                <th><span >Organización Sindical</span></th>
                <th><span >Fecha Registro</span></th>
                <th><span ></span></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1234213</td>
                    <td>sdfsdfdsf</td>
                    <td>12/12/12</td>
                    <td><input type="submit" value="Detalle" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    </div>