
<div *ngIf="grupo">
    <h4 class="title my-3"><span jhiTranslate="gatewayApp.grupo.detail.title">Grupo</span> {{grupo.id}}</h4>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span class="span-trans-bold" jhiTranslate="gatewayApp.grupo.varNomGrupo">Var Nom Grupo</span><span>:</span></dt>
        <dd>
            <span>{{grupo.varNomGrupo}}</span>
        </dd>
        <dt><span class="span-trans-bold" jhiTranslate="gatewayApp.grupo.varDescGrupo">Var Desc Grupo</span><span>:</span></dt>
        <dd>
            <span>{{grupo.varDescGrupo}}</span>
        </dd>
        <dt><span class="span-trans-bold" jhiTranslate="gatewayApp.grupo.numCodLocal">Num Cod Local</span><span>:</span></dt>
        <dd>
            <span>{{grupo.numCodLocal}}</span>
        </dd>
        <dt><span class="span-trans-bold" jhiTranslate="gatewayApp.grupo.numEstGrupo">Num Est Grupo</span><span>:</span></dt>
        <dd>
            <span>{{ grupo.numEstGrupo==1 ? 'Activo':'Inactivo'}}</span>
        </dd>        
        <dt><span class="span-trans-bold" jhiTranslate="gatewayApp.grupo.entidad">Entidad</span><span>:</span></dt>
        <dd>
            <div *ngIf="grupo.entidad">
               {{grupo.entidad?.varRsocialEntidad}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-secondary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'grupo/'+ grupo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-dark">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
