<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGrupoLabel" jhiTranslate="gatewayApp.grupo.home.createOrEditLabel">Create or edit a Grupo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" hidden>
            <label for="id" jhiTranslate="global.field.id">Nro</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="grupo.id" readonly />
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label form-control-label" jhiTranslate="gatewayApp.grupo.entidad" for="field_entidad">Entidad</label>
            <div class="col-md-10">
                <select required class="form-control" id="field_entidad" name="entidad" [(ngModel)]="grupo.entidad" >
                    <option [ngValue]="entidadOption.id === grupo.entidad?.id ? grupo.entidad : entidadOption" *ngFor="let entidadOption of entidades; trackBy: trackEntidadById">{{entidadOption.varRsocialEntidad}}</option>
                </select>
            </div>                
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label form-control-label" jhiTranslate="gatewayApp.grupo.varNomGrupo" for="field_varNomGrupo">Var Nom Grupo</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="varNomGrupo" id="field_varNomGrupo"
                    [(ngModel)]="grupo.varNomGrupo" maxlength="100" />
                <div [hidden]="!(editForm.controls.varNomGrupo?.dirty && editForm.controls.varNomGrupo?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.varNomGrupo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label form-control-label" jhiTranslate="gatewayApp.grupo.varDescGrupo" for="field_varDescGrupo">Var Desc Grupo</label>
            <div class="col-md-10">
                <textarea rows="3" type="text" class="form-control" name="varDescGrupo" id="field_varDescGrupo"
                    [(ngModel)]="grupo.varDescGrupo" maxlength="300"></textarea>
                <div [hidden]="!(editForm.controls.varDescGrupo?.dirty && editForm.controls.varDescGrupo?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.varDescGrupo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                        This field cannot be longer than 300 characters.
                    </small>
                </div>
            </div>            
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label form-control-label" jhiTranslate="gatewayApp.grupo.numCodLocal" for="field_numCodLocal">Num Cod Local</label>
            <div class="col-md-10">
                <input type="number" class="form-control" name="numCodLocal" id="field_numCodLocal"
                    [(ngModel)]="grupo.numCodLocal"  />
            </div>            
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label form-control-label" jhiTranslate="gatewayApp.grupo.numEstGrupo" for="field_numEstGrupo">Num Est Grupo</label>
            <div class="col-md-10">
                <select required class="form-control" name="numEstGrupo" id="field_numEstGrupo" [(ngModel)]="grupo.numEstGrupo">
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
