
<div *ngIf="grupo">
    <h4 class="title my-3"><span jhiTranslate="gatewayApp.grupo.detail.title">Grupo</span> {{grupo.id}}</h4>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.grupo.numCodLocal">Num Cod Local</span></dt>
        <dd>
            <span>{{grupo.numCodLocal}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.grupo.numEstGrupo">Num Est Grupo</span></dt>
        <dd>
            <span>{{grupo.numEstGrupo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.grupo.varNomGrupo">Var Nom Grupo</span></dt>
        <dd>
            <span>{{grupo.varNomGrupo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.grupo.varDescGrupo">Var Desc Grupo</span></dt>
        <dd>
            <span>{{grupo.varDescGrupo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.grupo.varUsuarioLog">Var Usuario Log</span></dt>
        <dd>
            <span>{{grupo.varUsuarioLog}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.grupo.datFechaLog">Dat Fecha Log</span></dt>
        <dd>
            <span>{{grupo.datFechaLog | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.grupo.numEliminar">Num Eliminar</span></dt>
        <dd>
            <span>{{grupo.numEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.grupo.entidad">Entidad</span></dt>
        <dd>
            <div *ngIf="grupo.entidad">
                <a [routerLink]="['/entidad', grupo.entidad?.id]">{{grupo.entidad?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'grupo/'+ grupo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
