<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEntidadLabel" jhiTranslate="gatewayApp.entidad.home.createOrEditLabel">Create or edit a Entidad</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" hidden>
            <label for="id" jhiTranslate="global.field.id">Nro</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="entidad.id" readonly />
        </div>
        <div class="form-group row">
                <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.tipoEntidad" for="field_tipoEntidad">Tipo Entidad</label>
                <div class="col-sm-10">
                    <select required class="form-control" id="field_tipoEntidad" name="tipoEntidad" [(ngModel)]="entidad.tipoEntidad" >
                            <option [ngValue]="tipoEntidadOption.id === entidad.tipoEntidad?.id ? entidad.tipoEntidad : tipoEntidadOption" *ngFor="let tipoEntidadOption of tipoentidades; trackBy: trackTipoEntidadById">{{tipoEntidadOption.varNomTpentidad}}</option>
                    </select>
                </div>            
            </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.varRsocialEntidad" for="field_varRsocialEntidad">Var Rsocial Entidad</label>
            <div class="col-sm-6">
                <input required type="text" class="form-control" name="varRsocialEntidad" id="field_varRsocialEntidad"
                    [(ngModel)]="entidad.varRsocialEntidad" maxlength="300" />
                <div [hidden]="!(editForm.controls.varRsocialEntidad?.dirty && editForm.controls.varRsocialEntidad?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.varRsocialEntidad?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.varRsocialEntidad?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                       This field cannot be longer than 300 characters.
                    </small>
                </div>
            </div>
            <label class="col-sm-1 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.varRucEntidad" for="field_varRucEntidad">Var Ruc Entidad</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" name="varRucEntidad" id="field_varRucEntidad"
                    [(ngModel)]="entidad.varRucEntidad" max="20" />
                <div [hidden]="!(editForm.controls.varRucEntidad?.dirty && editForm.controls.varRucEntidad?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.varRucEntidad?.errors?.max" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                       This field cannot be longer than 20 characters.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.varDirecEntidad" for="field_varDirecEntidad">Var Direc Entidad</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="varDirecEntidad" id="field_varDirecEntidad"
                    [(ngModel)]="entidad.varDirecEntidad" maxlength="300" />
                <div [hidden]="!(editForm.controls.varDirecEntidad?.dirty && editForm.controls.varDirecEntidad?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.varDirecEntidad?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                       This field cannot be longer than 300 characters.
                    </small>
                </div>
            </div>            
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.numCodDepartamento" for="field_numCodDepartamento">Num Cod Departamento</label>
            <div class="col-sm-2">
                <select (change)="loadProvincias(true, $event.target.value)" class="form-control" id="field_numCodDepartamento" name="numCodDepartamento" [(ngModel)]="entidad.numCodDepartamento" >
                    <option value={{departamento.vcoddep}} *ngFor="let departamento of departamentos;">{{departamento.vdesdep}}</option>
                </select>
            </div>
            <label class="col-sm-1 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.numCodProvincia" for="field_numCodProvincia">Num Cod Provincia</label>
            <div class="col-sm-3">
                <select (change)="loadDistritos($event.target.value)" class="form-control" name="numCodProvincia" id="field_numCodProvincia" [(ngModel)]="entidad.numCodProvincia"  >
                        <option value={{provincia[1]}} *ngFor="let provincia of provincias;">{{provincia[2]}}</option>
                </select>
            </div>            
            <label class="col-sm-1 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.numCodDistrito" for="field_numCodDistrito">Num Cod Distrito</label>
            <div class="col-sm-3">
                <select class="form-control" name="numCodDistrito" id="field_numCodDistrito" [(ngModel)]="entidad.numCodDistrito">
                        <option value={{distrito[2]}} *ngFor="let distrito of distritos;">{{distrito[3]}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.varEmailEntidad" for="field_varEmailEntidad">Var Email Entidad</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" name="varEmailEntidad" id="field_varEmailEntidad"
                    [(ngModel)]="entidad.varEmailEntidad" maxlength="100" />
                <div [hidden]="!(editForm.controls.varEmailEntidad?.dirty && editForm.controls.varEmailEntidad?.invalid)">
                    <small class="form-text text-danger" 
                        [hidden]="!editForm.controls.varEmailEntidad?.invalid"
                        jhiTranslate="global.messages.validate.email.invalid">
                        Your email is invalid.
                    </small>
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.varEmailEntidad?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                    </small>
                </div>              
            </div>            
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.varTelefEntidad" for="field_varTelefEntidad">Var Telef Entidad</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="varTelefEntidad" id="field_varTelefEntidad"
                    [(ngModel)]="entidad.varTelefEntidad" maxlength="50" />
                <div [hidden]="!(editForm.controls.varTelefEntidad?.dirty && editForm.controls.varTelefEntidad?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.varTelefEntidad?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                       This field cannot be longer than 50 characters.
                    </small>
                </div>
            </div>            
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.varFaxEntidad" for="field_varFaxEntidad">Var Fax Entidad</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="varFaxEntidad" id="field_varFaxEntidad"
                    [(ngModel)]="entidad.varFaxEntidad" maxlength="50" />
                <div [hidden]="!(editForm.controls.varFaxEntidad?.dirty && editForm.controls.varFaxEntidad?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.varFaxEntidad?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                       This field cannot be longer than 50 characters.
                    </small>
                </div>
            </div>   
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.varPagwebEntidad" for="field_varPagwebEntidad">Var Pagweb Entidad</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="varPagwebEntidad" id="field_varPagwebEntidad"
                    [(ngModel)]="entidad.varPagwebEntidad" maxlength="300" />
                <div [hidden]="!(editForm.controls.varPagwebEntidad?.dirty && editForm.controls.varPagwebEntidad?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.varPagwebEntidad?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                       This field cannot be longer than 300 characters.
                    </small>
                </div>
            </div>            
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.latitud" for="field_latitud">Latitud</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="latitud" id="field_latitud"
                    [(ngModel)]="entidad.latitud" maxlength="50" />
                <div [hidden]="!(editForm.controls.latitud?.dirty && editForm.controls.latitud?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.latitud?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                       This field cannot be longer than 50 characters.
                    </small>
                </div>
            </div>
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.longitud" for="field_longitud">Longitud</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="longitud" id="field_longitud"
                    [(ngModel)]="entidad.longitud" maxlength="50" />
                <div [hidden]="!(editForm.controls.longitud?.dirty && editForm.controls.longitud?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.longitud?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                       This field cannot be longer than 50 characters.
                    </small>
                </div>
            </div>   
            <label class="col-sm-2 col-form-label form-control-label" jhiTranslate="gatewayApp.entidad.sCodigoentcer" for="field_sCodigoentcer">S Codigoentcer</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="sCodigoentcer" id="field_sCodigoentcer"
                    [(ngModel)]="entidad.sCodigoentcer" maxlength="8" />
                <div [hidden]="!(editForm.controls.sCodigoentcer?.dirty && editForm.controls.sCodigoentcer?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.sCodigoentcer?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 8 }">
                       This field cannot be longer than 8 characters.
                    </small>
                </div>
            </div>     
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
