<div>
    <h4 class="title my-3">
        <span jhiTranslate="gatewayApp.tipatencion.home.title">Tipatencions</span>
        <button class="btn btn-primary float-right jh-create-entity create-tipatencion" [routerLink]="['/consultas', { outlets: { popup: ['tipatencion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.tipatencion.home.createLabel">
            Create new Tipatencion
            </span>
        </button>
    </h4>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.tipatencion.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tipatencions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.tipatencion.vDescripcion">V Descripcion</span></th>
            <th><span jhiTranslate="gatewayApp.tipatencion.vUsuarioreg">V Usuarioreg</span></th>
            <th><span jhiTranslate="gatewayApp.tipatencion.dFechareg">D Fechareg</span></th>
            <th><span jhiTranslate="gatewayApp.tipatencion.nEliminar">N Eliminar</span></th>
            <th><span jhiTranslate="gatewayApp.tipatencion.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.tipatencion.vUsuarioupd">V Usuarioupd</span></th>
            <th><span jhiTranslate="gatewayApp.tipatencion.dFechaupd">D Fechaupd</span></th>
            <th><span jhiTranslate="gatewayApp.tipatencion.nSedeupd">N Sedeupd</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipatencion of tipatencions ;trackBy: trackId">
                <td><a [routerLink]="['../tipatencion', tipatencion.id ]">{{tipatencion.id}}</a></td>
                <td>{{tipatencion.vDescripcion}}</td>
                <td>{{tipatencion.vUsuarioreg}}</td>
                <td>{{tipatencion.dFechareg | date:'medium'}}</td>
                <td>{{tipatencion.nEliminar}}</td>
                <td>{{tipatencion.nSedereg}}</td>
                <td>{{tipatencion.vUsuarioupd}}</td>
                <td>{{tipatencion.dFechaupd | date:'medium'}}</td>
                <td>{{tipatencion.nSedeupd}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tipatencion', tipatencion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consultas', { outlets: { popup: 'tipatencion/'+ tipatencion.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consultas', { outlets: { popup: 'tipatencion/'+ tipatencion.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
