<div>
    <h2>
        <span jhiTranslate="gatewayApp.motidenun.home.title">Motidenuns</span>
        <button class="btn btn-primary float-right jh-create-entity create-motidenun" [routerLink]="['/', { outlets: { popup: ['motidenun-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.motidenun.home.createLabel">
            Create new Motidenun
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.motidenun.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="motidenuns">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.motidenun.vDescrip">V Descrip</span></th>
            <th><span jhiTranslate="gatewayApp.motidenun.vUsuareg">V Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.motidenun.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.motidenun.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.motidenun.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.motidenun.vUsuaupd">V Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.motidenun.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.motidenun.nSedeupd">N Sedeupd</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let motidenun of motidenuns ;trackBy: trackId">
                <td><a [routerLink]="['../motidenun', motidenun.id ]">{{motidenun.id}}</a></td>
                <td>{{motidenun.vDescrip}}</td>
                <td>{{motidenun.vUsuareg}}</td>
                <td>{{motidenun.tFecreg | date:'medium'}}</td>
                <td>{{motidenun.nFlgactivo}}</td>
                <td>{{motidenun.nSedereg}}</td>
                <td>{{motidenun.vUsuaupd}}</td>
                <td>{{motidenun.tFecupd | date:'medium'}}</td>
                <td>{{motidenun.nSedeupd}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../motidenun', motidenun.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'motidenun/'+ motidenun.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'motidenun/'+ motidenun.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
