
<!-- <jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div> -->

<div id="wrapper">    
    <router-outlet name="leftbar"></router-outlet>    
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <router-outlet name="topbar"></router-outlet>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
        <div class="footer">
            <jhi-footer></jhi-footer>
        </div>
    </div>
</div>
