<div>
    <h2>
        <span jhiTranslate="gatewayApp.tipzona.home.title">Tipzonas</span>
        <button class="btn btn-primary float-right jh-create-entity create-tipzona" [routerLink]="['/', { outlets: { popup: ['tipzona-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.tipzona.home.createLabel">
            Create new Tipzona
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.tipzona.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tipzonas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.tipzona.vDescrip">V Descrip</span></th>
            <th><span jhiTranslate="gatewayApp.tipzona.vDesccorta">V Desccorta</span></th>
            <th><span jhiTranslate="gatewayApp.tipzona.vUsuareg">V Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.tipzona.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.tipzona.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.tipzona.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.tipzona.vUsuaupd">V Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.tipzona.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.tipzona.nSedeupd">N Sedeupd</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipzona of tipzonas ;trackBy: trackId">
                <td><a [routerLink]="['../tipzona', tipzona.id ]">{{tipzona.id}}</a></td>
                <td>{{tipzona.vDescrip}}</td>
                <td>{{tipzona.vDesccorta}}</td>
                <td>{{tipzona.vUsuareg}}</td>
                <td>{{tipzona.tFecreg | date:'medium'}}</td>
                <td>{{tipzona.nFlgactivo}}</td>
                <td>{{tipzona.nSedereg}}</td>
                <td>{{tipzona.vUsuaupd}}</td>
                <td>{{tipzona.tFecupd | date:'medium'}}</td>
                <td>{{tipzona.nSedeupd}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tipzona', tipzona.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tipzona/'+ tipzona.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tipzona/'+ tipzona.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
