
<div *ngIf="abogado">
    <h2><span jhiTranslate="gatewayApp.abogado.detail.title">Abogado</span> {{abogado.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.abogado.vNomabogad">V Nomabogad</span></dt>
        <dd>
            <span>{{abogado.vNomabogad}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.abogado.nCodabousu">N Codabousu</span></dt>
        <dd>
            <span>{{abogado.nCodabousu}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.abogado.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{abogado.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.abogado.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{abogado.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.abogado.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{abogado.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.abogado.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{abogado.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.abogado.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{abogado.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.abogado.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{abogado.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.abogado.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{abogado.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.abogado.oficina">Oficina</span></dt>
        <dd>
            <div *ngIf="abogado.oficina">
                <a [routerLink]="['/oficina', abogado.oficina?.id]">{{abogado.oficina?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'abogado/'+ abogado.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
