
<div *ngIf="sucesor">
    <h2><span jhiTranslate="gatewayApp.sucesor.detail.title">Sucesor</span> {{sucesor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.sucesor.vEstado">V Estado</span></dt>
        <dd>
            <span>{{sucesor.vEstado}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sucesor.vCodpartid">V Codpartid</span></dt>
        <dd>
            <span>{{sucesor.vCodpartid}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sucesor.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{sucesor.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sucesor.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{sucesor.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sucesor.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{sucesor.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sucesor.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{sucesor.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sucesor.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{sucesor.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sucesor.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{sucesor.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sucesor.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{sucesor.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sucesor.pernatural">Pernatural</span></dt>
        <dd>
            <div *ngIf="sucesor.pernatural">
                <a [routerLink]="['/pernatural', sucesor.pernatural?.id]">{{sucesor.pernatural?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.sucesor.trabajador">Trabajador</span></dt>
        <dd>
            <div *ngIf="sucesor.trabajador">
                <a [routerLink]="['/trabajador', sucesor.trabajador?.id]">{{sucesor.trabajador?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sucesor/'+ sucesor.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
