<div class="row mt-3">
    <div class="col">
        <div class="card card-panel mb-3">
            <div class="card-header d-sm-flex justify-content-between">
                <h5>Consulta de Expediente</h5>
            </div>
            <div class="card-body">
                <p-tabView (onChange)="onTabChange($event)">
                    <p-tabPanel header="Emitidos" [selected]="true" >
                        <router-outlet *ngIf="estado_expediente === 0"></router-outlet>
                    </p-tabPanel>
                    <p-tabPanel header="Para Multar">
                        <router-outlet *ngIf="estado_expediente === 1"></router-outlet>
                    </p-tabPanel>
                    <p-tabPanel header="Multados">
                        <router-outlet *ngIf="estado_expediente === 2"></router-outlet>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>
<!-- <router-outlet name="popupdoc"></router-outlet> -->


