<style>
        .table tr td:nth-last-child(1) {
            text-align: left;
        }
</style>
    
    <br/>
    <div>
        <h4 class="title my-3" align="center">
            <span>Agregar Afiliado</span>
        </h4>
        
        <div class="table-responsive">
        <table class="table table-striped" border="0">
        <tr>
            <td>Tipo Doc. </td>
            <td>
                <select class="form-control form-control-sm">
                    <option>DNI</option>
                    <option>RUC</option>
                </select>
            </td>            
            <td>Num. Docu. </td>
            <td><input type="text" class="form-control form-control-sm" /></td>
            <td><input type="submit" value="Buscar" /></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td colspan="4" align="left"><input type="text" class="form-control form-control-sm" /></td>
        </tr>
        <tr>
            <td>Cargo</td>
            <td colspan="2">Afiliado</td>
            <td>Fecha Afiliado</td>
            <td><input type="date"/></td>
        </tr>
        </table>
        <br/>
        <div align="center">
            <button class="btn mx-1 btn-dark float-center">Cancelar</button>
            <button class="btn mx-1 btn-dark float-center">Guardar</button>
        </div>
        </div> 
    </div>
    