<style>
        .table tr td:nth-last-child(1) {
            text-align: left;
        }
</style>
    
    <br/>
    <div>
        <h4 class="title my-3" align="center">
            <span>Agregar Confederación</span>
        </h4>
        
        <div class="table-responsive">
        <table class="table table-striped" border="0">
        <tr>
            <td>Num. Expediente </td>
            <td><input type="text" class="form-control form-control-sm" /></td>
            <td><input type="submit" value="Buscar" /></td>
        </tr>
        <tr>
            <td>Tipo Organización </td>
            <td colspan="2" align="left">
                <select class="form-control form-control-sm">
                    <option>Sindicato</option>
                    <option>Federación</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Razón Social</td>
            <td colspan="2" align="left"><input type="text" class="form-control form-control-sm" /></td>
        </tr>
        <tr>
            <td>Fecha Afiliación(*) </td>
            <td colspan="2"><input type="date"/></td>
        </tr>
        </table>
        <br/>
        <div align="center">
            <button class="btn mx-1 btn-dark float-center">Cancelar</button>
            <button class="btn mx-1 btn-dark float-center">Guardar</button>
        </div>
        </div> 
    </div>
    