<style>
        .table tr td:nth-last-child(1) {
            text-align: left;
        }
     </style>
    
    <br/>
    <div>
        <h4 class="title my-3" align="center">
            <span>Nuevo Cargo</span>
        </h4>
        
        <div class="table-responsive">
        <table class="table table-striped" border="0">
        <tr>
            <td>Descripción </td>
            <td><input type="text" class="form-control form-control-sm" /></td>
        </tr>
        </table>
        <br/>
        <div align="center">
            <button class="btn mx-1 btn-dark float-center">Cancelar</button>
            <button class="btn mx-1 btn-dark float-center">Guardar</button>
        </div>
        </div> 
    </div>
    