
<div *ngIf="atencion">
    <h2><span jhiTranslate="gatewayApp.atencion.detail.title">Atencion</span> {{atencion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.atencion.vObsatenci">V Obsatenci</span></dt>
        <dd>
            <span>{{atencion.vObsatenci}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nFlgembara">N Flgembara</span></dt>
        <dd>
            <span>{{atencion.nFlgembara}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.vEstado">V Estado</span></dt>
        <dd>
            <span>{{atencion.vEstado}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.vNumticket">V Numticket</span></dt>
        <dd>
            <span>{{atencion.vNumticket}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nCodtrepre">N Codtrepre</span></dt>
        <dd>
            <span>{{atencion.nCodtrepre}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{atencion.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{atencion.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{atencion.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{atencion.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{atencion.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{atencion.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{atencion.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.liquidacion">Liquidacion</span></dt>
        <dd>
            <div *ngIf="atencion.liquidacion">
                <a [routerLink]="['/liquidacion', atencion.liquidacion?.id]">{{atencion.liquidacion?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.datlab">Datlab</span></dt>
        <dd>
            <div *ngIf="atencion.datlab">
                <a [routerLink]="['/datlab', atencion.datlab?.id]">{{atencion.datlab?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.empleador">Empleador</span></dt>
        <dd>
            <div *ngIf="atencion.empleador">
                <a [routerLink]="['/empleador', atencion.empleador?.id]">{{atencion.empleador?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.oficina">Oficina</span></dt>
        <dd>
            <div *ngIf="atencion.oficina">
                <a [routerLink]="['/oficina', atencion.oficina?.id]">{{atencion.oficina?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.tipatencion">Tipatencion</span></dt>
        <dd>
            <div *ngIf="atencion.tipatencion">
                <a [routerLink]="['/tipatencion', atencion.tipatencion?.id]">{{atencion.tipatencion?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.trabajador">Trabajador</span></dt>
        <dd>
            <div *ngIf="atencion.trabajador">
                <a [routerLink]="['/trabajador', atencion.trabajador?.id]">{{atencion.trabajador?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'atencion/'+ atencion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
