<div>
    <h4 class="title my-3">
        <span jhiTranslate="gatewayApp.atencion.home.title">Atencions</span>
        <button class="btn btn-primary float-right jh-create-entity create-atencion" [routerLink]="['/consultas', { outlets: { popup: ['atencion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.atencion.home.createLabel">
            Create new Atencion
            </span>
        </button>
    </h4>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.atencion.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="atencions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.vObservacion">V Observacion</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.cFlgpresentaembarazo">C Flgpresentaembarazo</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.cFlgestado">C Flgestado</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.vNumeroticket">V Numeroticket</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.nCodtrabrepresentante">N Codtrabrepresentante</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.vUsuarioreg">V Usuarioreg</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.dFechareg">D Fechareg</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.nEliminar">N Eliminar</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.vUsuarioupd">V Usuarioupd</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.dFechaupd">D Fechaupd</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.pase">Pase</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.datlaboral">Datlaboral</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.empleador">Empleador</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.oficina">Oficina</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.tipatencion">Tipatencion</span></th>
            <th><span jhiTranslate="gatewayApp.atencion.trabajador">Trabajador</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let atencion of atencions ;trackBy: trackId">
                <td><a [routerLink]="['../atencion', atencion.id ]">{{atencion.id}}</a></td>
                <td>{{atencion.vObservacion}}</td>
                <td>{{atencion.cFlgpresentaembarazo}}</td>
                <td>{{atencion.cFlgestado}}</td>
                <td>{{atencion.vNumeroticket}}</td>
                <td>{{atencion.nCodtrabrepresentante}}</td>
                <td>{{atencion.vUsuarioreg}}</td>
                <td>{{atencion.dFechareg | date:'medium'}}</td>
                <td>{{atencion.nEliminar}}</td>
                <td>{{atencion.nSedereg}}</td>
                <td>{{atencion.vUsuarioupd}}</td>
                <td>{{atencion.dFechaupd | date:'medium'}}</td>
                <td>{{atencion.nSedeupd}}</td>
                <td>
                    <div *ngIf="atencion.pase">
                        <a [routerLink]="['../pase', atencion.pase?.id ]" >{{atencion.pase?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="atencion.datlaboral">
                        <a [routerLink]="['../datlaboral', atencion.datlaboral?.id ]" >{{atencion.datlaboral?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="atencion.empleador">
                        <a [routerLink]="['../empleador', atencion.empleador?.id ]" >{{atencion.empleador?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="atencion.oficina">
                        <a [routerLink]="['../oficina', atencion.oficina?.id ]" >{{atencion.oficina?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="atencion.tipatencion">
                        <a [routerLink]="['../tipatencion', atencion.tipatencion?.id ]" >{{atencion.tipatencion?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="atencion.trabajador">
                        <a [routerLink]="['../trabajador', atencion.trabajador?.id ]" >{{atencion.trabajador?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../atencion', atencion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consultas', { outlets: { popup: 'atencion/'+ atencion.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consultas', { outlets: { popup: 'atencion/'+ atencion.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
