
<div *ngIf="atencion">
    <h4 class="title my-3"><span jhiTranslate="gatewayApp.atencion.detail.title">Atencion</span> {{atencion.id}}</h4>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.atencion.vObservacion">V Observacion</span></dt>
        <dd>
            <span>{{atencion.vObservacion}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.cFlgpresentaembarazo">C Flgpresentaembarazo</span></dt>
        <dd>
            <span>{{atencion.cFlgpresentaembarazo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.cFlgestado">C Flgestado</span></dt>
        <dd>
            <span>{{atencion.cFlgestado}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.vNumeroticket">V Numeroticket</span></dt>
        <dd>
            <span>{{atencion.vNumeroticket}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nCodtrabrepresentante">N Codtrabrepresentante</span></dt>
        <dd>
            <span>{{atencion.nCodtrabrepresentante}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.vUsuarioreg">V Usuarioreg</span></dt>
        <dd>
            <span>{{atencion.vUsuarioreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.dFechareg">D Fechareg</span></dt>
        <dd>
            <span>{{atencion.dFechareg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nEliminar">N Eliminar</span></dt>
        <dd>
            <span>{{atencion.nEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{atencion.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.vUsuarioupd">V Usuarioupd</span></dt>
        <dd>
            <span>{{atencion.vUsuarioupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.dFechaupd">D Fechaupd</span></dt>
        <dd>
            <span>{{atencion.dFechaupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{atencion.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.pase">Pase</span></dt>
        <dd>
            <div *ngIf="atencion.pase">
                <a [routerLink]="['/pase', atencion.pase?.id]">{{atencion.pase?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.datlaboral">Datlaboral</span></dt>
        <dd>
            <div *ngIf="atencion.datlaboral">
                <a [routerLink]="['/datlaboral', atencion.datlaboral?.id]">{{atencion.datlaboral?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.empleador">Empleador</span></dt>
        <dd>
            <div *ngIf="atencion.empleador">
                <a [routerLink]="['/empleador', atencion.empleador?.id]">{{atencion.empleador?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.tipatencion">Tipatencion</span></dt>
        <dd>
            <div *ngIf="atencion.tipatencion">
                <a [routerLink]="['/tipatencion', atencion.tipatencion?.id]">{{atencion.tipatencion?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.atencion.trabajador">Trabajador</span></dt>
        <dd>
            <div *ngIf="atencion.trabajador">
                <a [routerLink]="['/trabajador', atencion.trabajador?.id]">{{atencion.trabajador?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/consultas', { outlets: { popup: 'atencion/'+ atencion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
