<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAtencionLabel" jhiTranslate="gatewayApp.atencion.home.createOrEditLabel">Create or edit a Atencion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!atencion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="atencion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.vObsatenci" for="field_vObsatenci">V Obsatenci</label>
            <input type="text" class="form-control" name="vObsatenci" id="field_vObsatenci"
                [(ngModel)]="atencion.vObsatenci" maxlength="500" />
            <div [hidden]="!(editForm.controls.vObsatenci?.dirty && editForm.controls.vObsatenci?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vObsatenci?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.nFlgembara" for="field_nFlgembara">N Flgembara</label>
            <input type="checkbox" class="form-control" name="nFlgembara" id="field_nFlgembara"
                [(ngModel)]="atencion.nFlgembara"  />
            <div [hidden]="!(editForm.controls.nFlgembara?.dirty && editForm.controls.nFlgembara?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nFlgembara?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.vEstado" for="field_vEstado">V Estado</label>
            <input type="text" class="form-control" name="vEstado" id="field_vEstado"
                [(ngModel)]="atencion.vEstado" required maxlength="1" />
            <div [hidden]="!(editForm.controls.vEstado?.dirty && editForm.controls.vEstado?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vEstado?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vEstado?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                   This field cannot be longer than 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.vNumticket" for="field_vNumticket">V Numticket</label>
            <input type="text" class="form-control" name="vNumticket" id="field_vNumticket"
                [(ngModel)]="atencion.vNumticket" required maxlength="10" />
            <div [hidden]="!(editForm.controls.vNumticket?.dirty && editForm.controls.vNumticket?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumticket?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumticket?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.nCodtrabre" for="field_nCodtrabre">N Codtrabre</label>
            <input type="number" class="form-control" name="nCodtrabre" id="field_nCodtrabre"
                [(ngModel)]="atencion.nCodtrabre"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.nUsuareg" for="field_nUsuareg">N Usuareg</label>
            <input type="number" class="form-control" name="nUsuareg" id="field_nUsuareg"
                [(ngModel)]="atencion.nUsuareg" required />
            <div [hidden]="!(editForm.controls.nUsuareg?.dirty && editForm.controls.nUsuareg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nUsuareg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nUsuareg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.tFecreg" for="field_tFecreg">T Fecreg</label>
            <div class="d-flex">
                <input id="field_tFecreg" type="datetime-local" class="form-control" name="tFecreg" [(ngModel)]="atencion.tFecreg"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.tFecreg?.dirty && editForm.controls.tFecreg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tFecreg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tFecreg?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.nFlgactivo" for="field_nFlgactivo">N Flgactivo</label>
            <input type="checkbox" class="form-control" name="nFlgactivo" id="field_nFlgactivo"
                [(ngModel)]="atencion.nFlgactivo"  />
            <div [hidden]="!(editForm.controls.nFlgactivo?.dirty && editForm.controls.nFlgactivo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nFlgactivo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.nSedereg" for="field_nSedereg">N Sedereg</label>
            <input type="number" class="form-control" name="nSedereg" id="field_nSedereg"
                [(ngModel)]="atencion.nSedereg" required />
            <div [hidden]="!(editForm.controls.nSedereg?.dirty && editForm.controls.nSedereg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nSedereg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nSedereg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.nUsuaupd" for="field_nUsuaupd">N Usuaupd</label>
            <input type="number" class="form-control" name="nUsuaupd" id="field_nUsuaupd"
                [(ngModel)]="atencion.nUsuaupd"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.tFecupd" for="field_tFecupd">T Fecupd</label>
            <div class="d-flex">
                <input id="field_tFecupd" type="datetime-local" class="form-control" name="tFecupd" [(ngModel)]="atencion.tFecupd"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.nSedeupd" for="field_nSedeupd">N Sedeupd</label>
            <input type="number" class="form-control" name="nSedeupd" id="field_nSedeupd"
                [(ngModel)]="atencion.nSedeupd"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.pasegl" for="field_pasegl">Pasegl</label>
            <select class="form-control" id="field_pasegl" name="pasegl" [(ngModel)]="atencion.pasegl">
                <option [ngValue]="null"></option>
                <option [ngValue]="paseglOption.id === atencion.pasegl?.id ? atencion.pasegl : paseglOption" *ngFor="let paseglOption of pasegls; trackBy: trackPaseglById">{{paseglOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.datlab" for="field_datlab">Datlab</label>
            <select class="form-control" id="field_datlab" name="datlab" [(ngModel)]="atencion.datlab" >
                <option [ngValue]="null"></option>
                <option [ngValue]="datlabOption.id === atencion.datlab?.id ? atencion.datlab : datlabOption" *ngFor="let datlabOption of datlabs; trackBy: trackDatlabById">{{datlabOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.empleador" for="field_empleador">Empleador</label>
            <select class="form-control" id="field_empleador" name="empleador" [(ngModel)]="atencion.empleador" >
                <option [ngValue]="null"></option>
                <option [ngValue]="empleadorOption.id === atencion.empleador?.id ? atencion.empleador : empleadorOption" *ngFor="let empleadorOption of empleadors; trackBy: trackEmpleadorById">{{empleadorOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.oficina" for="field_oficina">Oficina</label>
            <select class="form-control" id="field_oficina" name="oficina" [(ngModel)]="atencion.oficina" >
                <option [ngValue]="null"></option>
                <option [ngValue]="oficinaOption.id === atencion.oficina?.id ? atencion.oficina : oficinaOption" *ngFor="let oficinaOption of oficinas; trackBy: trackOficinaById">{{oficinaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.tipatencion" for="field_tipatencion">Tipatencion</label>
            <select class="form-control" id="field_tipatencion" name="tipatencion" [(ngModel)]="atencion.tipatencion" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tipatencionOption.id === atencion.tipatencion?.id ? atencion.tipatencion : tipatencionOption" *ngFor="let tipatencionOption of tipatencions; trackBy: trackTipatencionById">{{tipatencionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.atencion.trabajador" for="field_trabajador">Trabajador</label>
            <select class="form-control" id="field_trabajador" name="trabajador" [(ngModel)]="atencion.trabajador" >
                <option [ngValue]="null"></option>
                <option [ngValue]="trabajadorOption.id === atencion.trabajador?.id ? atencion.trabajador : trabajadorOption" *ngFor="let trabajadorOption of trabajadors; trackBy: trackTrabajadorById">{{trabajadorOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
