
<div *ngIf="expediente">
    <h4 class="title my-3"><span jhiTranslate="gatewayApp.expediente.detail.title">Expediente</span> {{expediente.id}}</h4>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.expediente.name">Name</span></dt>
        <dd>
            <span>{{expediente.name}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.desc">Desc</span></dt>
        <dd>
            <span>{{expediente.desc}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'expediente/'+ expediente.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
