
<div *ngIf="expediente">
    <h2><span jhiTranslate="gatewayApp.expediente.detail.title">Expediente</span> {{expediente.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.expediente.vNumexp">V Numexp</span></dt>
        <dd>
            <span>{{expediente.vNumexp}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.nAnioexp">N Anioexp</span></dt>
        <dd>
            <span>{{expediente.nAnioexp}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.dFecregexp">D Fecregexp</span></dt>
        <dd>
            <span>{{expediente.dFecregexp | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.vNomemplea">V Nomemplea</span></dt>
        <dd>
            <span>{{expediente.vNomemplea}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.vNomtrabaj">V Nomtrabaj</span></dt>
        <dd>
            <span>{{expediente.vNomtrabaj}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.nFlgexpobs">N Flgexpobs</span></dt>
        <dd>
            <span>{{expediente.nFlgexpobs}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.vRegmespar">V Regmespar</span></dt>
        <dd>
            <span>{{expediente.vRegmespar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.dFecmespar">D Fecmespar</span></dt>
        <dd>
            <span>{{expediente.dFecmespar | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.vObservac">V Observac</span></dt>
        <dd>
            <span>{{expediente.vObservac}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.nFlgarchiv">N Flgarchiv</span></dt>
        <dd>
            <span>{{expediente.nFlgarchiv}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.dFecArchiv">D Fec Archiv</span></dt>
        <dd>
            <span>{{expediente.dFecArchiv | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.vObsarchiv">V Obsarchiv</span></dt>
        <dd>
            <span>{{expediente.vObsarchiv}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.nCodusuarc">N Codusuarc</span></dt>
        <dd>
            <span>{{expediente.nCodusuarc}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.vNuminfarc">V Numinfarc</span></dt>
        <dd>
            <span>{{expediente.vNuminfarc}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{expediente.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{expediente.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{expediente.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{expediente.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{expediente.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{expediente.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{expediente.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.empleador">Empleador</span></dt>
        <dd>
            <div *ngIf="expediente.empleador">
                <a [routerLink]="['/empleador', expediente.empleador?.id]">{{expediente.empleador?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.tippersona">Tippersona</span></dt>
        <dd>
            <div *ngIf="expediente.tippersona">
                <a [routerLink]="['/tippersona', expediente.tippersona?.id]">{{expediente.tippersona?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.trabajador">Trabajador</span></dt>
        <dd>
            <div *ngIf="expediente.trabajador">
                <a [routerLink]="['/trabajador', expediente.trabajador?.id]">{{expediente.trabajador?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.estexpedien">Estexpedien</span></dt>
        <dd>
            <div *ngIf="expediente.estexpedien">
                <a [routerLink]="['/estexpedien', expediente.estexpedien?.id]">{{expediente.estexpedien?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expediente.resolutor">Resolutor</span></dt>
        <dd>
            <div *ngIf="expediente.resolutor">
                <a [routerLink]="['/resolutor', expediente.resolutor?.id]">{{expediente.resolutor?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'expediente/'+ expediente.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
