<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExpedienteLabel" jhiTranslate="gatewayApp.expediente.home.createOrEditLabel">Create or edit a Expediente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!expediente.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="expediente.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.vNumexp" for="field_vNumexp">V Numexp</label>
            <input type="text" class="form-control" name="vNumexp" id="field_vNumexp"
                [(ngModel)]="expediente.vNumexp" required maxlength="20" />
            <div [hidden]="!(editForm.controls.vNumexp?.dirty && editForm.controls.vNumexp?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumexp?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumexp?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.nAnioexp" for="field_nAnioexp">N Anioexp</label>
            <input type="number" class="form-control" name="nAnioexp" id="field_nAnioexp"
                [(ngModel)]="expediente.nAnioexp" required />
            <div [hidden]="!(editForm.controls.nAnioexp?.dirty && editForm.controls.nAnioexp?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nAnioexp?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nAnioexp?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.dFecregexp" for="field_dFecregexp">D Fecregexp</label>
            <div class="input-group">
                <input id="field_dFecregexp" type="text" class="form-control" name="dFecregexp" ngbDatepicker  #dFecregexpDp="ngbDatepicker" [(ngModel)]="expediente.dFecregexp"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dFecregexpDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.vNomemplea" for="field_vNomemplea">V Nomemplea</label>
            <input type="text" class="form-control" name="vNomemplea" id="field_vNomemplea"
                [(ngModel)]="expediente.vNomemplea" maxlength="250" />
            <div [hidden]="!(editForm.controls.vNomemplea?.dirty && editForm.controls.vNomemplea?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNomemplea?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                   This field cannot be longer than 250 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.vNomtrabaj" for="field_vNomtrabaj">V Nomtrabaj</label>
            <input type="text" class="form-control" name="vNomtrabaj" id="field_vNomtrabaj"
                [(ngModel)]="expediente.vNomtrabaj" maxlength="250" />
            <div [hidden]="!(editForm.controls.vNomtrabaj?.dirty && editForm.controls.vNomtrabaj?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNomtrabaj?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                   This field cannot be longer than 250 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.nFlgexpobs" for="field_nFlgexpobs">N Flgexpobs</label>
            <input type="checkbox" class="form-control" name="nFlgexpobs" id="field_nFlgexpobs"
                [(ngModel)]="expediente.nFlgexpobs"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.vRegmespar" for="field_vRegmespar">V Regmespar</label>
            <input type="text" class="form-control" name="vRegmespar" id="field_vRegmespar"
                [(ngModel)]="expediente.vRegmespar" maxlength="50" />
            <div [hidden]="!(editForm.controls.vRegmespar?.dirty && editForm.controls.vRegmespar?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vRegmespar?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.dFecmespar" for="field_dFecmespar">D Fecmespar</label>
            <div class="input-group">
                <input id="field_dFecmespar" type="text" class="form-control" name="dFecmespar" ngbDatepicker  #dFecmesparDp="ngbDatepicker" [(ngModel)]="expediente.dFecmespar"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dFecmesparDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.vObservac" for="field_vObservac">V Observac</label>
            <input type="text" class="form-control" name="vObservac" id="field_vObservac"
                [(ngModel)]="expediente.vObservac" maxlength="500" />
            <div [hidden]="!(editForm.controls.vObservac?.dirty && editForm.controls.vObservac?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vObservac?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.nFlgarchiv" for="field_nFlgarchiv">N Flgarchiv</label>
            <input type="checkbox" class="form-control" name="nFlgarchiv" id="field_nFlgarchiv"
                [(ngModel)]="expediente.nFlgarchiv"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.dFecArchiv" for="field_dFecArchiv">D Fec Archiv</label>
            <div class="input-group">
                <input id="field_dFecArchiv" type="text" class="form-control" name="dFecArchiv" ngbDatepicker  #dFecArchivDp="ngbDatepicker" [(ngModel)]="expediente.dFecArchiv"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dFecArchivDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.vObsarchiv" for="field_vObsarchiv">V Obsarchiv</label>
            <input type="text" class="form-control" name="vObsarchiv" id="field_vObsarchiv"
                [(ngModel)]="expediente.vObsarchiv" maxlength="500" />
            <div [hidden]="!(editForm.controls.vObsarchiv?.dirty && editForm.controls.vObsarchiv?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vObsarchiv?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.nCodusuarc" for="field_nCodusuarc">N Codusuarc</label>
            <input type="number" class="form-control" name="nCodusuarc" id="field_nCodusuarc"
                [(ngModel)]="expediente.nCodusuarc"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.vNuminfarc" for="field_vNuminfarc">V Numinfarc</label>
            <input type="text" class="form-control" name="vNuminfarc" id="field_vNuminfarc"
                [(ngModel)]="expediente.vNuminfarc" maxlength="50" />
            <div [hidden]="!(editForm.controls.vNuminfarc?.dirty && editForm.controls.vNuminfarc?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNuminfarc?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.nUsuareg" for="field_nUsuareg">N Usuareg</label>
            <input type="number" class="form-control" name="nUsuareg" id="field_nUsuareg"
                [(ngModel)]="expediente.nUsuareg" required />
            <div [hidden]="!(editForm.controls.nUsuareg?.dirty && editForm.controls.nUsuareg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nUsuareg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nUsuareg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.tFecreg" for="field_tFecreg">T Fecreg</label>
            <div class="d-flex">
                <input id="field_tFecreg" type="datetime-local" class="form-control" name="tFecreg" [(ngModel)]="expediente.tFecreg"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.tFecreg?.dirty && editForm.controls.tFecreg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tFecreg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tFecreg?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.nFlgactivo" for="field_nFlgactivo">N Flgactivo</label>
            <input type="checkbox" class="form-control" name="nFlgactivo" id="field_nFlgactivo"
                [(ngModel)]="expediente.nFlgactivo"  />
            <div [hidden]="!(editForm.controls.nFlgactivo?.dirty && editForm.controls.nFlgactivo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nFlgactivo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.nSedereg" for="field_nSedereg">N Sedereg</label>
            <input type="number" class="form-control" name="nSedereg" id="field_nSedereg"
                [(ngModel)]="expediente.nSedereg" required />
            <div [hidden]="!(editForm.controls.nSedereg?.dirty && editForm.controls.nSedereg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nSedereg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nSedereg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.nUsuaupd" for="field_nUsuaupd">N Usuaupd</label>
            <input type="number" class="form-control" name="nUsuaupd" id="field_nUsuaupd"
                [(ngModel)]="expediente.nUsuaupd"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.tFecupd" for="field_tFecupd">T Fecupd</label>
            <div class="d-flex">
                <input id="field_tFecupd" type="datetime-local" class="form-control" name="tFecupd" [(ngModel)]="expediente.tFecupd"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.nSedeupd" for="field_nSedeupd">N Sedeupd</label>
            <input type="number" class="form-control" name="nSedeupd" id="field_nSedeupd"
                [(ngModel)]="expediente.nSedeupd"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.empleador" for="field_empleador">Empleador</label>
            <select class="form-control" id="field_empleador" name="empleador" [(ngModel)]="expediente.empleador" >
                <option [ngValue]="null"></option>
                <option [ngValue]="empleadorOption.id === expediente.empleador?.id ? expediente.empleador : empleadorOption" *ngFor="let empleadorOption of empleadors; trackBy: trackEmpleadorById">{{empleadorOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.tippersona" for="field_tippersona">Tippersona</label>
            <select class="form-control" id="field_tippersona" name="tippersona" [(ngModel)]="expediente.tippersona" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tippersonaOption.id === expediente.tippersona?.id ? expediente.tippersona : tippersonaOption" *ngFor="let tippersonaOption of tippersonas; trackBy: trackTippersonaById">{{tippersonaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.trabajador" for="field_trabajador">Trabajador</label>
            <select class="form-control" id="field_trabajador" name="trabajador" [(ngModel)]="expediente.trabajador" >
                <option [ngValue]="null"></option>
                <option [ngValue]="trabajadorOption.id === expediente.trabajador?.id ? expediente.trabajador : trabajadorOption" *ngFor="let trabajadorOption of trabajadors; trackBy: trackTrabajadorById">{{trabajadorOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.estexpedien" for="field_estexpedien">Estexpedien</label>
            <select class="form-control" id="field_estexpedien" name="estexpedien" [(ngModel)]="expediente.estexpedien" >
                <option [ngValue]="null"></option>
                <option [ngValue]="estexpedienOption.id === expediente.estexpedien?.id ? expediente.estexpedien : estexpedienOption" *ngFor="let estexpedienOption of estexpediens; trackBy: trackEstexpedienById">{{estexpedienOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.expediente.resolutor" for="field_resolutor">Resolutor</label>
            <select class="form-control" id="field_resolutor" name="resolutor" [(ngModel)]="expediente.resolutor" >
                <option [ngValue]="null"></option>
                <option [ngValue]="resolutorOption.id === expediente.resolutor?.id ? expediente.resolutor : resolutorOption" *ngFor="let resolutorOption of resolutors; trackBy: trackResolutorById">{{resolutorOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
