<div>
    <h4 class="title my-3">
        <span jhiTranslate="gatewayApp.expediente.home.title">Expedientes</span>
        <button class="btn btn-primary float-right jh-create-entity create-expediente" [routerLink]="['/', { outlets: { popup: ['expediente-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.expediente.home.createLabel">
            Create new Expediente
            </span>
        </button>
    </h4>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.expediente.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="expedientes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vNumExpediente">V Num Expediente</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nAnio">N Anio</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.dFecregexp">D Fecregexp</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vTipodocempleador">V Tipodocempleador</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vDocempleador">V Docempleador</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vNomempleador">V Nomempleador</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vTipodoctrabajador">V Tipodoctrabajador</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vDoctrabajador">V Doctrabajador</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vNomtrabajador">V Nomtrabajador</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.cFlgexpobservado">C Flgexpobservado</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vRegmesapartes">V Regmesapartes</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.dFecmesapartes">D Fecmesapartes</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vObservacion">V Observacion</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.cFlgarchivo">C Flgarchivo</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.dFecArchivo">D Fec Archivo</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vObservacionarchivo">V Observacionarchivo</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nCodusuarioarchivo">N Codusuarioarchivo</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vNuminformearchivo">V Numinformearchivo</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vUsuarioreg">V Usuarioreg</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.dFechareg">D Fechareg</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nEliminar">N Eliminar</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vUsuarioupd">V Usuarioupd</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.dFechaupd">D Fechaupd</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.empleador">Empleador</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.tippersona">Tippersona</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.trabajador">Trabajador</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.estexpedien">Estexpedien</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.resolutor">Resolutor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expediente of expedientes ;trackBy: trackId">
                <td><a [routerLink]="['../expediente', expediente.id ]">{{expediente.id}}</a></td>
                <td>{{expediente.vNumExpediente}}</td>
                <td>{{expediente.nAnio}}</td>
                <td>{{expediente.dFecregexp | date:'medium'}}</td>
                <td>{{expediente.vTipodocempleador}}</td>
                <td>{{expediente.vDocempleador}}</td>
                <td>{{expediente.vNomempleador}}</td>
                <td>{{expediente.vTipodoctrabajador}}</td>
                <td>{{expediente.vDoctrabajador}}</td>
                <td>{{expediente.vNomtrabajador}}</td>
                <td>{{expediente.cFlgexpobservado}}</td>
                <td>{{expediente.vRegmesapartes}}</td>
                <td>{{expediente.dFecmesapartes | date:'medium'}}</td>
                <td>{{expediente.vObservacion}}</td>
                <td>{{expediente.cFlgarchivo}}</td>
                <td>{{expediente.dFecArchivo | date:'medium'}}</td>
                <td>{{expediente.vObservacionarchivo}}</td>
                <td>{{expediente.nCodusuarioarchivo}}</td>
                <td>{{expediente.vNuminformearchivo}}</td>
                <td>{{expediente.vUsuarioreg}}</td>
                <td>{{expediente.dFechareg | date:'medium'}}</td>
                <td>{{expediente.nEliminar}}</td>
                <td>{{expediente.nSedereg}}</td>
                <td>{{expediente.vUsuarioupd}}</td>
                <td>{{expediente.dFechaupd | date:'medium'}}</td>
                <td>{{expediente.nSedeupd}}</td>
                <td>
                    <div *ngIf="expediente.empleador">
                        <a [routerLink]="['../empleador', expediente.empleador?.id ]" >{{expediente.empleador?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="expediente.tippersona">
                        <a [routerLink]="['../tippersona', expediente.tippersona?.id ]" >{{expediente.tippersona?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="expediente.trabajador">
                        <a [routerLink]="['../trabajador', expediente.trabajador?.id ]" >{{expediente.trabajador?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="expediente.estexpedien">
                        <a [routerLink]="['../estexpedien', expediente.estexpedien?.id ]" >{{expediente.estexpedien?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="expediente.resolutor">
                        <a [routerLink]="['../resolutor', expediente.resolutor?.id ]" >{{expediente.resolutor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../expediente', expediente.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'expediente/'+ expediente.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'expediente/'+ expediente.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
