<div>
    <h2>
        <span jhiTranslate="gatewayApp.expediente.home.title">Expedientes</span>
        <button class="btn btn-primary float-right jh-create-entity create-expediente" [routerLink]="['/', { outlets: { popup: ['expediente-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.expediente.home.createLabel">
            Create new Expediente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.expediente.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="expedientes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vNumexp">V Numexp</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nAnioexp">N Anioexp</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.dFecregexp">D Fecregexp</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vNomemplea">V Nomemplea</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vNomtrabaj">V Nomtrabaj</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nFlgexpobs">N Flgexpobs</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vRegmespar">V Regmespar</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.dFecmespar">D Fecmespar</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vObservac">V Observac</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nFlgarchiv">N Flgarchiv</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.dFecArchiv">D Fec Archiv</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vObsarchiv">V Obsarchiv</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nCodusuarc">N Codusuarc</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.vNuminfarc">V Numinfarc</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.empleador">Empleador</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.tippersona">Tippersona</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.trabajador">Trabajador</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.estexpedien">Estexpedien</span></th>
            <th><span jhiTranslate="gatewayApp.expediente.resolutor">Resolutor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expediente of expedientes ;trackBy: trackId">
                <td><a [routerLink]="['../expediente', expediente.id ]">{{expediente.id}}</a></td>
                <td>{{expediente.vNumexp}}</td>
                <td>{{expediente.nAnioexp}}</td>
                <td>{{expediente.dFecregexp | date:'mediumDate'}}</td>
                <td>{{expediente.vNomemplea}}</td>
                <td>{{expediente.vNomtrabaj}}</td>
                <td>{{expediente.nFlgexpobs}}</td>
                <td>{{expediente.vRegmespar}}</td>
                <td>{{expediente.dFecmespar | date:'mediumDate'}}</td>
                <td>{{expediente.vObservac}}</td>
                <td>{{expediente.nFlgarchiv}}</td>
                <td>{{expediente.dFecArchiv | date:'mediumDate'}}</td>
                <td>{{expediente.vObsarchiv}}</td>
                <td>{{expediente.nCodusuarc}}</td>
                <td>{{expediente.vNuminfarc}}</td>
                <td>{{expediente.nUsuareg}}</td>
                <td>{{expediente.tFecreg | date:'medium'}}</td>
                <td>{{expediente.nFlgactivo}}</td>
                <td>{{expediente.nSedereg}}</td>
                <td>{{expediente.nUsuaupd}}</td>
                <td>{{expediente.tFecupd | date:'medium'}}</td>
                <td>{{expediente.nSedeupd}}</td>
                <td>
                    <div *ngIf="expediente.empleador">
                        <a [routerLink]="['../empleador', expediente.empleador?.id ]" >{{expediente.empleador?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="expediente.tippersona">
                        <a [routerLink]="['../tippersona', expediente.tippersona?.id ]" >{{expediente.tippersona?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="expediente.trabajador">
                        <a [routerLink]="['../trabajador', expediente.trabajador?.id ]" >{{expediente.trabajador?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="expediente.estexpedien">
                        <a [routerLink]="['../estexpedien', expediente.estexpedien?.id ]" >{{expediente.estexpedien?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="expediente.resolutor">
                        <a [routerLink]="['../resolutor', expediente.resolutor?.id ]" >{{expediente.resolutor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../expediente', expediente.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'expediente/'+ expediente.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'expediente/'+ expediente.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
