
<div *ngIf="tippersona">
    <h4 class="title my-3"><span jhiTranslate="gatewayApp.tippersona.detail.title">Tippersona</span> {{tippersona.id}}</h4>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.tippersona.vDescripcion">V Descripcion</span></dt>
        <dd>
            <span>{{tippersona.vDescripcion}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tippersona.vUsuarioreg">V Usuarioreg</span></dt>
        <dd>
            <span>{{tippersona.vUsuarioreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tippersona.dFechareg">D Fechareg</span></dt>
        <dd>
            <span>{{tippersona.dFechareg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tippersona.nEliminar">N Eliminar</span></dt>
        <dd>
            <span>{{tippersona.nEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tippersona.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{tippersona.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tippersona.vUsuarioupd">V Usuarioupd</span></dt>
        <dd>
            <span>{{tippersona.vUsuarioupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tippersona.dFechaupd">D Fechaupd</span></dt>
        <dd>
            <span>{{tippersona.dFechaupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tippersona.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{tippersona.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/consultas', { outlets: { popup: 'tippersona/'+ tippersona.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
