<div>
    <h4 class="title my-3">
        <span jhiTranslate="gatewayApp.tippersona.home.title">Tippersonas</span>
        <button class="btn btn-primary float-right jh-create-entity create-tippersona" [routerLink]="['/consultas', { outlets: { popup: ['tippersona-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.tippersona.home.createLabel">
            Create new Tippersona
            </span>
        </button>
    </h4>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.tippersona.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tippersonas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.tippersona.vDescripcion">V Descripcion</span></th>
            <th><span jhiTranslate="gatewayApp.tippersona.vUsuarioreg">V Usuarioreg</span></th>
            <th><span jhiTranslate="gatewayApp.tippersona.dFechareg">D Fechareg</span></th>
            <th><span jhiTranslate="gatewayApp.tippersona.nEliminar">N Eliminar</span></th>
            <th><span jhiTranslate="gatewayApp.tippersona.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.tippersona.vUsuarioupd">V Usuarioupd</span></th>
            <th><span jhiTranslate="gatewayApp.tippersona.dFechaupd">D Fechaupd</span></th>
            <th><span jhiTranslate="gatewayApp.tippersona.nSedeupd">N Sedeupd</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tippersona of tippersonas ;trackBy: trackId">
                <td><a [routerLink]="['../tippersona', tippersona.id ]">{{tippersona.id}}</a></td>
                <td>{{tippersona.vDescripcion}}</td>
                <td>{{tippersona.vUsuarioreg}}</td>
                <td>{{tippersona.dFechareg | date:'medium'}}</td>
                <td>{{tippersona.nEliminar}}</td>
                <td>{{tippersona.nSedereg}}</td>
                <td>{{tippersona.vUsuarioupd}}</td>
                <td>{{tippersona.dFechaupd | date:'medium'}}</td>
                <td>{{tippersona.nSedeupd}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tippersona', tippersona.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consultas', { outlets: { popup: 'tippersona/'+ tippersona.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consultas', { outlets: { popup: 'tippersona/'+ tippersona.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
