<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDocexpedienLabel" jhiTranslate="gatewayApp.docexpedien.home.createOrEditLabel">Create or edit a Docexpedien</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!docexpedien.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="docexpedien.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.vNumoficio" for="field_vNumoficio">V Numoficio</label>
            <input type="text" class="form-control" name="vNumoficio" id="field_vNumoficio"
                [(ngModel)]="docexpedien.vNumoficio" maxlength="20" />
            <div [hidden]="!(editForm.controls.vNumoficio?.dirty && editForm.controls.vNumoficio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumoficio?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.dFechadoc" for="field_dFechadoc">D Fechadoc</label>
            <div class="input-group">
                <input id="field_dFechadoc" type="text" class="form-control" name="dFechadoc" ngbDatepicker  #dFechadocDp="ngbDatepicker" [(ngModel)]="docexpedien.dFechadoc"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dFechadocDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.nFolios" for="field_nFolios">N Folios</label>
            <input type="number" class="form-control" name="nFolios" id="field_nFolios"
                [(ngModel)]="docexpedien.nFolios"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.vNumresord" for="field_vNumresord">V Numresord</label>
            <input type="text" class="form-control" name="vNumresord" id="field_vNumresord"
                [(ngModel)]="docexpedien.vNumresord" maxlength="20" />
            <div [hidden]="!(editForm.controls.vNumresord?.dirty && editForm.controls.vNumresord?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumresord?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.nUsuareg" for="field_nUsuareg">N Usuareg</label>
            <input type="number" class="form-control" name="nUsuareg" id="field_nUsuareg"
                [(ngModel)]="docexpedien.nUsuareg" required />
            <div [hidden]="!(editForm.controls.nUsuareg?.dirty && editForm.controls.nUsuareg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nUsuareg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nUsuareg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.tFecreg" for="field_tFecreg">T Fecreg</label>
            <div class="d-flex">
                <input id="field_tFecreg" type="datetime-local" class="form-control" name="tFecreg" [(ngModel)]="docexpedien.tFecreg"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.tFecreg?.dirty && editForm.controls.tFecreg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tFecreg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tFecreg?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.nFlgactivo" for="field_nFlgactivo">N Flgactivo</label>
            <input type="checkbox" class="form-control" name="nFlgactivo" id="field_nFlgactivo"
                [(ngModel)]="docexpedien.nFlgactivo"  />
            <div [hidden]="!(editForm.controls.nFlgactivo?.dirty && editForm.controls.nFlgactivo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nFlgactivo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.nSedereg" for="field_nSedereg">N Sedereg</label>
            <input type="number" class="form-control" name="nSedereg" id="field_nSedereg"
                [(ngModel)]="docexpedien.nSedereg" required />
            <div [hidden]="!(editForm.controls.nSedereg?.dirty && editForm.controls.nSedereg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nSedereg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nSedereg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.nUsuaupd" for="field_nUsuaupd">N Usuaupd</label>
            <input type="number" class="form-control" name="nUsuaupd" id="field_nUsuaupd"
                [(ngModel)]="docexpedien.nUsuaupd"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.tFecupd" for="field_tFecupd">T Fecupd</label>
            <div class="d-flex">
                <input id="field_tFecupd" type="datetime-local" class="form-control" name="tFecupd" [(ngModel)]="docexpedien.tFecupd"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.nSedeupd" for="field_nSedeupd">N Sedeupd</label>
            <input type="number" class="form-control" name="nSedeupd" id="field_nSedeupd"
                [(ngModel)]="docexpedien.nSedeupd"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.expediente" for="field_expediente">Expediente</label>
            <select class="form-control" id="field_expediente" name="expediente" [(ngModel)]="docexpedien.expediente" >
                <option [ngValue]="null"></option>
                <option [ngValue]="expedienteOption.id === docexpedien.expediente?.id ? docexpedien.expediente : expedienteOption" *ngFor="let expedienteOption of expedientes; trackBy: trackExpedienteById">{{expedienteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.dettipprov" for="field_dettipprov">Dettipprov</label>
            <select class="form-control" id="field_dettipprov" name="dettipprov" [(ngModel)]="docexpedien.dettipprov" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dettipprovOption.id === docexpedien.dettipprov?.id ? docexpedien.dettipprov : dettipprovOption" *ngFor="let dettipprovOption of dettipprovs; trackBy: trackDettipprovById">{{dettipprovOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.tipdocexp" for="field_tipdocexp">Tipdocexp</label>
            <select class="form-control" id="field_tipdocexp" name="tipdocexp" [(ngModel)]="docexpedien.tipdocexp" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tipdocexpOption.id === docexpedien.tipdocexp?.id ? docexpedien.tipdocexp : tipdocexpOption" *ngFor="let tipdocexpOption of tipdocexps; trackBy: trackTipdocexpById">{{tipdocexpOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.docexpedien.tipproveid" for="field_tipproveid">Tipproveid</label>
            <select class="form-control" id="field_tipproveid" name="tipproveid" [(ngModel)]="docexpedien.tipproveid" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tipproveidOption.id === docexpedien.tipproveid?.id ? docexpedien.tipproveid : tipproveidOption" *ngFor="let tipproveidOption of tipproveids; trackBy: trackTipproveidById">{{tipproveidOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
