
<div *ngIf="cartrab">
    <h2><span jhiTranslate="gatewayApp.cartrab.detail.title">Cartrab</span> {{cartrab.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.cartrab.vDescartra">V Descartra</span></dt>
        <dd>
            <span>{{cartrab.vDescartra}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.cartrab.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{cartrab.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.cartrab.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{cartrab.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.cartrab.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{cartrab.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.cartrab.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{cartrab.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.cartrab.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{cartrab.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.cartrab.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{cartrab.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.cartrab.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{cartrab.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cartrab/'+ cartrab.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
