
<div *ngIf="modacontrato">
    <h2><span jhiTranslate="gatewayApp.modacontrato.detail.title">Modacontrato</span> {{modacontrato.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.modacontrato.vDescripcion">V Descripcion</span></dt>
        <dd>
            <span>{{modacontrato.vDescripcion}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.modacontrato.vUsuarioreg">V Usuarioreg</span></dt>
        <dd>
            <span>{{modacontrato.vUsuarioreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.modacontrato.dFechareg">D Fechareg</span></dt>
        <dd>
            <span>{{modacontrato.dFechareg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.modacontrato.nEliminar">N Eliminar</span></dt>
        <dd>
            <span>{{modacontrato.nEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.modacontrato.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{modacontrato.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.modacontrato.vUsuarioupd">V Usuarioupd</span></dt>
        <dd>
            <span>{{modacontrato.vUsuarioupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.modacontrato.dFechaupd">D Fechaupd</span></dt>
        <dd>
            <span>{{modacontrato.dFechaupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.modacontrato.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{modacontrato.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'modacontrato/'+ modacontrato.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
