
<div *ngIf="oficina">
    <h4 class="title my-3"><span jhiTranslate="gatewayApp.oficina.detail.title">Oficina</span> {{oficina.id}}</h4>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.oficina.vDescripcion">V Descripcion</span></dt>
        <dd>
            <span>{{oficina.vDescripcion}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.oficina.vUsuarioreg">V Usuarioreg</span></dt>
        <dd>
            <span>{{oficina.vUsuarioreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.oficina.dFechareg">D Fechareg</span></dt>
        <dd>
            <span>{{oficina.dFechareg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.oficina.nEliminar">N Eliminar</span></dt>
        <dd>
            <span>{{oficina.nEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.oficina.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{oficina.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.oficina.vUsuarioupd">V Usuarioupd</span></dt>
        <dd>
            <span>{{oficina.vUsuarioupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.oficina.dFechaupd">D Fechaupd</span></dt>
        <dd>
            <span>{{oficina.dFechaupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.oficina.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{oficina.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/consultas', { outlets: { popup: 'oficina/'+ oficina.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
