TRABAJADOR
<div>
    <div class="modal-header">
        <h4 class="modal-title" id="myAbogadoLabel">Consulta Expediente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.abogado.vUsuarioreg" for="field_vUsuarioreg">V Usuarioreg</label>
            <input type="text" class="form-control" name="vUsuarioreg" id="field_vUsuarioreg"
                required maxlength="20" />
        </div>
    </div>
</div>
    