
<div *ngIf="liquidacion">
    <h2><span jhiTranslate="gatewayApp.liquidacion.detail.title">Liquidacion</span> {{liquidacion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.liquidacion.nLiquid">N Liquid</span></dt>
        <dd>
            <span>{{liquidacion.nLiquid}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.liquidacion.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{liquidacion.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.liquidacion.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{liquidacion.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.liquidacion.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{liquidacion.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.liquidacion.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{liquidacion.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.liquidacion.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{liquidacion.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.liquidacion.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{liquidacion.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.liquidacion.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{liquidacion.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'liquidacion/'+ liquidacion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
