<div>
    <h2>
        <span jhiTranslate="gatewayApp.docpresate.home.title">Docpresates</span>
        <button class="btn btn-primary float-right jh-create-entity create-docpresate" [routerLink]="['/', { outlets: { popup: ['docpresate-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.docpresate.home.createLabel">
            Create new Docpresate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.docpresate.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="docpresates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.docpresate.vObsdopate">V Obsdopate</span></th>
            <th><span jhiTranslate="gatewayApp.docpresate.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.docpresate.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.docpresate.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.docpresate.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.docpresate.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.docpresate.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.docpresate.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.docpresate.atencion">Atencion</span></th>
            <th><span jhiTranslate="gatewayApp.docpresate.documento">Documento</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let docpresate of docpresates ;trackBy: trackId">
                <td><a [routerLink]="['../docpresate', docpresate.id ]">{{docpresate.id}}</a></td>
                <td>{{docpresate.vObsdopate}}</td>
                <td>{{docpresate.nUsuareg}}</td>
                <td>{{docpresate.tFecreg | date:'medium'}}</td>
                <td>{{docpresate.nFlgactivo}}</td>
                <td>{{docpresate.nSedereg}}</td>
                <td>{{docpresate.nUsuaupd}}</td>
                <td>{{docpresate.tFecupd | date:'medium'}}</td>
                <td>{{docpresate.nSedeupd}}</td>
                <td>
                    <div *ngIf="docpresate.atencion">
                        <a [routerLink]="['../atencion', docpresate.atencion?.id ]" >{{docpresate.atencion?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="docpresate.documento">
                        <a [routerLink]="['../documento', docpresate.documento?.id ]" >{{docpresate.documento?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../docpresate', docpresate.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'docpresate/'+ docpresate.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'docpresate/'+ docpresate.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
