<div>
        <br/>
        <h4 class="title my-3" align="center">
            <span>Registro Recurso</span>
        </h4>
    
    <table align="center" border="0">
        <tr>
            <td>
                Razón Social:
            </td>
            <td>
                <label>razooooonnnnn</label>
            </td>
        </tr>
        <tr><td></td></tr>
    </table>    
            
    <br/>    
    
    <button [routerLink]="['/sindicatos/principal', {outlets: { wizard: 'registro-recurso' } } ]" class="btn btn-primary jh-create-entity create-accionadop">Agregar Recurso</button>
    <button [routerLink]="['/sindicatos/principal', {outlets: { wizard: 'consulta-recurso' } } ]" class="btn btn-primary jh-create-entity create-accionadop">Atras</button>
    
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                <th><span >N°</span></th>
                <th><span >Nro. Recurso</span></th>
                <th><span >Tipo Recurso</span></th>
                <th><span >Fecha Registro</span></th>
                <th><span >Estado</span></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
    
            </tbody>
        </table>
    </div>
    
    </div>