<style>
        fieldset {
        border: 1px solid #d6d6d6 !important;
        margin: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #fbfbfb;
        padding-left: 10px !important;
        }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
        }
</style>

<div>
    <br/>
        <h4 class="title my-3" align="center">
            <span>Registro Recurso</span>
        </h4>
    
        <fieldset class="col">
                <div align="center">
                    Razón Social: <label>razooooonnnnn</label>
                </div>
        </fieldset>
    <br/>    
    
    <button [routerLink]="['/sindicatos/principal', {outlets: { wizard: 'registro-recurso' } } ]" class="btn btn-primary jh-create-entity create-accionadop">Agregar Recurso</button>
    <button [routerLink]="['/sindicatos/principal', {outlets: { wizard: 'consulta-recurso' } } ]" class="btn btn-primary jh-create-entity create-accionadop">Atras</button>
    
    <br/>
    <div class="table-responsive">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <p-dataTable [value]="listaConsulta" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                        <p-column field="numero" header="N°" [sortable]="true"></p-column>
                        <p-column field="numrec" header="Nro. Recurso" [sortable]="true"></p-column>
                        <p-column field="tiprec" header="Tipo Recurso" [sortable]="true"></p-column>
                        <p-column field="fecreg" header="Fecha Registro" [sortable]="true"></p-column>
                        <p-column field="estado" header="Estado" [sortable]="true"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    
    </div>