<div>
    <h2>
        <span jhiTranslate="gatewayApp.dirdenun.home.title">Dirdenuns</span>
        <button class="btn btn-primary float-right jh-create-entity create-dirdenun" [routerLink]="['/', { outlets: { popup: ['dirdenun-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.dirdenun.home.createLabel">
            Create new Dirdenun
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.dirdenun.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dirdenuns">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.vCoddepart">V Coddepart</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.vCodprovin">V Codprovin</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.vCoddistri">V Coddistri</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.nCodtzona">N Codtzona</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.vDeszona">V Deszona</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.nCodtipvia">N Codtipvia</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.vDesvia">V Desvia</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.vDireccion">V Direccion</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.vDircomple">V Dircomple</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.vUsuareg">V Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.vUsuaupd">V Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.denunte">Denunte</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.tipzona">Tipzona</span></th>
            <th><span jhiTranslate="gatewayApp.dirdenun.tipvia">Tipvia</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dirdenun of dirdenuns ;trackBy: trackId">
                <td><a [routerLink]="['../dirdenun', dirdenun.id ]">{{dirdenun.id}}</a></td>
                <td>{{dirdenun.vCoddepart}}</td>
                <td>{{dirdenun.vCodprovin}}</td>
                <td>{{dirdenun.vCoddistri}}</td>
                <td>{{dirdenun.nCodtzona}}</td>
                <td>{{dirdenun.vDeszona}}</td>
                <td>{{dirdenun.nCodtipvia}}</td>
                <td>{{dirdenun.vDesvia}}</td>
                <td>{{dirdenun.vDireccion}}</td>
                <td>{{dirdenun.vDircomple}}</td>
                <td>{{dirdenun.vUsuareg}}</td>
                <td>{{dirdenun.tFecreg | date:'medium'}}</td>
                <td>{{dirdenun.nFlgactivo}}</td>
                <td>{{dirdenun.nSedereg}}</td>
                <td>{{dirdenun.vUsuaupd}}</td>
                <td>{{dirdenun.tFecupd | date:'medium'}}</td>
                <td>{{dirdenun.nSedeupd}}</td>
                <td>
                    <div *ngIf="dirdenun.denunte">
                        <a [routerLink]="['../denunte', dirdenun.denunte?.id ]" >{{dirdenun.denunte?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dirdenun.tipzona">
                        <a [routerLink]="['../tipzona', dirdenun.tipzona?.id ]" >{{dirdenun.tipzona?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dirdenun.tipvia">
                        <a [routerLink]="['../tipvia', dirdenun.tipvia?.id ]" >{{dirdenun.tipvia?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dirdenun', dirdenun.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dirdenun/'+ dirdenun.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dirdenun/'+ dirdenun.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
