<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row" >
      <div class="col">
        <h4 class="title">Consulta solicitud</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card card-mtpe mb-3">
          <div class="card-header bg-light d-sm-flex justify-content-between p-2">
            <h5 class="mb-0"><small><i class="fa fa-percent" aria-hidden="true"></i>Listado de solicitud</small></h5>
          </div>
          <div class="card-body">
            <p class="text-right"><strong>Empleador: </strong>Mario Lopez Jara</p>
            <table class="table table-responsive" id="Csolicitud">
              <thead style="text-align: center;">
                <tr>
                  <th>N°</th>
                  <th>Fecha</th>
                  <th>Solicitante</th>
                  <th>Empleador</th>
                  <th>Sindicato</th>
                  <th>Vigencia Desde</th>
                  <th>Vigencia Hasta</th>
                  <th>Estado</th>
                  <th>Documento</th>
                </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let solicitud of solicituds; let i = index">
                  <tr [ngClass]="{ enviado: solicitud.vFlgest == 'E', observado: solicitud.vFlgest == 'O', conforme: solicitud.vFlgest == 'C' }">
                      <td>{{i+1}}</td>
                      <td>{{solicitud.tFecsolic | date:'dd/MM/yyyy'}}</td>
                      <td>{{solicitud.vSolicita}}</td>
                      <td>{{solicitud.vEmpleador}}</td>
                      <td>{{solicitud.vSindicato}}</td>
                      <td>{{solicitud.tFecvigde | date:'dd/MM/yyyy'}}</td>
                      <td>{{solicitud.tFecvigha | date:'dd/MM/yyyy'}}</td>
                      <td>
                          <p *ngIf="solicitud.vFlgest == 'P'"><a [routerLink]="['/', { outlets: { popup: 'solicitud/'+ solicitud.nCodsolic + '/voucher'} }]" >PENDIENTE</a></p>
                          <p *ngIf="solicitud.vFlgest == 'E'"><a [routerLink]="['/', { outlets: { popup: 'solicitud/'+ solicitud.nCodsolic + '/voucher'} }]" >ENVIADO</a></p>
                          <p *ngIf="solicitud.vFlgest == 'O'"><a [routerLink]="['/', { outlets: { popup: 'solicitud/'+ solicitud.nCodsolic + '/voucher'} }]" >OBSERVADO</a></p>
                          <p *ngIf="solicitud.vFlgest == 'C'"><a [routerLink]="['/', { outlets: { popup: 'solicitud/'+ solicitud.nCodsolic + '/voucher'} }]" >CONFORME</a></p>
                      </td>
                      <td>
                          <div *ngIf="solicitud.reporteRes">
                              <a [routerLink]="['../reporteres', solicitud.reporteRes?.id ]" >{{solicitud.reporteRes?.vNombre}}</a>
                          </div>
                      </td>

                      <!--<td class="text-right">
                          <div class="btn-group flex-btn-group-container">
                              <button type="submit"
                                      [routerLink]="['../solicitud', solicitud.id ]"
                                      class="btn btn-info btn-sm">
                                  <span class="fa fa-eye"></span>
                                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                              </button>
                              <button type="submit"
                                      [routerLink]="['/', { outlets: { popup: 'solicitud/'+ solicitud.id + '/edit'} }]"
                                      replaceUrl="true"
                                      class="btn btn-primary btn-sm">
                                  <span class="fa fa-pencil"></span>
                                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                              </button>
                              <button type="submit"
                                      [routerLink]="['/', { outlets: { popup: 'solicitud/'+ solicitud.id + '/delete'} }]"
                                      replaceUrl="true"
                                      class="btn btn-danger btn-sm">
                                  <span class="fa fa-remove"></span>
                                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                              </button>
                          </div>
                      </td>-->
                  </tr>
                </ng-container>
              </tbody>
            </table>      

            <p-dialog header="Godfather I" [(visible)]="display" modal="modal" width="300" [responsive]="true">
                <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
                   His beloved son Michael has just come home from the war, but does not intend to become part of his father's business. 
                   Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, 
                   kind and benevolent to those who give respect, 
                   but given to ruthless violence whenever anything stands against the good of the family.</p>
                    <p-footer>
                        <button type="button" pButton icon="fa-check" (click)="display=false" label="Yes"></button>
                        <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
                    </p-footer>
            </p-dialog>
            
            <button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show">Show</button>

          </div>
        </div>
      </div>
    </div>
</div>

