<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNotificacionLabel" jhiTranslate="gatewayApp.notificacion.home.createOrEditLabel">Create or edit a Notificacion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!notificacion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="notificacion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.nNumfolios" for="field_nNumfolios">N Numfolios</label>
            <input type="number" class="form-control" name="nNumfolios" id="field_nNumfolios"
                [(ngModel)]="notificacion.nNumfolios"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.vHojaenvio" for="field_vHojaenvio">V Hojaenvio</label>
            <input type="text" class="form-control" name="vHojaenvio" id="field_vHojaenvio"
                [(ngModel)]="notificacion.vHojaenvio" maxlength="20" />
            <div [hidden]="!(editForm.controls.vHojaenvio?.dirty && editForm.controls.vHojaenvio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vHojaenvio?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.vUsuarioreg" for="field_vUsuarioreg">V Usuarioreg</label>
            <input type="text" class="form-control" name="vUsuarioreg" id="field_vUsuarioreg"
                [(ngModel)]="notificacion.vUsuarioreg" required maxlength="20" />
            <div [hidden]="!(editForm.controls.vUsuarioreg?.dirty && editForm.controls.vUsuarioreg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuarioreg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuarioreg?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.dFechareg" for="field_dFechareg">D Fechareg</label>
            <div class="d-flex">
                <input id="field_dFechareg" type="datetime-local" class="form-control" name="dFechareg" [(ngModel)]="notificacion.dFechareg"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.dFechareg?.dirty && editForm.controls.dFechareg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dFechareg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dFechareg?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.nEliminar" for="field_nEliminar">N Eliminar</label>
            <input type="number" class="form-control" name="nEliminar" id="field_nEliminar"
                [(ngModel)]="notificacion.nEliminar" required min="0" max="1" />
            <div [hidden]="!(editForm.controls.nEliminar?.dirty && editForm.controls.nEliminar?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nEliminar?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nEliminar?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nEliminar?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 1 }">
                    This field cannot be more than 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nEliminar?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.nSedereg" for="field_nSedereg">N Sedereg</label>
            <input type="number" class="form-control" name="nSedereg" id="field_nSedereg"
                [(ngModel)]="notificacion.nSedereg" required />
            <div [hidden]="!(editForm.controls.nSedereg?.dirty && editForm.controls.nSedereg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nSedereg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nSedereg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.vUsuarioupd" for="field_vUsuarioupd">V Usuarioupd</label>
            <input type="text" class="form-control" name="vUsuarioupd" id="field_vUsuarioupd"
                [(ngModel)]="notificacion.vUsuarioupd" maxlength="20" />
            <div [hidden]="!(editForm.controls.vUsuarioupd?.dirty && editForm.controls.vUsuarioupd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuarioupd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.dFechaupd" for="field_dFechaupd">D Fechaupd</label>
            <div class="d-flex">
                <input id="field_dFechaupd" type="datetime-local" class="form-control" name="dFechaupd" [(ngModel)]="notificacion.dFechaupd"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.nSedeupd" for="field_nSedeupd">N Sedeupd</label>
            <input type="number" class="form-control" name="nSedeupd" id="field_nSedeupd"
                [(ngModel)]="notificacion.nSedeupd"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.expediente" for="field_expediente">Expediente</label>
            <select class="form-control" id="field_expediente" name="expediente" [(ngModel)]="notificacion.expediente" >
                <option [ngValue]="null"></option>
                <option [ngValue]="expedienteOption.id === notificacion.expediente?.id ? notificacion.expediente : expedienteOption" *ngFor="let expedienteOption of expedientes; trackBy: trackExpedienteById">{{expedienteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.tipenvnot" for="field_tipenvnot">Tipenvnot</label>
            <select class="form-control" id="field_tipenvnot" name="tipenvnot" [(ngModel)]="notificacion.tipenvnot" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tipenvnotOption.id === notificacion.tipenvnot?.id ? notificacion.tipenvnot : tipenvnotOption" *ngFor="let tipenvnotOption of tipenvnots; trackBy: trackTipenvnotById">{{tipenvnotOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificacion.tipnotif" for="field_tipnotif">Tipnotif</label>
            <select class="form-control" id="field_tipnotif" name="tipnotif" [(ngModel)]="notificacion.tipnotif" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tipnotifOption.id === notificacion.tipnotif?.id ? notificacion.tipnotif : tipnotifOption" *ngFor="let tipnotifOption of tipnotifs; trackBy: trackTipnotifById">{{tipnotifOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
