
<div *ngIf="notificacion">
    <h2><span jhiTranslate="gatewayApp.notificacion.detail.title">Notificacion</span> {{notificacion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.notificacion.nNumfolios">N Numfolios</span></dt>
        <dd>
            <span>{{notificacion.nNumfolios}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.vHojaenvio">V Hojaenvio</span></dt>
        <dd>
            <span>{{notificacion.vHojaenvio}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.vUsuarioreg">V Usuarioreg</span></dt>
        <dd>
            <span>{{notificacion.vUsuarioreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.dFechareg">D Fechareg</span></dt>
        <dd>
            <span>{{notificacion.dFechareg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.nEliminar">N Eliminar</span></dt>
        <dd>
            <span>{{notificacion.nEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{notificacion.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.vUsuarioupd">V Usuarioupd</span></dt>
        <dd>
            <span>{{notificacion.vUsuarioupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.dFechaupd">D Fechaupd</span></dt>
        <dd>
            <span>{{notificacion.dFechaupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{notificacion.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.expediente">Expediente</span></dt>
        <dd>
            <div *ngIf="notificacion.expediente">
                <a [routerLink]="['/expediente', notificacion.expediente?.id]">{{notificacion.expediente?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.tipenvnot">Tipenvnot</span></dt>
        <dd>
            <div *ngIf="notificacion.tipenvnot">
                <a [routerLink]="['/tipenvnot', notificacion.tipenvnot?.id]">{{notificacion.tipenvnot?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificacion.tipnotif">Tipnotif</span></dt>
        <dd>
            <div *ngIf="notificacion.tipnotif">
                <a [routerLink]="['/tipnotif', notificacion.tipnotif?.id]">{{notificacion.tipnotif?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'notificacion/'+ notificacion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
