
<div *ngIf="motatenofic">
    <h4 class="title my-3"><span jhiTranslate="gatewayApp.motatenofic.detail.title">Motatenofic</span> {{motatenofic.id}}</h4>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.motatenofic.vUsuarioreg">V Usuarioreg</span></dt>
        <dd>
            <span>{{motatenofic.vUsuarioreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.motatenofic.dFechareg">D Fechareg</span></dt>
        <dd>
            <span>{{motatenofic.dFechareg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.motatenofic.nEliminar">N Eliminar</span></dt>
        <dd>
            <span>{{motatenofic.nEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.motatenofic.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{motatenofic.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.motatenofic.vUsuarioupd">V Usuarioupd</span></dt>
        <dd>
            <span>{{motatenofic.vUsuarioupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.motatenofic.dFechaupd">D Fechaupd</span></dt>
        <dd>
            <span>{{motatenofic.dFechaupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.motatenofic.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{motatenofic.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.motatenofic.motivoatenci">Motivoatenci</span></dt>
        <dd>
            <div *ngIf="motatenofic.motivoatenci">
                <a [routerLink]="['/motivoatenci', motatenofic.motivoatenci?.id]">{{motatenofic.motivoatenci?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.motatenofic.oficina">Oficina</span></dt>
        <dd>
            <div *ngIf="motatenofic.oficina">
                <a [routerLink]="['/oficina', motatenofic.oficina?.id]">{{motatenofic.oficina?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/consultas', { outlets: { popup: 'motatenofic/'+ motatenofic.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
