
<div *ngIf="afiliado">
    <h2><span jhiTranslate="gatewayApp.afiliado.detail.title">Afiliado</span> {{afiliado.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.afiliado.vTipafilia">V Tipafilia</span></dt>
        <dd>
            <span>{{afiliado.vTipafilia}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.vEstado">V Estado</span></dt>
        <dd>
            <span>{{afiliado.vEstado}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.nCodperson">N Codperson</span></dt>
        <dd>
            <span>{{afiliado.nCodperson}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.nCodafilia">N Codafilia</span></dt>
        <dd>
            <span>{{afiliado.nCodafilia}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{afiliado.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{afiliado.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{afiliado.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{afiliado.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{afiliado.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{afiliado.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{afiliado.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.scargo">Scargo</span></dt>
        <dd>
            <div *ngIf="afiliado.scargo">
                <a [routerLink]="['/scargo', afiliado.scargo?.id]">{{afiliado.scargo?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.afiliado.organizacio">Organizacio</span></dt>
        <dd>
            <div *ngIf="afiliado.organizacio">
                <a [routerLink]="['/organizacio', afiliado.organizacio?.id]">{{afiliado.organizacio?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'afiliado/'+ afiliado.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
