
<div *ngIf="pasepj">
    <h2><span jhiTranslate="gatewayApp.pasepj.detail.title">Pasepj</span> {{pasepj.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodreg">V Codreg</span></dt>
        <dd>
            <span>{{pasepj.vCodreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodzon">V Codzon</span></dt>
        <dd>
            <span>{{pasepj.vCodzon}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodpas">V Codpas</span></dt>
        <dd>
            <span>{{pasepj.vCodpas}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodtra">V Codtra</span></dt>
        <dd>
            <span>{{pasepj.vCodtra}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodtdcide">V Codtdcide</span></dt>
        <dd>
            <span>{{pasepj.vCodtdcide}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.nCorrel">N Correl</span></dt>
        <dd>
            <span>{{pasepj.nCorrel}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodsis">V Codsis</span></dt>
        <dd>
            <span>{{pasepj.vCodsis}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodemp">V Codemp</span></dt>
        <dd>
            <span>{{pasepj.vCodemp}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.nCodsuc">N Codsuc</span></dt>
        <dd>
            <span>{{pasepj.nCodsuc}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodcon">V Codcon</span></dt>
        <dd>
            <span>{{pasepj.vCodcon}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.dFecpas">D Fecpas</span></dt>
        <dd>
            <span>{{pasepj.dFecpas | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.dFecrecep">D Fecrecep</span></dt>
        <dd>
            <span>{{pasepj.dFecrecep | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodusurec">V Codusurec</span></dt>
        <dd>
            <span>{{pasepj.vCodusurec}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodusureg">V Codusureg</span></dt>
        <dd>
            <span>{{pasepj.vCodusureg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vHostreg">V Hostreg</span></dt>
        <dd>
            <span>{{pasepj.vHostreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodusumod">V Codusumod</span></dt>
        <dd>
            <span>{{pasepj.vCodusumod}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.dFecmod">D Fecmod</span></dt>
        <dd>
            <span>{{pasepj.dFecmod | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vHostmod">V Hostmod</span></dt>
        <dd>
            <span>{{pasepj.vHostmod}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodsisdes">V Codsisdes</span></dt>
        <dd>
            <span>{{pasepj.vCodsisdes}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.dFecdes">D Fecdes</span></dt>
        <dd>
            <span>{{pasepj.dFecdes | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.dFeccon">D Feccon</span></dt>
        <dd>
            <span>{{pasepj.dFeccon | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodtrar">V Codtrar</span></dt>
        <dd>
            <span>{{pasepj.vCodtrar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodtdcidr">V Codtdcidr</span></dt>
        <dd>
            <span>{{pasepj.vCodtdcidr}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.nCorrelr">N Correlr</span></dt>
        <dd>
            <span>{{pasepj.nCorrelr}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vObspas">V Obspas</span></dt>
        <dd>
            <span>{{pasepj.vObspas}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodtrac">V Codtrac</span></dt>
        <dd>
            <span>{{pasepj.vCodtrac}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodtdcidi">V Codtdcidi</span></dt>
        <dd>
            <span>{{pasepj.vCodtdcidi}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.nCorrelc">N Correlc</span></dt>
        <dd>
            <span>{{pasepj.nCorrelc}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.vCodloc">V Codloc</span></dt>
        <dd>
            <span>{{pasepj.vCodloc}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{pasepj.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{pasepj.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{pasepj.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{pasepj.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{pasepj.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{pasepj.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.pasepj.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{pasepj.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pasepj/'+ pasepj.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
