
<div *ngIf="resulconci">
    <h2><span jhiTranslate="gatewayApp.resulconci.detail.title">Resulconci</span> {{resulconci.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.resulconci.vDescrip">V Descrip</span></dt>
        <dd>
            <span>{{resulconci.vDescrip}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resulconci.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{resulconci.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resulconci.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{resulconci.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resulconci.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{resulconci.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resulconci.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{resulconci.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resulconci.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{resulconci.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resulconci.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{resulconci.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resulconci.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{resulconci.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resulconci.tipresconc">Tipresconc</span></dt>
        <dd>
            <div *ngIf="resulconci.tipresconc">
                <a [routerLink]="['/tipresconc', resulconci.tipresconc?.id]">{{resulconci.tipresconc?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'resulconci/'+ resulconci.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
