<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 p-2">
    <div class="row">
        <div class="col">
            <h4 class="title">Cálculo de Beneficios Sociales y Liquidaciones</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                    <h5 class="mb-0"><small><i class="fa fa-percent" aria-hidden="true"></i> Busqueda por DNI del Trabajador</small></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row mb-2">
                                <label for="selectDocumento" class="col-sm-7 col-form-label col-form-label-sm text-right">Tipo de Documento</label>
                                <div class="col-sm-5">
                                    <select class="form-control form-control-sm" id="selectDocumento">
                            <option>DNI</option>
                            <option>Carné de Extrangeria</option>
                            <option>Pasaporte</option>
                          </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row mb-2">
                                <label for="inpNumero" class="col-sm-7 col-form-label col-form-label-sm text-right">Número</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control form-control-sm" id="inpNumero" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#buscar"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>