<div>
    <div class="modal-header">
        <h4 class="modal-title" id="myAbogadoLabel">Audiencia</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-12 backmodal">
                <span class="fa fa-file-text-o"></span>&nbsp;N° Expediente: 00003443129 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-calendar"></span>&nbsp;Fecha de Aud: 23/01/2017 14:10:00
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4 ui-g-nopad">
                <div class="ui-g">
                    <label class="col-for-label ui-g-6" for="field_vUsuarioreg">RUC:</label>
                    <div class="ui-g-6">
                        <input type="text" class="form-control form-control-sm" name="vUsuarioreg" id="field_vUsuarioreg"
                            required maxlength="20" />
                    </div>
                </div>
            </div>
            <div class="ui-g-8 ui-g-nopad">
                <div class="ui-g">
                    <label class="col-for-label ui-g-3" for="field_vUsuarioreg">Empresa:</label>
                    <div class="ui-g-9">
                        <input type="text" class="form-control form-control-sm" name="vUsuarioreg" id="field_vUsuarioreg"
                            required maxlength="20" />
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g">
                        <label class="col-for-label ui-g-6" for="field_vUsuarioreg">DNI:</label>
                        <div class="ui-g-6">
                            <input type="text" class="form-control form-control-sm" name="vUsuarioreg" id="field_vUsuarioreg"
                                required maxlength="20" />
                        </div>
                    </div>
            </div>
            <div class="ui-g-8 ui-g-nopad">
                <div class="ui-g">
                    <label class="col-for-label ui-g-3" for="field_vUsuarioreg">Trabajador:</label>
                    <div class="ui-g-9">
                        <input type="text" class="form-control form-control-sm" name="vUsuarioreg" id="field_vUsuarioreg"
                            required maxlength="20" />
                    </div>
                </div>
            </div>
            
        </div>
        <div class="ui-g">
            <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g">
                        <label class="col-for-label ui-g-6" for="field_vUsuarioreg">Abogado:</label>
                        <div class="ui-g-6">
                            <input type="text" class="form-control form-control-sm" name="vUsuarioreg" id="field_vUsuarioreg"
                                required maxlength="20" />
                        </div>
                    </div>
            </div>
            <div class="ui-g-8 ui-g-nopad">
                <div class="ui-g">
                    <label class="col-for-label ui-g-3" for="field_vUsuarioreg">Resultado:</label>
                    <div class="ui-g-9">
                        <input type="text" class="form-control form-control-sm" name="vUsuarioreg" id="field_vUsuarioreg"
                            required maxlength="20" />
                    </div>
                </div>
            </div>
            
        </div>
        <div class="ui-g">
            <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g">
                        <label class="col-for-label ui-g-6" for="field_vUsuarioreg">Monto:</label>
                        <div class="ui-g-6">
                            <input type="text" class="form-control form-control-sm" name="vUsuarioreg" id="field_vUsuarioreg"
                                required maxlength="20" />
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-black" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-check"></span>&nbsp;<span >Aceptar</span>
        </button>
    </div>
</div>
    