<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDirperjuriLabel" jhiTranslate="gatewayApp.dirperjuri.home.createOrEditLabel">Create or edit a Dirperjuri</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dirperjuri.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dirperjuri.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.nCoddepto" for="field_nCoddepto">N Coddepto</label>
            <input type="number" class="form-control" name="nCoddepto" id="field_nCoddepto"
                [(ngModel)]="dirperjuri.nCoddepto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.nCodprov" for="field_nCodprov">N Codprov</label>
            <input type="number" class="form-control" name="nCodprov" id="field_nCodprov"
                [(ngModel)]="dirperjuri.nCodprov"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.nCoddist" for="field_nCoddist">N Coddist</label>
            <input type="number" class="form-control" name="nCoddist" id="field_nCoddist"
                [(ngModel)]="dirperjuri.nCoddist"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.vDircomple" for="field_vDircomple">V Dircomple</label>
            <input type="text" class="form-control" name="vDircomple" id="field_vDircomple"
                [(ngModel)]="dirperjuri.vDircomple" required maxlength="200" />
            <div [hidden]="!(editForm.controls.vDircomple?.dirty && editForm.controls.vDircomple?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vDircomple?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vDircomple?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.vReferen" for="field_vReferen">V Referen</label>
            <input type="text" class="form-control" name="vReferen" id="field_vReferen"
                [(ngModel)]="dirperjuri.vReferen" maxlength="500" />
            <div [hidden]="!(editForm.controls.vReferen?.dirty && editForm.controls.vReferen?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vReferen?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.nFlgnotifi" for="field_nFlgnotifi">N Flgnotifi</label>
            <input type="checkbox" class="form-control" name="nFlgnotifi" id="field_nFlgnotifi"
                [(ngModel)]="dirperjuri.nFlgnotifi"  />
            <div [hidden]="!(editForm.controls.nFlgnotifi?.dirty && editForm.controls.nFlgnotifi?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nFlgnotifi?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.nUsuareg" for="field_nUsuareg">N Usuareg</label>
            <input type="number" class="form-control" name="nUsuareg" id="field_nUsuareg"
                [(ngModel)]="dirperjuri.nUsuareg" required />
            <div [hidden]="!(editForm.controls.nUsuareg?.dirty && editForm.controls.nUsuareg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nUsuareg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nUsuareg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.tFecreg" for="field_tFecreg">T Fecreg</label>
            <div class="d-flex">
                <input id="field_tFecreg" type="datetime-local" class="form-control" name="tFecreg" [(ngModel)]="dirperjuri.tFecreg"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.tFecreg?.dirty && editForm.controls.tFecreg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tFecreg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tFecreg?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.nFlgactivo" for="field_nFlgactivo">N Flgactivo</label>
            <input type="checkbox" class="form-control" name="nFlgactivo" id="field_nFlgactivo"
                [(ngModel)]="dirperjuri.nFlgactivo"  />
            <div [hidden]="!(editForm.controls.nFlgactivo?.dirty && editForm.controls.nFlgactivo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nFlgactivo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.nSedereg" for="field_nSedereg">N Sedereg</label>
            <input type="number" class="form-control" name="nSedereg" id="field_nSedereg"
                [(ngModel)]="dirperjuri.nSedereg" required />
            <div [hidden]="!(editForm.controls.nSedereg?.dirty && editForm.controls.nSedereg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nSedereg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nSedereg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.nUsuaupd" for="field_nUsuaupd">N Usuaupd</label>
            <input type="number" class="form-control" name="nUsuaupd" id="field_nUsuaupd"
                [(ngModel)]="dirperjuri.nUsuaupd"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.tFecupd" for="field_tFecupd">T Fecupd</label>
            <div class="d-flex">
                <input id="field_tFecupd" type="datetime-local" class="form-control" name="tFecupd" [(ngModel)]="dirperjuri.tFecupd"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.nSedeupd" for="field_nSedeupd">N Sedeupd</label>
            <input type="number" class="form-control" name="nSedeupd" id="field_nSedeupd"
                [(ngModel)]="dirperjuri.nSedeupd"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.dirperjuri.perjuridica" for="field_perjuridica">Perjuridica</label>
            <select class="form-control" id="field_perjuridica" name="perjuridica" [(ngModel)]="dirperjuri.perjuridica" >
                <option [ngValue]="null"></option>
                <option [ngValue]="perjuridicaOption.id === dirperjuri.perjuridica?.id ? dirperjuri.perjuridica : perjuridicaOption" *ngFor="let perjuridicaOption of perjuridicas; trackBy: trackPerjuridicaById">{{perjuridicaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
