<div>
    <h2>
        <span jhiTranslate="gatewayApp.datdenu.home.title">Datdenus</span>
        <button class="btn btn-primary float-right jh-create-entity create-datdenu" [routerLink]="['/', { outlets: { popup: ['datdenu-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.datdenu.home.createLabel">
            Create new Datdenu
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.datdenu.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="datdenus">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.nNumtrbafe">N Numtrbafe</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.vHoraini">V Horaini</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.vHorafin">V Horafin</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.vDesmotivo">V Desmotivo</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.vDesotro">V Desotro</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.bArchivo">B Archivo</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.vArchtipo">V Archtipo</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.vFlggreide">V Flggreide</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.vUsuareg">V Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.vUsuaupd">V Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.datdenu.detmotden">Detmotden</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let datdenu of datdenus ;trackBy: trackId">
                <td><a [routerLink]="['../datdenu', datdenu.id ]">{{datdenu.id}}</a></td>
                <td>{{datdenu.nNumtrbafe}}</td>
                <td>{{datdenu.vHoraini}}</td>
                <td>{{datdenu.vHorafin}}</td>
                <td>{{datdenu.vDesmotivo}}</td>
                <td>{{datdenu.vDesotro}}</td>
                <td>
                    <a *ngIf="datdenu.bArchivo" (click)="openFile(datdenu.bArchivoContentType, datdenu.bArchivo)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="datdenu.bArchivo">{{datdenu.bArchivoContentType}}, {{byteSize(datdenu.bArchivo)}}</span>
                </td>
                <td>{{datdenu.vArchtipo}}</td>
                <td>{{datdenu.vFlggreide}}</td>
                <td>{{datdenu.vUsuareg}}</td>
                <td>{{datdenu.tFecreg | date:'medium'}}</td>
                <td>{{datdenu.nFlgactivo}}</td>
                <td>{{datdenu.nSedereg}}</td>
                <td>{{datdenu.vUsuaupd}}</td>
                <td>{{datdenu.tFecupd | date:'medium'}}</td>
                <td>{{datdenu.nSedeupd}}</td>
                <td>
                    <div *ngIf="datdenu.detmotden">
                        <a [routerLink]="['../detmotden', datdenu.detmotden?.id ]" >{{datdenu.detmotden?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../datdenu', datdenu.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'datdenu/'+ datdenu.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'datdenu/'+ datdenu.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
