
<div *ngIf="tipresconc">
    <h2><span jhiTranslate="gatewayApp.tipresconc.detail.title">Tipresconc</span> {{tipresconc.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.tipresconc.vDescrip">V Descrip</span></dt>
        <dd>
            <span>{{tipresconc.vDescrip}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{tipresconc.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{tipresconc.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{tipresconc.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{tipresconc.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{tipresconc.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{tipresconc.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{tipresconc.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tipresconc/'+ tipresconc.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
