
<div *ngIf="tipresconc">
    <h2><span jhiTranslate="gatewayApp.tipresconc.detail.title">Tipresconc</span> {{tipresconc.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.tipresconc.vDescripcion">V Descripcion</span></dt>
        <dd>
            <span>{{tipresconc.vDescripcion}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.vUsuarioreg">V Usuarioreg</span></dt>
        <dd>
            <span>{{tipresconc.vUsuarioreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.dFechareg">D Fechareg</span></dt>
        <dd>
            <span>{{tipresconc.dFechareg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.nEliminar">N Eliminar</span></dt>
        <dd>
            <span>{{tipresconc.nEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{tipresconc.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.vUsuarioupd">V Usuarioupd</span></dt>
        <dd>
            <span>{{tipresconc.vUsuarioupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.dFechaupd">D Fechaupd</span></dt>
        <dd>
            <span>{{tipresconc.dFechaupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tipresconc.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{tipresconc.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tipresconc/'+ tipresconc.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
