<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">ANEXO 1 B</h5>
            <h5 class="title">VOLUMEN FÍSICO DE PRODUCCIÓN Y/O SERVICIOS</h5>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-body">
                    <a href="#" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    <br/>
                    <br/>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td>PRODUCTOS Y/O SERVICIOS (1)</td>
                                <td>UNIDAD DE MEDIDA</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="concepto">PRODUCTO1</td>
                                <td class="concepto">UNIDAD1</td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="concepto">PRODUCTO2</td>
                                <td class="concepto">UNIDAD2</td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="concepto">PRODUCTO3</td>
                                <td class="concepto">UNIDAD3</td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00">
                                </td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div style="font-size:9pt;">
                        <br/>

                        <p>
                            INSTRUCCIONES:
                            <br/> (1) Más de 15 productos y/o servicios considerarlos unidades de producción y/o servicios.
                            <br/> -Los productos y/o servicios deberán guardar relación con el Anexo 1A
                            <br/> -La información de la columna 2014, 2015 y 2016 corresponde a los resultados financieros correspondientes
                            a los tres últimos años.
                            <br/> -La columna 2107 contiene información preliminar hasta el último periodo mensual declarado a
                            la SUNAT (PDT 621) del ejercicio vigente (especificar mes y año).
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-sm-right">
                    <a href="#" class="btn btn-sm m-1 btn-success">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                    <a href="#" class="btn btn-sm m-1 btn-secondary">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<footer class="row flex-nowrap">
    <div class="left-col active col-2 col-sm-2 col-md-2 col-lg-2">
        <div class="aside-footer row">
        </div>
    </div>
    <div class="footer d-flex justify-content-center align-items-center right-col col-10 col-sm-10 col-md-10 col-lg-10">
        <p class="text-center my-1">MTPE © 2017 Todos los derechos reservados</p>
    </div>
    <div id="scroll">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
</footer>

<!-- Modal Direccion-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="titleReg" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 30px 20%">
        <div class="modal-content" style="width:900px;">
            <div class="modal-header text-white bg-warning p-2">
                <h5 class="modal-title" id="titleReg">Registro de Ventas Netos U Operación</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label for="inpDireccion" class="col-form-label col-form-label-sm">Producto y/o Servicio:</label>
                            <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="inpDireccion" class="col-form-label col-form-label-sm">Unidad de Medida:</label>
                            <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <fieldset>
                                <legend>2014</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Año 2014</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Año 2015</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Año 2016</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Año 2017</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-sm btn-danger" data-dismiss="modal">
                    <i class="fa fa-ban" aria-hidden="true"></i> Cancelar</a>
                <a href="#" class="btn btn-sm btn-warning">
                    <i class="fa fa-plus" aria-hidden="true"></i> Añadir</a>
            </div>
        </div>
    </div>
</div>