<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">ANEXO 1A</h5>
            <h5 class="title">INGRESOS POR VENTAS NETAS Y/O SERVICIOS</h5>
            <h6 class="title">(A valores históricos)</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-body">
                    <p>INGRESOS DE VENTAS NETOS U OPERACIÓN</p>
                    <p>&nbsp; Nacional
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td rowspan="2">Productos y/o Servicios(1)</td>
                                <td rowspan="2">Unidad de Medida</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2014</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2015</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2016</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2017</td>
                                <td rowspan="2">Acción</td>
                            </tr>
                            <tr style="font-size:7.5pt;">

                                <td>Volumen Fisico de Ventas y/o Servicios</td>
                                <td>Precio Promedio de Ventas o Valor Unitario(2)</td>
                                <td style="border-right: 1px white solid;">Ingresos(3)</td>
                                <td>Volumen Fisico de Ventas y/o Servicios</td>
                                <td>Precio Promedio de Ventas o Valor Unitario(2)</td>
                                <td style="border-right: 1px white solid;">Ingresos(3)</td>
                                <td>Volumen Fisico de Ventas y/o Servicios</td>
                                <td>Precio Promedio de Ventas o Valor Unitario(2)</td>
                                <td style="border-right: 1px white solid;">Ingresos(3)</td>
                                <td>Volumen Fisico de Ventas y/o Servicios</td>
                                <td>Precio Promedio de Ventas o Valor Unitario(2)</td>
                                <td>Ingresos(3)</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>SUBTOTAL</td>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>&nbsp; Internacional
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal"
                            data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td rowspan="2">Productos y/o Servicios(1)</td>
                                <td rowspan="2">Unidad de Medida</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2014</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2015</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2016</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2017</td>
                                <td rowspan="2">Acción</td>
                            </tr>
                            <tr style="font-size:7.5pt;">

                                <td>Volumen Fisico de Ventas y/o Servicios</td>
                                <td>Precio Promedio de Ventas o Valor Unitario(2)</td>
                                <td style="border-right: 1px white solid;">Ingresos(3)</td>
                                <td>Volumen Fisico de Ventas y/o Servicios</td>
                                <td>Precio Promedio de Ventas o Valor Unitario(2)</td>
                                <td style="border-right: 1px white solid;">Ingresos(3)</td>
                                <td>Volumen Fisico de Ventas y/o Servicios</td>
                                <td>Precio Promedio de Ventas o Valor Unitario(2)</td>
                                <td style="border-right: 1px white solid;">Ingresos(3)</td>
                                <td>Volumen Fisico de Ventas y/o Servicios</td>
                                <td>Precio Promedio de Ventas o Valor Unitario(2)</td>
                                <td>Ingresos(3)</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>SUBTOTAL</td>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">

                        <tbody>
                            <tr>
                                <td class="concepto" style="width:150px">
                                    <strong>INGRESO TOTAL (4)</strong>
                                </td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>

                                <td style="width: 10%"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="font-size:9pt;">
                        <br/>


                        <p>
                            INSTRUCCIONES:
                            <br/> (1) Más de 15 productos y/o servicios considerarlos por líneas de producción y/o servicios.
                            <br/> (2) Precio sin considerar el I.G.V.
                            <br/> (3) Multiplicar el volumen físico por el precio promedio de ventas.
                            <br/> (4) El ingreso total deberá consignar los mismos montos de las ventas netas o ingresos por servicios
                            presentados en la Declaración del Pago Anual por el Impuesto a la Renta Tercera Categoría presentada
                            a la SUNAT.
                            <br/> -La información de la columna 2014, 2015 y 2016 corresponde a los resultados financieros de
                            los tres últimos años.
                            <br/> -La columna 2017 contiene información preliminar hasta el último periodo mensual declarado a
                            la SUNAT (PDT 621) del ejercicio vigente (especificar mes y año).
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-sm-right">
                    <a href="#" class="btn btn-sm m-1 btn-success">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                    <a href="#" class="btn btn-sm m-1 btn-secondary">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<footer class="row flex-nowrap">
    <div class="left-col active col-2 col-sm-2 col-md-2 col-lg-2">
        <div class="aside-footer row">
        </div>
    </div>
    <div class="footer d-flex justify-content-center align-items-center right-col col-10 col-sm-10 col-md-10 col-lg-10">
        <p class="text-center my-1">MTPE © 2017 Todos los derechos reservados</p>
    </div>
    <div id="scroll">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
</footer>

</div>

<!-- Modal Direccion-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="titleReg" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 30px 20%">
        <div class="modal-content" style="width:900px;">
            <div class="modal-header text-white bg-warning p-2">
                <h5 class="modal-title" id="titleReg">Registro de Ventas Netos U Operación</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label for="inpDireccion" class="col-form-label col-form-label-sm">Producto y/o Servicio:</label>
                            <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                        </div>
                        <div class="col">
                            <label for="inpDireccion" class="col-form-label col-form-label-sm">Unidad de Medida:</label>
                            <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <fieldset>
                                <legend>2014</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <fieldset>
                                <legend>2015</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <fieldset>
                                <legend>2016</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <fieldset>
                                <legend>2017</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-sm btn-danger" data-dismiss="modal">
                    <i class="fa fa-ban" aria-hidden="true"></i> Cancelar</a>
                <a href="#" class="btn btn-sm btn-warning">
                    <i class="fa fa-plus" aria-hidden="true"></i> Añadir</a>
            </div>
        </div>
    </div>
</div>