<div class="content-wrapper right-col col-10 col-sm-10 col-md-10 col-lg-10 py-2">
    <div class="row">
      <div class="col" style="text-align:center;">
          <h5 class="title">ANEXO 2 A</h5>
          <h5 class="title">ESTADOS DE FLUJOS DE EFECTIVO</h5>
          <h6 class="title">(Soles)</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card card-mtpe mb-3">	
          <div class="card-body">
                <p>FLUJOS DE EFECTIVO DE ACTIVIDAD DE OPERACIÓN</p>
                <p>&nbsp;&nbsp;Clases de cobros en efectivo por actividades de operación</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto">Concepto</td>
                      <td>2015</td>
                      <td>2016</td>
                  </tr>
              </thead>
                  <tbody>
                    <tr>
                      <td class="concepto">Cobros procedentes de las ventas de bienes y prestación de servicios</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Cobros procedentes de regalías, cuotas, comisiones y otros ingresos de actividades ordinarias</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Cobros derivados de contratos mantenidos para intermediación o para negociar con ellos</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Arredamiento y posterior venta de esos activos</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Otros cobros por actividades de operación</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                  </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Clases de pagos en efectivo por actividades de operación</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto">Concepto</td>
                      <td>2015</td>
                      <td>2016</td>
                  </tr>
              </thead>
                  <tbody>
                    <tr>
                      <td class="concepto">Pagos a proveedores por el suministro de bienes y servicios</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Pagos procedentes de contratos mantenidos para intermediación o para negociar</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Pagos a y por cuenta de los empleados</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Pagos por producir o adquirir activos mant. para arrendar a terc. y post.e mant.s para la venta</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Otros pagos por actividades de operación</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                  </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Flujos de efectivo y equivalente al efectivo procedente de (utilizados en) operaciones</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto">Concepto</td>
                      <td>2015</td>
                      <td>2016</td>
                  </tr>
              </thead>
                  <tbody>
                    <tr>
                      <td class="concepto">Intereses recibidos (no incluidos en la Actividad de Inversión)</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Intereses pagados (no incluidos en la Actividad de Financiación)</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Dividendos Recibidos (no incluidos en la Actividad de Inversión)</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Dividendos pagados(no incluidos en la Actividad de Financiación)</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Impuestos a las ganancias (pagados) reembolsados</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Otras entradas (salidas) de efectivo</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto">FLUJOS DE EFECTIVO Y EQUIVALENTE AL EFECTIVO PROCEDENTE DE (UTILIZADOS EN) ACTIVIDADES DE OPERACIÓN (I)</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                  </tbody>
                </table>
                
                
                <p>FLUJOS DE EFECTIVO DE ACTIVIDAD DE INVERSIÓN</p>
                <p>&nbsp;&nbsp;Clases de cobros en efectivo por actividades de inversión</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto">Concepto</td>
                      <td>2015</td>
                      <td>2016</td>
                  </tr>
              </thead>
                  <tbody>
                    <tr>
                      <td class="concepto">Anticipos de efectivo y préstamos concedidos a terceros</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Flujos de efectivo procedentes de la pérdida de control de subsidiarias u otros negocios</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Cobros procedentes del reembolso de préstamos concedidos a entidades relacionadas</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Venta de  Instrumentos Financieros de Patrimonio o Deuda de Otras Entidades</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Contratos Derivados (futuro, a término, opciones)</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Cobros por la venta de Participaciones en Negocios Conjuntos, Neto del Efectivo Desapropiado</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Venta de Propiedades, Planta y Equipo</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Venta de Activos Intangibles</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Recursos por ventas de otros activos a largo plazo</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Importes procedentes de subvenciones del gobierno</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Intereses Recibidos</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Dividendos Recibidos</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                  </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Clases de pagos en efectivo por actividades de inversión</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto">Concepto</td>
                      <td>2015</td>
                      <td>2016</td>
                  </tr>
              </thead>
                  <tbody>
                    <tr>
                      <td class="concepto">Anticipos y Prestamos Concedidos a Terceros</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Flujos de efectivo utilizados para obtener el control de subsidiarias u otros negocios</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Prestamos concedidos a entidades relacionadas</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Compra de Instrumentos Financieros de Patrimonio o Deuda de Otras Entidades</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Pagos derivados de contratos de futuro, a término, de opciones y de permuta financiera</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Compra de Subsidiarias, Neto del Efectivo Adquirido</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Otros pagos para adquirir participaciones en negocios conjuntos, Neto del Efectivo Adquirido</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Compra de Propiedades, Planta  y Equipo</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Compra de Activos Intangibles</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Compra de Otros Activos de largo plazo</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Impuestos a las ganancias (pagados) reembolsados</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Otros cobros (pagos) de efectivo relativos a la actividad de inversión</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto">FLUJOS DE EFECTIVO Y EQUIVALENTE AL EFECTIVO PROCEDENTE DE (UTILIZADOS EN) ACTIVIDADES DE INVERSIÓN (II)</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                  </tbody>
                </table>
                
                
                <p>FLUJOS DE EFECTIVO DE ACTIVIDAD DE FINANCIACIÓN</p>
                <p>&nbsp;&nbsp;Clases de cobros en efectivo por actividades de financiación</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto">Concepto</td>
                      <td>2015</td>
                      <td>2016</td>
                  </tr>
              </thead>
                  <tbody>
                    <tr>
                      <td class="concepto">Obtención de Préstamos</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Préstamos de entidades relacionadas</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Recursos por cambios en las participaciones en la propiedad en subsidiarias que no dan lugar a la pérdida de control</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Importes procedentes de la emisión de Acciones</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Importes procedentes de la emisión de Otros Instrumentos de Patrimonio</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Importes procedentes de subvenciones del gobierno</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                  </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Clases de pagos en efectivo por actividades de financiación</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto">Concepto</td>
                      <td>2015</td>
                      <td>2016</td>
                  </tr>
              </thead>
                  <tbody>
                    <tr>
                      <td class="concepto">Reembolsos de préstamos</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Pagos de pasivos por arrendamientos financieros</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Importes procedentes de préstamos de entidades relacionadas</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Pagos por cambios en las participaciones en la propiedad en subsidiarias que no dan lugar a la pérdida de control</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Pagos por adquirir o rescatar las acciones de la entidad</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Pagos por otras participaciones en el patrimonio</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Intereses pagados</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Dividendos pagados</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Impuestos a las ganancias (pagados) reembolsados</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                      <td class="concepto">Otros cobros (pagos) de efectivo relativos a la actividad de financiación</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto">FLUJOS DE EFECTIVO Y EQUIVALENTE AL EFECTIVO PROCEDENTE DE (UTILIZADOS EN) ACTIVIDADES DE FINANCIACIÓN (III)</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                  </tbody>
                </table>
                
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto">AUMENTO (DISMINUCIÓN) NETO DE EFEC. Y EQUIV. AL EFECTIVO\, ANTES DE LAS VAR. EN LAS TASAS DE CAMBIO (I+II+III)</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto">Efectos de las Variaciones en las Tasas de Cambio sobre el Efectivo y Equivalentes al Efectivo</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto">INCREMENTO (DISMINUCIÓN) NETO DE EFECTIVO Y EQUIVALENTE AL EFECTIVO</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto">EFECTIVO Y EQUIVALENTE AL EFECTIVO AL INICIO DEL EJERCICIO (*)</td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                      <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto">EFECTIVO Y EQUIVALENTE AL EFECTIVO AL FINALIZAR EL EJERCICIO (**)</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                      <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                  </tbody>
                </table>
                
                <div style="font-size:9pt;">					  
                <p>
                  INSTRUCCIONES:<br/>
                  (*) Saldo de caja bancos al inicio del año. <br/>
                  (**) Saldo de caja bancos al final del año.<br/>
                  -La  información  de  la  columna  2015 y 2016  muestra la situación financiera correspondiente al día final de los dos últimos años terminados.<br/>
                  -La columna  2015 y 2016 se debe llenar con la información de la Declaración del Pago Anual por el Impuesto a la Renta de Tercera Categoría presentada a la SUNAT.<br/>
                </p>
                </div>
              </div>
        </div>
        <div class="row">
          <div class="col-12 text-sm-right">
            <a href="#" class="btn btn-sm m-1 btn-success"><i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
            <a href="#" class="btn btn-sm m-1 btn-secondary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
          </div>
        </div>
      </div>
    </div>
  </div>