<div>
    <h2>
        <span jhiTranslate="gatewayApp.legajoasig.home.title">Legajoasigs</span>
        <button class="btn btn-primary float-right jh-create-entity create-legajoasig" [routerLink]="['/', { outlets: { popup: ['legajoasig-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.legajoasig.home.createLabel">
            Create new Legajoasig
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.legajoasig.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="legajoasigs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.vCodreg">V Codreg</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.vCodzon">V Codzon</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.vCodleg">V Codleg</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.nCorrel">N Correl</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.vAboasig">V Aboasig</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.dFecasig">D Fecasig</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.vHostreg">V Hostreg</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.legajoasig.legajo">Legajo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let legajoasig of legajoasigs ;trackBy: trackId">
                <td><a [routerLink]="['../legajoasig', legajoasig.id ]">{{legajoasig.id}}</a></td>
                <td>{{legajoasig.vCodreg}}</td>
                <td>{{legajoasig.vCodzon}}</td>
                <td>{{legajoasig.vCodleg}}</td>
                <td>{{legajoasig.nCorrel}}</td>
                <td>{{legajoasig.vAboasig}}</td>
                <td>{{legajoasig.dFecasig | date:'mediumDate'}}</td>
                <td>{{legajoasig.vHostreg}}</td>
                <td>{{legajoasig.nUsuareg}}</td>
                <td>{{legajoasig.tFecreg | date:'medium'}}</td>
                <td>{{legajoasig.nFlgactivo}}</td>
                <td>{{legajoasig.nSedereg}}</td>
                <td>{{legajoasig.nUsuaupd}}</td>
                <td>{{legajoasig.tFecupd | date:'medium'}}</td>
                <td>{{legajoasig.nSedeupd}}</td>
                <td>
                    <div *ngIf="legajoasig.legajo">
                        <a [routerLink]="['../legajo', legajoasig.legajo?.id ]" >{{legajoasig.legajo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../legajoasig', legajoasig.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'legajoasig/'+ legajoasig.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'legajoasig/'+ legajoasig.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
