<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUsuarioHorarioLabel" jhiTranslate="gatewayApp.usuarioHorario.home.createOrEditLabel">Create or edit a Usuario Horario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!usuarioHorario.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="usuarioHorario.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.usuarioHorario.numDiaSemana" for="field_numDiaSemana">Num Dia Semana</label>
            <input type="number" class="form-control" name="numDiaSemana" id="field_numDiaSemana"
                [(ngModel)]="usuarioHorario.numDiaSemana"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.usuarioHorario.datHoraInicio" for="field_datHoraInicio">Dat Hora Inicio</label>
            <div class="input-group">
                <input id="field_datHoraInicio" type="text" class="form-control" name="datHoraInicio" [(ngModel)]="usuarioHorario.datHoraInicio"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="datHoraInicioDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.usuarioHorario.datHoraFin" for="field_datHoraFin">Dat Hora Fin</label>
            <div class="input-group">
                <input id="field_datHoraFin" type="text" class="form-control" name="datHoraFin" [(ngModel)]="usuarioHorario.datHoraFin"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="datHoraFinDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.usuarioHorario.usuario" for="field_usuario">Usuario</label>
            <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="usuarioHorario.usuario" >
                <option [ngValue]="null"></option>
                <option [ngValue]="usuarioOption.id === usuarioHorario.usuario?.id ? usuarioHorario.usuario : usuarioOption" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
