<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonanaturLabel" jhiTranslate="gatewayApp.personanatur.home.createOrEditLabel">Create or edit a Personanatur</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!personanatur.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="personanatur.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.vNombres" for="field_vNombres">V Nombres</label>
            <input type="text" class="form-control" name="vNombres" id="field_vNombres"
                [(ngModel)]="personanatur.vNombres" required maxlength="100" />
            <div [hidden]="!(editForm.controls.vNombres?.dirty && editForm.controls.vNombres?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNombres?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNombres?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.vApepaterno" for="field_vApepaterno">V Apepaterno</label>
            <input type="text" class="form-control" name="vApepaterno" id="field_vApepaterno"
                [(ngModel)]="personanatur.vApepaterno" required maxlength="100" />
            <div [hidden]="!(editForm.controls.vApepaterno?.dirty && editForm.controls.vApepaterno?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vApepaterno?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vApepaterno?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.vApematerno" for="field_vApematerno">V Apematerno</label>
            <input type="text" class="form-control" name="vApematerno" id="field_vApematerno"
                [(ngModel)]="personanatur.vApematerno" required maxlength="100" />
            <div [hidden]="!(editForm.controls.vApematerno?.dirty && editForm.controls.vApematerno?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vApematerno?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vApematerno?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.vNumdocumento" for="field_vNumdocumento">V Numdocumento</label>
            <input type="text" class="form-control" name="vNumdocumento" id="field_vNumdocumento"
                [(ngModel)]="personanatur.vNumdocumento" required maxlength="15" />
            <div [hidden]="!(editForm.controls.vNumdocumento?.dirty && editForm.controls.vNumdocumento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumdocumento?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vNumdocumento?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 15 }">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.vTelefono" for="field_vTelefono">V Telefono</label>
            <input type="text" class="form-control" name="vTelefono" id="field_vTelefono"
                [(ngModel)]="personanatur.vTelefono" maxlength="15" />
            <div [hidden]="!(editForm.controls.vTelefono?.dirty && editForm.controls.vTelefono?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vTelefono?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 15 }">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.vCelular" for="field_vCelular">V Celular</label>
            <input type="text" class="form-control" name="vCelular" id="field_vCelular"
                [(ngModel)]="personanatur.vCelular" maxlength="15" />
            <div [hidden]="!(editForm.controls.vCelular?.dirty && editForm.controls.vCelular?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vCelular?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 15 }">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.vEmail" for="field_vEmail">V Email</label>
            <input type="text" class="form-control" name="vEmail" id="field_vEmail"
                [(ngModel)]="personanatur.vEmail" maxlength="100" />
            <div [hidden]="!(editForm.controls.vEmail?.dirty && editForm.controls.vEmail?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vEmail?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.dFecnacimiento" for="field_dFecnacimiento">D Fecnacimiento</label>
            <div class="d-flex">
                <input id="field_dFecnacimiento" type="datetime-local" class="form-control" name="dFecnacimiento" [(ngModel)]="personanatur.dFecnacimiento"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.csexo" for="field_csexo">Csexo</label>
            <input type="text" class="form-control" name="csexo" id="field_csexo"
                [(ngModel)]="personanatur.csexo" required maxlength="1" />
            <div [hidden]="!(editForm.controls.csexo?.dirty && editForm.controls.csexo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.csexo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.csexo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                   This field cannot be longer than 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.cFlgestado" for="field_cFlgestado">C Flgestado</label>
            <input type="text" class="form-control" name="cFlgestado" id="field_cFlgestado"
                [(ngModel)]="personanatur.cFlgestado" required maxlength="1" />
            <div [hidden]="!(editForm.controls.cFlgestado?.dirty && editForm.controls.cFlgestado?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cFlgestado?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cFlgestado?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                   This field cannot be longer than 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.vUsuarioreg" for="field_vUsuarioreg">V Usuarioreg</label>
            <input type="text" class="form-control" name="vUsuarioreg" id="field_vUsuarioreg"
                [(ngModel)]="personanatur.vUsuarioreg" required maxlength="20" />
            <div [hidden]="!(editForm.controls.vUsuarioreg?.dirty && editForm.controls.vUsuarioreg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuarioreg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuarioreg?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.dFechareg" for="field_dFechareg">D Fechareg</label>
            <div class="d-flex">
                <input id="field_dFechareg" type="datetime-local" class="form-control" name="dFechareg" [(ngModel)]="personanatur.dFechareg"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.dFechareg?.dirty && editForm.controls.dFechareg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dFechareg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dFechareg?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.nEliminar" for="field_nEliminar">N Eliminar</label>
            <input type="number" class="form-control" name="nEliminar" id="field_nEliminar"
                [(ngModel)]="personanatur.nEliminar" required min="0" max="1" />
            <div [hidden]="!(editForm.controls.nEliminar?.dirty && editForm.controls.nEliminar?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nEliminar?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nEliminar?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nEliminar?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 1 }">
                    This field cannot be more than 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nEliminar?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.nSedereg" for="field_nSedereg">N Sedereg</label>
            <input type="number" class="form-control" name="nSedereg" id="field_nSedereg"
                [(ngModel)]="personanatur.nSedereg" required />
            <div [hidden]="!(editForm.controls.nSedereg?.dirty && editForm.controls.nSedereg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nSedereg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nSedereg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.vUsuarioupd" for="field_vUsuarioupd">V Usuarioupd</label>
            <input type="text" class="form-control" name="vUsuarioupd" id="field_vUsuarioupd"
                [(ngModel)]="personanatur.vUsuarioupd" maxlength="20" />
            <div [hidden]="!(editForm.controls.vUsuarioupd?.dirty && editForm.controls.vUsuarioupd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuarioupd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.dFechaupd" for="field_dFechaupd">D Fechaupd</label>
            <div class="d-flex">
                <input id="field_dFechaupd" type="datetime-local" class="form-control" name="dFechaupd" [(ngModel)]="personanatur.dFechaupd"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.nSedeupd" for="field_nSedeupd">N Sedeupd</label>
            <input type="number" class="form-control" name="nSedeupd" id="field_nSedeupd"
                [(ngModel)]="personanatur.nSedeupd"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.personanatur.tipdocident" for="field_tipdocident">Tipdocident</label>
            <select class="form-control" id="field_tipdocident" name="tipdocident" [(ngModel)]="personanatur.tipdocident" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tipdocidentOption.id === personanatur.tipdocident?.id ? personanatur.tipdocident : tipdocidentOption" *ngFor="let tipdocidentOption of tipdocidents; trackBy: trackTipdocidentById">{{tipdocidentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
