<div>
    <h2>
        <span jhiTranslate="gatewayApp.tipdocident.home.title">Tipdocidents</span>
        <button class="btn btn-primary float-right jh-create-entity create-tipdocident" [routerLink]="['/', { outlets: { popup: ['tipdocident-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.tipdocident.home.createLabel">
            Create new Tipdocident
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.tipdocident.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tipdocidents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.tipdocident.vDesdocide">V Desdocide</span></th>
            <th><span jhiTranslate="gatewayApp.tipdocident.nNumdigi">N Numdigi</span></th>
            <th><span jhiTranslate="gatewayApp.tipdocident.vDescorta">V Descorta</span></th>
            <th><span jhiTranslate="gatewayApp.tipdocident.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.tipdocident.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.tipdocident.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.tipdocident.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.tipdocident.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.tipdocident.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.tipdocident.nSedeupd">N Sedeupd</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipdocident of tipdocidents ;trackBy: trackId">
                <td><a [routerLink]="['../tipdocident', tipdocident.id ]">{{tipdocident.id}}</a></td>
                <td>{{tipdocident.vDesdocide}}</td>
                <td>{{tipdocident.nNumdigi}}</td>
                <td>{{tipdocident.vDescorta}}</td>
                <td>{{tipdocident.nUsuareg}}</td>
                <td>{{tipdocident.tFecreg | date:'medium'}}</td>
                <td>{{tipdocident.nFlgactivo}}</td>
                <td>{{tipdocident.nSedereg}}</td>
                <td>{{tipdocident.nUsuaupd}}</td>
                <td>{{tipdocident.tFecupd | date:'medium'}}</td>
                <td>{{tipdocident.nSedeupd}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tipdocident', tipdocident.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tipdocident/'+ tipdocident.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tipdocident/'+ tipdocident.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
