@font-face {
  font-family: "FranklinGothicStdBC";
  src: url('../../content/fonts/ITCFranklinGothicStd-BkCd.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "FranklinGothicStdMC";
  src: url('../../content/fonts/ITCFranklinGothicStd-MdCd.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "FranklinGothicStdDC";
  src: url('../../content/fonts/ITCFranklinGothicStd-DmCd.woff') format('woff');
  font-weight: bold;
}
body{
  font-family: "FranklinGothicStdBC";
}
.content-wrapper {
  background: #f4f4f4;
}
.left-col, .right-col {
  transition: all .5s ease;
}
/*header*/
header{
  background-color: #ffc700;
  color: #fff;
}
header .left-col a.logo{
  background-color: #F5911E;
  min-height: 50px;
  font-size: 1.3rem;
}
header .left-col a.logo:hover{
  text-decoration: none;
}
@media (min-width: 992px){
  header .left-col a.logo span.active{
    display: none;
  }
}
@media (max-width: 991px){
  header .left-col a.logo span{
    display: none;
  }
}
@media (max-width: 767px){
  header .left-col a.logo span{
    display: block;
  }
}
a.toggle-bars {
  color: #fff;
  display: block;
  height: 50px;
  padding: 15px;
}
a.toggle-bars:hover {
  background: #f5911e;
}
.select-aplicativo{
  min-width: 100px;
  max-width: 200px;
  font-size: 12px;
}
.select-aplicativo:focus{
  background-color: #ffc700;
  border-color: #f9ae3b;
}
.dropdown-menu{
  background-color: #ffc700;
}
/*end header*/
/*aside*/
section .left-col {
  background-color: #232323;
  min-height: calc(100vh - 100px);
}
section .welcome.active{
  display: none;
}

@media (max-width: 991px){
  section .welcome{
    display: none;
  }
}
@media (max-width: 767px) {
  
}
@media (max-width: 575px){

}
section .welcome img{
  background-color: #ffc700;
  border: 1px solid #ffc700;
}
ul#accordion {
    background-color: #4d4d4d;
    margin-bottom: 0;
}
ul.level-two.p-0 {
    background-color: #484545;
}
section .left-col nav h3{
  color: #8e8e8e;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 0;
}
section .left-col nav h3.active{
  display: none;
}
@media (max-width: 991px){
  section .left-col nav h3{
    display: none;
  }
  section .left-col.active-zero{
    display: none;
  }
}
@media (max-width: 767px) {
  .perfil-name{
    display: none;
  }
}
@media (max-width: 575px){

}
ul{
  list-style: none;
}
ul li, ul li a {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: .9rem;
}
section ul.level-one li a span{
  color: #e7e7e7;
  text-align: left;
}
section ul.level-one li a i{
  color: #e7e7e7;
  text-align: center;
}
section ul.level-one li:hover a span, ul.level-one li:hover a i{
  color: #fff;
}
section ul li ul.level-two{
  display: none;
}
section ul li ul.level-two li a{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 42px;
}
section ul#accordion li.active {
  border-right: 5px solid #f5911e;
}
section ul li.active a span.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
section ul.level-one li a .fa-chevron-down.active{
  display: none;
}
@media (max-width: 991px){
  section ul li a span.fa-chevron-down {
    display: none;
  }
}
section ul.level-two li:hover, ul.level-two li.active-submenu{
  background-color: #656060;
}
section ul.level-two li:hover a{
  text-decoration: none;
}
section ul.level-two li:before {
  background: #ff0000;
  bottom: auto;
  content: "";
  height: 8px;
  left: 23px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%;
}
section ul.level-two li:after {
  border-left: 1px solid #ff0000;
  bottom: 0;
  content: "";
  left: 27px;
  position: absolute;
  top: 0;
}
section ul#accordion li a:hover{
  text-decoration: none;
}
section ul#accordion li.active > a {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background: linear-gradient(#b90b0b, #c50909), #dc411e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}
        /* .- click toggle -.*/
section ul#accordion li ul.level-two-min{
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 210px;
  z-index: 4000;
  background: #ca1d1d;
}
section ul#accordion li ul.level-two-min li{
  position: relative;
}
section ul#accordion li ul.level-two-min li:hover{
  background-color: #e22b2b;
}
section ul#accordion li ul.level-two-min li:before, ul#accordion li ul.level-two-min li:after{
  content: none;
}
section ul#accordion li ul.level-two-min li a{
  padding: 8px;
}
@media (max-width: 991px){
  section ul#accordion li ul{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #ca1d1d;
  }
  section ul#accordion li ul li{
    position: relative;
  }
  section ul#accordion li ul li:hover{
    background-color: #e22b2b;
  }
  section ul#accordion li ul li:before, ul#accordion li ul li:after{
    content: none;
  }
  section ul#accordion li ul li a{
    padding: 8px;
  }
  section .left-col.active a{ /*normalizado*/
    padding: 15px 5px;
  }
  section .left-col.active nav a i{ /*normalizado*/
    font-size: 1.5rem;
  }
  section .left-col.active nav a span{ /*normalizado*/
    font-size: .7rem;
  }
}
@media (max-width: 767px) {
  
}
@media (max-width: 575px){

}
   /* .- fin click toggle -.*/
    /**** fin submenu ********/
@media (max-width: 991px) {
  
}
@media (max-width: 575px) {
  ul.level-one > li>a span{
    display: none;
  }
}
/* .: end column left :. */
/*end aside*/
footer .aside-footer{
  background-color: #232323;
  height: 100%;
}
footer .footer{
  background-color: #fff;
  color: #000;
  font-size: .9rem;
  height: 50px;
  border-top: 1px solid #d2d6de;
}
@media (max-width: 991px){
  footer .left-col.active-zero{
    display: none;
  }
}
/* .: contenedor principal :.*/
#content-main{
  background-image: url("../../content/images/fondo-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.title{
  color: #4d4d4d;
}
.card{
  border-top: 3px solid #d2d6de;
}
.card-panel .card-header{
  background-color: #fff;
  color: #4d4d4d;
  padding: 10px 5px;
  margin: 0 15px 10px 15px;
}
.card-panel .card-header h5{
  margin-bottom: 0;
}
.card-panel .card-header ul li a {
  color: #8a8989;
  font-size: 13px;
}
.card-panel .card-header ul li a:hover {
  background-color: #f2f2f2;
}
.card-panel .card-header ul li.active > a i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card-panel .card-body label{
  color: #4d4d4d;
  font-weight: bold;
  font-size: 13px;
}
.card-panel .card-footer{
  background-color: #fff;
  color: #4d4d4d;
  padding: 10px 5px;
  margin: 0 15px;
}
.card-columns-panel .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 992px) {
  .card-columns-panel {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns-panel .card {
    display: inline-block;
    width: 100%;
  }
}
/* .: fin contenedor principal :.*/
#scroll{
  background-color: red;
  height: 40px;
  width: 40px;
  position: fixed;
  z-index: 10;
  right: 30px;
  bottom: 60px;
  color: #fff;
  text-align: center;
  padding: 7px;
  opacity: .5;
  display: none;
}
#scroll:hover{
  opacity: 1;
}
/* .: fin footer :.*/
  /* .: home :.*/
#page-title{
  padding: 10px;
}
.wraper div i{
  opacity: .7;
}
.wraper:hover div i{
  opacity: 1;
}
.wraper:hover{
  text-decoration: none;
}
/* .: fin home :.*/
.ng-valid{
  // border: thin solid #090;
  padding-left:auto;
}
.ng-invalid{
  border: thin solid #990000;
}
/*Datatables*/
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid #ff0000;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ff0000));
  background: -webkit-linear-gradient(top, #fff 0%, #ff0000 100%);
  background: -moz-linear-gradient(top, #fff 0%, #ff0000 100%);
  background: -ms-linear-gradient(top, #fff 0%, #ff0000 100%);
  background: -o-linear-gradient(top, #fff 0%, #ff0000 100%);
  background: linear-gradient(to bottom, #fff 0%, #ff0000 100%);
}
table.dataTable.no-footer {
  border-bottom: 1px solid #e9ecef;
}
table thead th, table thead td {
  padding: 10px 18px;
  border-bottom: 0;
}
table.dataTable thead th, table.dataTable thead td {
  border-bottom: none;
}
table thead tr{
  background: red;
  color: #fff;
}
table tr td:nth-last-child(1){
  text-align: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
}
.page-item.active .page-link {
  background-color: #f00;
  border-color: #f00;
}
.page-link {
  color: #000000;
  margin-left: 0;
}    
.page-link:focus, .page-link:hover {
  color: #333;
  text-decoration: none;
  background-color: #f9ae3b;
  border-color: #f9ae3b;
}
.table-dash tbody tr td:nth-last-child(2), .table-dash tbody tr td:nth-last-child(3), .table-dash tbody tr td:nth-last-child(4){
  text-align: center;
}
/*end Datatables*/
/*forum*/
#t-forum thead tr {
    background-color: #f00;
    color: #fff;
}
#t-forum.dataTable thead th, #t-forum.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 0px;
}
#t-forum.dataTable.no-footer {
  border-bottom: 1px solid #c3c3c3;
}
.forum-image {
  padding: 5px 10px;
}
.icon-theme{
  border: 1px solid #c2c2c2;
  padding: 10px;
  border-radius: 8px;
}
.icon-theme i{
  color: #f9ae3b;
  font-size: 1.4rem;
}
.forum-content{
  color: #333;
}
.forum-content a{
  color: #333;
}
.buttons-excel, .buttons-pdf, .buttons-print{
  color: #fff;
  margin: 10px;
}
.buttons-excel{
  background-color: #207245;
  border: none;
}
.buttons-excel:hover, .buttons-excel:active, .buttons-excel:focus, .buttons-excel:active:hover{
  background-color: #195835;
  color: #fff;
}
.buttons-pdf{
  background-color: #e51a2d;
  border: none;
}
.buttons-pdf:hover, .buttons-pdf:active, .buttons-pdf:focus, .buttons-pdf:active:hover{
  background-color: #c71526;
  color: #fff;
}
.buttons-print{
  background-color: #616160;
  border: none;
}
.buttons-print:hover, .buttons-print:active, .buttons-print:focus, .buttons-print:active:hover{
  background-color: #484847;
  color: #fff;
}
/*widgets*/
.d-steps{
  position: relative;
}
.d-progress {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;  
}
.d-progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background: #f00;
}
.d-step-circle{
  width: 40px;
  height: 40px;
  background: #ddd;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.d-step.active .d-step-circle{
  width: 48px;
  height: 48px;
  background: #f00;
  font-size: 22px;
}
.d-step.active p {
  color: #f00;
}
.d-step p {
  color: #ccc;
}
.y-step .y-progress {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
}
.y-step:first-child .y-progress{
  left: 50%;
}
.y-step:last-child .y-progress{
  width: 50%;
}
.y-step.active .y-progress .y-progress-line{
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #f00;
}
.y-step .y-content .y-content-circle{
  position: relative;
  width: 40px;
  height: 40px;
  background: #868e96;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.y-step.active .y-content .y-content-circle{
  width: 48px;
  height: 48px;
  background: #f00;
  font-size: 22px;
}
.y-step.active p {
  color: #f00;
}
fieldset {
  border: 1px solid #f5911e !important;
  margin: 0;
  //xmin-width: 0;
  padding: 10px;       
  position: relative;
  border-radius:4px;
  background-color:#fbfbfb;
  padding-left:10px!important;
} 
legend{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px; 
  width: 35%; 
  border: 1px solid #f5911e;
  border-radius: 4px; 
  padding: 5px 5px 5px 10px; 
  background-color: #fff6eb;
}
@media (max-width: 575px) {
  legend{
    font-size: 13px;
    width: 100%; 
  }
}
table.list tbody{
  background-color: #fff;
}
.table.list td, .table th {
  padding: .25rem;
}
/*input file*/
.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;    
  color: #333;
  background-color: #fff;
  border-color: #ccc;    
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}
/*end input file 768-784*/
#resultado {
  background: #fff;
}
#resultado ul{
  list-style:none;
}
#resultado ul li:hover{
  background-color: red;
  color: #fff;
}


a.dropdown-item{
  font-size: 16px;
}
a.a-menu span{
  text-align: center;
}
div.pl-0.align-self-center{
  text-align: center;
}
ul.level-one.mt-2.p-0 i{
  text-align: center;
}

//Wizard
body .ui-steps:before{
  border: 1px solid #F90014;
  border-bottom: 0px solid red;
}
body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
  background-color: #F90014;
  color: #ffffff;
  border-color: #F90014;
}
p-steps{
  width:100%;
}
.ui-steps.steps-custom {
  margin-bottom: 30px;
}
.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}
.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}
.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #F90014;
}
body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-title{
  font-weight: 300;
  font-size: 16px;
  font-family: "FranklinGothicStdBC";
  color: #F90014;
}
body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-title{
  font-weight: 300;
  font-size: 16px;
  font-family: "FranklinGothicStdBC";
}


.card-header:first-child{
  border-radius: 0;
}


//TABLE


body .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-thead>tr>th {
  font-weight: 400;
}
body .ui-datatable .ui-datatable-data>tr>td, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-thead>tr>th {
  border-color: inherit;
  box-sizing: border-box;
  padding: .25em .5em;
  border-width: 1px;
  border-style: solid;
}

body .ui-datatable .ui-datatable-thead > tr > th, body .ui-datatable .ui-datatable-tfoot > tr > td {
  background-color: #F90014;
  font-size: 14px;
  font-family: "FranklinGothicStdBC";
  padding: .75em;
  border-color: #d1d7dc;
  color: #ffffff;
}
body .ui-datatable .ui-datatable-data>tr>td, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-thead>tr>th {
  border-color: inherit;
  font-size: 13px;
  font-family: "FranklinGothicStdBC";
  box-sizing: border-box;
  padding: 3px 6px;
  border-width: 1px;
  border-style: solid;
}

ngb-accordion{
  .card{
      border-top: 0px solid grey;
      background: transparent;
  }

  .card-header{
    padding: 1px;
}
.card-header.active{
    padding: 1px;
}

  .card-body{
    padding: 1px;
  }
}
body .ui-widget{
  font-family: "FranklinGothicStdBC";
  font-size: 14px;
}

body .ui-togglebutton.ui-button.ui-state-default, .ui-selectbutton .ui-button.ui-state-default {
  border: 1px solid #d6d6d6;
  background: #ffffff;
  font-weight: normal;
  color: #555555;
}
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover {
  border-color: #c0c0c0;
  background: #eeeeee;
  color: #212121;
}
body .ui-togglebutton.ui-button.ui-state-active, .ui-selectbutton .ui-button.ui-state-active {
  border: 1px solid #156090;
  background: #186ba0;
  color: #FFFFFF;
}
input[name=rangeDates] {
  width: 180px;
}
body .ui-inputtext {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.1rem;
}
label.ui-radiobutton-label{
  margin-bottom: 0;
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
  font-size: 0.5em;
  overflow: visible;
  position: relative;
  top: -0.50em;
}

.footer-steps{
  width: 100%;
  background: white;
  margin: 0px auto 20px;
  padding: 5px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.15rem;
  border-top: 0px;
}

.fa{
  .fa-chevron-right{
    font-size: 11px;
  }
  .fa-chevron-left{
    font-size: 11px;
  }
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer {
  padding: .3em 1em;
  background-color: #f5f5f5;
}
body .ui-datatable .ui-datatable-thead > tr > th, body .ui-datatable .ui-datatable-tfoot > tr > td{
  border-color: #a7a7a7;
}
p-header{
  font-family: "FranklinGothicStdMC";
}

body .ui-widget, body .ui-widget .ui-widget, body .ui-widget input, body .ui-widget select, body .ui-widget textarea, body .ui-widget button {
  font-family: "FranklinGothicStdBC";
  font-size:13px;
}
button.ui-button-text-icon-left .ui-button-text {
  padding: .25em .5em .25em 1.5em;
}

.form-notificacion {
  border-radius: 4px;
  border: 2px solid #62c8ff;
  padding: 10px 10px 0px;
  margin-bottom:10px;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li{
  border-radius: 3.68px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #c8c8c8;
  border-bottom: 0px solid white;
}
body .ui-tabview .ui-tabview-panel{
  border:1px solid #c8c8c8;
  border-top:0px solid grey;
  padding:10px;
}
