<div>
    <h2>
        <span jhiTranslate="gatewayApp.federacion.home.title">Federacions</span>
        <button class="btn btn-primary float-right jh-create-entity create-federacion" [routerLink]="['/', { outlets: { popup: ['federacion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.federacion.home.createLabel">
            Create new Federacion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.federacion.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="federacions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.tFecafilia">T Fecafilia</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.vEstado">V Estado</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.cTipafilia">C Tipafilia</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.federacion.organizacio">Organizacio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let federacion of federacions ;trackBy: trackId">
                <td><a [routerLink]="['../federacion', federacion.id ]">{{federacion.id}}</a></td>
                <td>{{federacion.tFecafilia | date:'medium'}}</td>
                <td>{{federacion.vEstado}}</td>
                <td>{{federacion.cTipafilia}}</td>
                <td>{{federacion.nUsuareg}}</td>
                <td>{{federacion.tFecreg | date:'medium'}}</td>
                <td>{{federacion.nFlgactivo}}</td>
                <td>{{federacion.nSedereg}}</td>
                <td>{{federacion.nUsuaupd}}</td>
                <td>{{federacion.tFecupd | date:'medium'}}</td>
                <td>{{federacion.nSedeupd}}</td>
                <td>
                    <div *ngIf="federacion.organizacio">
                        <a [routerLink]="['../organizacio', federacion.organizacio?.id ]" >{{federacion.organizacio?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../federacion', federacion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'federacion/'+ federacion.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'federacion/'+ federacion.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
