<div>
    <h2>
        <span jhiTranslate="gatewayApp.document.home.title">Documents</span>
        <button class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/', { outlets: { popup: ['document-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.document.home.createLabel">
            Create new Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.document.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="documents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.document.vNomdocume">V Nomdocume</span></th>
            <th><span jhiTranslate="gatewayApp.document.blArchivo">Bl Archivo</span></th>
            <th><span jhiTranslate="gatewayApp.document.vObsdocume">V Obsdocume</span></th>
            <th><span jhiTranslate="gatewayApp.document.vEstado">V Estado</span></th>
            <th><span jhiTranslate="gatewayApp.document.vTipodocum">V Tipodocum</span></th>
            <th><span jhiTranslate="gatewayApp.document.tFecregist">T Fecregist</span></th>
            <th><span jhiTranslate="gatewayApp.document.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.document.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.document.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.document.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.document.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.document.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.document.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.document.organizacio">Organizacio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents ;trackBy: trackId">
                <td><a [routerLink]="['../document', document.id ]">{{document.id}}</a></td>
                <td>{{document.vNomdocume}}</td>
                <td>
                    <a *ngIf="document.blArchivo" (click)="openFile(document.blArchivoContentType, document.blArchivo)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="document.blArchivo">{{document.blArchivoContentType}}, {{byteSize(document.blArchivo)}}</span>
                </td>
                <td>{{document.vObsdocume}}</td>
                <td>{{document.vEstado}}</td>
                <td>{{document.vTipodocum}}</td>
                <td>{{document.tFecregist | date:'medium'}}</td>
                <td>{{document.nUsuareg}}</td>
                <td>{{document.tFecreg | date:'medium'}}</td>
                <td>{{document.nFlgactivo}}</td>
                <td>{{document.nSedereg}}</td>
                <td>{{document.nUsuaupd}}</td>
                <td>{{document.tFecupd | date:'medium'}}</td>
                <td>{{document.nSedeupd}}</td>
                <td>
                    <div *ngIf="document.organizacio">
                        <a [routerLink]="['../organizacio', document.organizacio?.id ]" >{{document.organizacio?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../document', document.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'document/'+ document.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'document/'+ document.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
