<div>
    <h2>
        <span jhiTranslate="gatewayApp.sindicato.home.title">Sindicatoes</span>
        <button class="btn btn-primary float-right jh-create-entity create-sindicato" [routerLink]="['/', { outlets: { popup: ['sindicato-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.sindicato.home.createLabel">
            Create new Sindicato
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.sindicato.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sindicatoes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.sindicato.tFecafilia">T Fecafilia</span></th>
            <th><span jhiTranslate="gatewayApp.sindicato.vEstado">V Estado</span></th>
            <th><span jhiTranslate="gatewayApp.sindicato.nUsuareg">N Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.sindicato.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.sindicato.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.sindicato.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.sindicato.nUsuaupd">N Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.sindicato.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.sindicato.nSedeupd">N Sedeupd</span></th>
            <th><span jhiTranslate="gatewayApp.sindicato.organizacio">Organizacio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sindicato of sindicatoes ;trackBy: trackId">
                <td><a [routerLink]="['../sindicato', sindicato.id ]">{{sindicato.id}}</a></td>
                <td>{{sindicato.tFecafilia | date:'medium'}}</td>
                <td>{{sindicato.vEstado}}</td>
                <td>{{sindicato.nUsuareg}}</td>
                <td>{{sindicato.tFecreg | date:'medium'}}</td>
                <td>{{sindicato.nFlgactivo}}</td>
                <td>{{sindicato.nSedereg}}</td>
                <td>{{sindicato.nUsuaupd}}</td>
                <td>{{sindicato.tFecupd | date:'medium'}}</td>
                <td>{{sindicato.nSedeupd}}</td>
                <td>
                    <div *ngIf="sindicato.organizacio">
                        <a [routerLink]="['../organizacio', sindicato.organizacio?.id ]" >{{sindicato.organizacio?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sindicato', sindicato.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sindicato/'+ sindicato.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sindicato/'+ sindicato.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
