
<div *ngIf="multaconci">
    <h2><span jhiTranslate="gatewayApp.multaconci.detail.title">Multaconci</span> {{multaconci.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.multaconci.fMonmulta">F Monmulta</span></dt>
        <dd>
            <span>{{multaconci.fMonmulta}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.vNumresosd">V Numresosd</span></dt>
        <dd>
            <span>{{multaconci.vNumresosd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.dFecresosd">D Fecresosd</span></dt>
        <dd>
            <span>{{multaconci.dFecresosd | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.vCodigo">V Codigo</span></dt>
        <dd>
            <span>{{multaconci.vCodigo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{multaconci.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{multaconci.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{multaconci.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{multaconci.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{multaconci.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{multaconci.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{multaconci.nSedeupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.multaconci.resolucrd">Resolucrd</span></dt>
        <dd>
            <div *ngIf="multaconci.resolucrd">
                <a [routerLink]="['/resolucrd', multaconci.resolucrd?.id]">{{multaconci.resolucrd?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'multaconci/'+ multaconci.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
