
<div *ngIf="resolutor">
    <h2><span jhiTranslate="gatewayApp.resolutor.detail.title">Resolutor</span> {{resolutor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.resolutor.vNomresolutor">V Nomresolutor</span></dt>
        <dd>
            <span>{{resolutor.vNomresolutor}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolutor.nCodresolutorusuario">N Codresolutorusuario</span></dt>
        <dd>
            <span>{{resolutor.nCodresolutorusuario}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolutor.nUsuareg">N Usuareg</span></dt>
        <dd>
            <span>{{resolutor.nUsuareg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolutor.tFecreg">T Fecreg</span></dt>
        <dd>
            <span>{{resolutor.tFecreg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolutor.nFlgactivo">N Flgactivo</span></dt>
        <dd>
            <span>{{resolutor.nFlgactivo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolutor.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{resolutor.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolutor.nUsuaupd">N Usuaupd</span></dt>
        <dd>
            <span>{{resolutor.nUsuaupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolutor.tFecupd">T Fecupd</span></dt>
        <dd>
            <span>{{resolutor.tFecupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.resolutor.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{resolutor.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'resolutor/'+ resolutor.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
