
<div *ngIf="docingreperc">
    <h2><span jhiTranslate="gatewayApp.docingreperc.detail.title">Docingreperc</span> {{docingreperc.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.docingreperc.vDescripcion">V Descripcion</span></dt>
        <dd>
            <span>{{docingreperc.vDescripcion}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docingreperc.vUsuarioreg">V Usuarioreg</span></dt>
        <dd>
            <span>{{docingreperc.vUsuarioreg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docingreperc.dFechareg">D Fechareg</span></dt>
        <dd>
            <span>{{docingreperc.dFechareg | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docingreperc.nEliminar">N Eliminar</span></dt>
        <dd>
            <span>{{docingreperc.nEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docingreperc.nSedereg">N Sedereg</span></dt>
        <dd>
            <span>{{docingreperc.nSedereg}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docingreperc.vUsuarioupd">V Usuarioupd</span></dt>
        <dd>
            <span>{{docingreperc.vUsuarioupd}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docingreperc.dFechaupd">D Fechaupd</span></dt>
        <dd>
            <span>{{docingreperc.dFechaupd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.docingreperc.nSedeupd">N Sedeupd</span></dt>
        <dd>
            <span>{{docingreperc.nSedeupd}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'docingreperc/'+ docingreperc.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
